@charset "utf-8";

.l{
    &-sidebar{
        width: 230px;
        font-weight: bold;
        @include sp {
            display: none;
            width: 100%;
        }
        &__block {
            margin-bottom: 10px;
            background-color: #fff;
            &--sns {
                background-color: transparent;
            }
        }
        &__title {
            padding: 6px 18px;
            letter-spacing: .1em;
            border-bottom: 2px solid $color-key;
        }
        &__pickupList {
            padding: 15px 10px;
        }
        &__pickup {
            display: inline-block;
            background-color: #e6e6e6;
            margin-bottom: 7px;
            padding: 4px 12px;
            border-radius: 3px;
            &:hover {
                cursor: pointer;
                background-color: $color_key;
            }
        }
        &__link {
            a {
                position: relative;
                display: block;
                padding: 12px 15px 12px 50px;
                &:before {
                    content: "";
                    display: block;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    transform: translate(0,-50%);
                }
                &.arrow:before {
                    background-image: url(#{$img_path}icon/arrow.png);
                }
                &.men:before {
                    background-image: url(#{$img_path}icon/men.png);
                }
                &.women:before {
                    background-image: url(#{$img_path}icon/women.png);
                }
                &.kids:before {
                    background-image: url(#{$img_path}icon/kids.png);
                }
                &.baby:before {
                    background-image: url(#{$img_path}icon/baby.png);
                }
                &.uniform:before {
                    background-image: url(#{$img_path}icon/uniform.png);
                }
                &.shirt:before {
                    background-image: url(#{$img_path}icon/shirt.png);
                }
                &.hat:before {
                    background-image: url(#{$img_path}icon/hat.png);
                }
                &.fashion:before {
                    background-image: url(#{$img_path}icon/fashion.png);
                }
                &.inner:before {
                    background-image: url(#{$img_path}icon/inner.png);
                }
                &.goods:before {
                    background-image: url(#{$img_path}icon/goods.png);
                }
                &.stationery:before {
                    background-image: url(#{$img_path}icon/stationery.png);
                }
                &.toy:before {
                    background-image: url(#{$img_path}icon/toy.png);
                }
                &.food:before {
                    background-image: url(#{$img_path}icon/food.png);
                }
                &.book:before {
                    background-image: url(#{$img_path}icon/book.png);
                }
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &__snsList {
            margin-top: 15px;
        }
        &__snsLink {
            margin-bottom: 10px;
            a {
                position: relative;
                padding: 15px 15px 15px 55px;
                font-size: 13px;
                display: block;
                background-color: #fff;
                border: 1px solid #b5b5b5;
                small {
                    font-size: 7px;
                }
                &:before {
                    content: "";
                    display: block;
                    width: 35px;
                    height: 35px;
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    margin-top: -17.5px;
                    transition: transform .5s;
//                    transform: translate(0,-50%);
                    background-size: cover;
                }
                &.facebook:before {
                    background-image: url(#{$img_path}sns/facebook.png);
                }
                &.instagram:before {
                    background-image: url(#{$img_path}sns/instagram.png);
                }
                &.line:before {
                    background-image: url(#{$img_path}sns/line.png);
                }
                &.twitter:before {
                    background-image: url(#{$img_path}sns/twitter.png);
                }
                &:hover {
                    &:before {
                        transform: rotateY(-360deg);
                    }
                }
            }
            &--ex {
                margin-bottom: 0;
                a {
                    padding: 7px 15px 7px 55px;
                }
            }
        }
    }
}
