@charset "UTF-8";
/**
 * define valiables
 * 各scssファイルでよく使う値を変数定義
 */
/**
 * easing
 */
/**
 * function
 * 値を返す
 */
/**
 * mixins
 * ブロックを返す
 */
/*
デバイス定義
 */
/*
スマホの文字指定専用（横幅640px想定）
font-sizeにvwを設定
 */
/*
clearfix
 */
/*
iOS smooth scroll
 */
/*
opacity
 */
/*
fade
 */
.p-top__main {
  overflow: hidden;
  margin-bottom: 70px; }
  @media print, screen and (max-width: 750px) {
    .p-top__main {
      margin-bottom: 4%; } }
.p-top__kv {
  width: 740px;
  height: 305px; }
  @media print, screen and (max-width: 750px) {
    .p-top__kv {
      width: 100%;
      height: auto;
      margin: auto; } }
  .p-top__kv img {
    width: 100%; }
  .p-top__kv .slick-dots {
    bottom: 10px; }
    @media print, screen and (max-width: 750px) {
      .p-top__kv .slick-dots {
        bottom: -30px; } }
    .p-top__kv .slick-dots li {
      margin: 0 3px; }
      .p-top__kv .slick-dots li button:before {
        font-size: 12px;
        color: #fbd091;
        opacity: 1; }
        @media print, screen and (max-width: 750px) {
          .p-top__kv .slick-dots li button:before {
            font-size: 12px; } }
      .p-top__kv .slick-dots li.slick-active button:before {
        color: #f49c00; }
  .p-top__kv.slick-dotted.slick-slider {
    margin-bottom: 25px !important; }
  .p-top__kv .slick-prev,
  .p-top__kv .slick-next {
    display: none !important;
    z-index: 2;
    width: 34px;
    height: 56px; }
    @media print, screen and (max-width: 750px) {
      .p-top__kv .slick-prev,
      .p-top__kv .slick-next {
        display: none !important; } }
  .p-top__kv .slick-prev {
    left: 0; }
    .p-top__kv .slick-prev:before {
      content: url(/assets/img/icon/arrow_kv_prev.png); }
  .p-top__kv .slick-next {
    right: 0; }
    .p-top__kv .slick-next:before {
      content: url(/assets/img/icon/arrow_kv_next.png); }
.p-top__others {
  zoom: 1.03;
  width: 725px;
  height: 85px;
  margin: auto;
  overflow: hidden;
  text-align: center;
  position: relative;
  left: -5px; }
  @media print, screen and (max-width: 750px) {
    .p-top__others {
      display: none;
      width: 100%;
      height: auto; } }
  .p-top__others .slick-prev,
  .p-top__others .slick-next {
    z-index: 2;
    width: 30px;
    height: 30px;
    top: 47%; }
    @media print, screen and (max-width: 750px) {
      .p-top__others .slick-prev,
      .p-top__others .slick-next {
        display: none !important; } }
  .p-top__others .slick-prev {
    left: 8px; }
    .p-top__others .slick-prev:before {
      content: url(/assets/img/icon/arrow_others_prev.png); }
  .p-top__others .slick-next {
    right: 10px; }
    .p-top__others .slick-next:before {
      content: url(/assets/img/icon/arrow_others_next.png); }
.p-top__othersLink img {
  width: 95%;
  height: auto;
  margin: auto; }
.p-top__othersLink:hover {
  opacity: .8; }
.p-top__section {
  margin-bottom: 70px; }
  @media print, screen and (max-width: 750px) {
    .p-top__section {
      background-color: #fff;
      border-bottom: 4px solid #ccc;
      padding-bottom: 6%;
      margin-bottom: 6.6666666667%; } }
  .p-top__section--new .p-top__itemFrame {
    width: 179px; }
    @media print, screen and (max-width: 750px) {
      .p-top__section--new .p-top__itemFrame {
        width: 100%; } }
    @media print, screen and (max-width: 750px) {
      .p-top__section--new .p-top__itemFrame img {
        border: 1px solid #666; } }
    .p-top__section--new .p-top__itemFrame a {
      min-height: 275px; }
      @media print, screen and (max-width: 750px) {
        .p-top__section--new .p-top__itemFrame a {
          min-height: 0; } }
      @media print, screen and (min-width: 751px) {
        .p-top__section--new .p-top__itemFrame a:hover img {
          transform: scale(1.07); } }
  .p-top__section--column .p-top__itemFrame {
    width: 240px; }
    @media print, screen and (max-width: 750px) {
      .p-top__section--column .p-top__itemFrame {
        width: 100%;
        border-top: 1px solid #aaa; } }
    @media print, screen and (min-width: 751px) {
      .p-top__section--column .p-top__itemFrame a:hover img {
        transform: scale(1.07); } }
  @media print, screen and (max-width: 750px) {
    .p-top__section--column .p-top__itemList {
      border-bottom: 1px solid #aaa;
      display: block; } }
  .p-top__section--column .p-top__item {
    padding-top: 12px; }
    @media print, screen and (max-width: 750px) {
      .p-top__section--column .p-top__item {
        display: flex;
        padding-top: 0; } }
  @media print, screen and (max-width: 750px) {
    .p-top__section--column .p-top__itemTxt {
      font-weight: bold;
      margin-bottom: 4%; } }
  @media print, screen and (max-width: 750px) and (max-width: 750px) {
    .p-top__section--column .p-top__itemTxt {
      font-size: 12px;
      font-size: 3.2vw; } }

  @media print, screen and (max-width: 750px) {
    .p-top__section--column .p-top__itemDate {
      margin-bottom: 4%; } }
  .p-top__section--column .p-top__itemImg {
    width: 218px;
    height: 146px;
    overflow: hidden;
    margin: auto; }
    @media print, screen and (max-width: 750px) {
      .p-top__section--column .p-top__itemImg {
        width: 50%;
        height: auto;
        padding-top: 0;
        border-right: 1px solid #aaa; } }
  @media print, screen and (max-width: 750px) {
    .p-top__section--column .p-top__summery {
      width: 50%;
      padding: 3.3333333333% 4%; } }
  .p-top__section--ranking .p-top__itemFrame {
    width: 143px;
    position: relative; }
    @media print, screen and (max-width: 750px) {
      .p-top__section--ranking .p-top__itemFrame {
        width: 100%; } }
    .p-top__section--ranking .p-top__itemFrame a {
      min-height: 240px; }
      @media print, screen and (max-width: 750px) {
        .p-top__section--ranking .p-top__itemFrame a {
          min-height: 0; } }
    .p-top__section--ranking .p-top__itemFrame:before {
      content: "";
      display: block;
      width: 33px;
      height: 33px;
      position: absolute;
      z-index: 2;
      top: 7px;
      left: 10px;
      background-size: contain;
      background-repeat: no-repeat; }
      @media print, screen and (max-width: 750px) {
        .p-top__section--ranking .p-top__itemFrame:before {
          width: 22px;
          height: 22px; } }
    .p-top__section--ranking .p-top__itemFrame.ranking1:before {
      background-image: url(/assets/img/top/ranking01.png); }
    .p-top__section--ranking .p-top__itemFrame.ranking2:before {
      background-image: url(/assets/img/top/ranking02.png); }
    .p-top__section--ranking .p-top__itemFrame.ranking3:before {
      background-image: url(/assets/img/top/ranking03.png); }
    .p-top__section--ranking .p-top__itemFrame.ranking4:before {
      background-image: url(/assets/img/top/ranking04.png); }
    .p-top__section--ranking .p-top__itemFrame.ranking5:before {
      background-image: url(/assets/img/top/ranking05.png); }
    @media print, screen and (min-width: 751px) {
      .p-top__section--ranking .p-top__itemFrame a:hover img {
        transform: scale(1.07); } }
  .p-top__section--recommend .p-top__itemFrame {
    width: 179px; }
    @media print, screen and (max-width: 750px) {
      .p-top__section--recommend .p-top__itemFrame {
        width: 100%; } }
    .p-top__section--recommend .p-top__itemFrame a {
      min-height: 275px; }
      @media print, screen and (max-width: 750px) {
        .p-top__section--recommend .p-top__itemFrame a {
          min-height: 0; } }
      @media print, screen and (min-width: 751px) {
        .p-top__section--recommend .p-top__itemFrame a:hover img {
          transform: scale(1.07); } }
  .p-top__section--player .p-top__itemFrame {
    background: none;
    width: 166px; }
    @media print, screen and (max-width: 750px) {
      .p-top__section--player .p-top__itemFrame {
        width: 30.4347826087%;
        margin: 0 3px; } }
    .p-top__section--player .p-top__itemFrame a {
      display: block; }
      @media print, screen and (min-width: 751px) {
        .p-top__section--player .p-top__itemFrame a:hover .p-top__item {
          position: relative; }
          .p-top__section--player .p-top__itemFrame a:hover .p-top__item:before {
            content: "";
            display: block;
            width: 5px;
            height: 166px;
            background-color: #f49c00;
            position: absolute;
            top: 0;
            left: 0; }
          .p-top__section--player .p-top__itemFrame a:hover .p-top__item:after {
            content: "";
            display: block;
            width: 5px;
            height: 166px;
            background-color: #f49c00;
            position: absolute;
            top: 0;
            right: 0; } }
      @media print, screen and (min-width: 751px) {
        .p-top__section--player .p-top__itemFrame a:hover .p-top__itemImg:before {
          content: "";
          display: block;
          width: 100%;
          height: 5px;
          background-color: #f49c00;
          position: absolute;
          top: 0;
          left: 0; }
        .p-top__section--player .p-top__itemFrame a:hover .p-top__itemImg:after {
          content: "";
          display: block;
          width: 100%;
          height: 5px;
          background-color: #f49c00;
          position: absolute;
          top: 161px;
          left: 0; } }
  @media print, screen and (max-width: 750px) {
    .p-top__section--player .p-top__itemList {
      width: 92%;
      margin: auto; } }
  .p-top__section--player .p-top__summery {
    padding: 20px 5px; }
    @media print, screen and (max-width: 750px) {
      .p-top__section--player .p-top__summery {
        padding: 6% 0; } }
  .p-top__section--category .hidden {
    display: none; }
    @media print, screen and (max-width: 750px) {
      .p-top__section--category .hidden .p-top__itemFrame:nth-of-type(1), .p-top__section--category .hidden .p-top__itemFrame:nth-of-type(2) {
        width: 32.6086956522% !important; }
        .p-top__section--category .hidden .p-top__itemFrame:nth-of-type(1) a, .p-top__section--category .hidden .p-top__itemFrame:nth-of-type(2) a {
          height: 112px; } }
  @media print, screen and (max-width: 750px) {
    .p-top__section--category .p-top__itemList {
      width: 92%;
      margin: auto; } }
  @media print, screen and (max-width: 750px) {
    .p-top__section--category .p-top__itemList.pc {
      display: none; } }
  @media print, screen and (min-width: 751px) {
    .p-top__section--category .p-top__itemList.sp {
      display: none; } }
  .p-top__section--category .p-top__itemFrame {
    display: flex;
    overflow: hidden;
    width: 177px;
    height: 177px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    @media print, screen and (max-width: 750px) {
      .p-top__section--category .p-top__itemFrame {
        width: 32.6086956522%;
        height: auto; }
        .p-top__section--category .p-top__itemFrame:nth-of-type(1), .p-top__section--category .p-top__itemFrame:nth-of-type(2) {
          width: 49.5%; }
          .p-top__section--category .p-top__itemFrame:nth-of-type(1) a, .p-top__section--category .p-top__itemFrame:nth-of-type(2) a {
            height: 170px; } }
    .p-top__section--category .p-top__itemFrame a {
      position: relative;
      z-index: 2;
      display: block;
      width: 177px;
      height: 177px;
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      background-color: transparent; }
      @media print, screen and (max-width: 750px) {
        .p-top__section--category .p-top__itemFrame a {
          width: 100%;
          height: 112px;
          margin-bottom: 3px; } }
  @media print, screen and (max-width: 750px) and (max-width: 750px) {
    .p-top__section--category .p-top__itemFrame a {
      font-size: 11px;
      font-size: 2.9333333333vw; } }

      .p-top__section--category .p-top__itemFrame a:after {
        z-index: 0;
        content: "";
        display: block;
        width: 177px;
        height: 177px;
        position: absolute;
        background-size: cover;
        top: 0;
        left: 0;
        transition: all .3s ease-out; }
        @media print, screen and (max-width: 750px) {
          .p-top__section--category .p-top__itemFrame a:after {
            width: 100%;
            height: 100%; } }
      @media print, screen and (min-width: 751px) {
        .p-top__section--category .p-top__itemFrame a:hover:after {
          transform: scale(1.1); } }
      .p-top__section--category .p-top__itemFrame a span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 177px;
        height: 177px;
        position: relative;
        z-index: 2; }
        @media print, screen and (max-width: 750px) {
          .p-top__section--category .p-top__itemFrame a span {
            width: 100%;
            height: 100%; } }
    .p-top__section--category .p-top__itemFrame.men a:after {
      background-image: url(/assets/img/top/category01.png); }
    .p-top__section--category .p-top__itemFrame.kids a:after {
      background-image: url(/assets/img/top/category02.png); }
    .p-top__section--category .p-top__itemFrame.baby a:after {
      background-image: url(/assets/img/top/category03.png); }
    .p-top__section--category .p-top__itemFrame.garmour a:after {
      background-image: url(/assets/img/top/category04.png); }
    .p-top__section--category .p-top__itemFrame.women a:after {
      background-image: url(/assets/img/top/category05.png); }
    .p-top__section--category .p-top__itemFrame.cap a:after {
      background-image: url(/assets/img/top/category06.png); }
    .p-top__section--category .p-top__itemFrame.uniform a:after {
      background-image: url(/assets/img/top/category07.png); }
    .p-top__section--category .p-top__itemFrame.limited a:after {
      background-image: url(/assets/img/top/category08.png); }
  .p-top__section--checked .p-top__itemFrame {
    width: 143px; }
    @media print, screen and (max-width: 750px) {
      .p-top__section--checked .p-top__itemFrame {
        width: 100%; } }
    .p-top__section--checked .p-top__itemFrame a {
      width: 93%;
      margin: auto; }
  @media print, screen and (min-width: 751px) {
    .p-top__section--checked .p-top__itemList {
      width: 620px;
      margin: auto; } }
  .p-top__section--twitter .p-top__twitterArea {
    width: 93%;
    margin: auto; }
    .p-top__section--twitter .p-top__twitterArea .twitter-timeline {
      width: 350px !important;
      height: 350px !important; }
  @media print, screen and (max-width: 750px) {
    .p-top__section--new .p-top__itemList, .p-top__section--ranking .p-top__itemList, .p-top__section--recommend .p-top__itemList, .p-top__section--checked .p-top__itemList {
      width: auto;
      flex-wrap: nowrap;
      justify-content: flex-start;
      margin: auto; } }
  @media print, screen and (max-width: 750px) {
    .p-top__section--new .p-top__itemImg, .p-top__section--ranking .p-top__itemImg, .p-top__section--recommend .p-top__itemImg, .p-top__section--checked .p-top__itemImg {
      padding-top: 1px; }
      .p-top__section--new .p-top__itemImg img, .p-top__section--ranking .p-top__itemImg img, .p-top__section--recommend .p-top__itemImg img, .p-top__section--checked .p-top__itemImg img {
        border: 1px solid #666; } }
@media print, screen and (max-width: 750px) {
  .p-top__title {
    margin-bottom: 5.3333333333%; } }
.p-top__itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
.p-top__itemFrame {
  overflow: hidden;
  margin-bottom: 18px;
  position: relative; }
  @media print, screen and (max-width: 750px) {
    .p-top__itemFrame {
      margin-bottom: 0; } }
  .p-top__itemFrame.new:before {
    content: "";
    display: block;
    width: 68px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/assets/img/top/new.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2; }
    @media print, screen and (max-width: 750px) {
      .p-top__itemFrame.new:before {
        width: 34px;
        height: 24px; } }
  .p-top__itemFrame a {
    display: block;
    background: #fff; }
    .p-top__itemFrame a .p-top__itemImg {
      overflow: hidden; }
    .p-top__itemFrame a img {
      transition: all .2s ease; }
.p-top__itemImg {
  text-align: center; }
  .p-top__itemImg img {
    width: 100%;
    height: auto; }
.p-top__itemDate {
  font-size: 11px;
  color: #6d6d6d; }
.p-top__itemDetails {
  font-size: 11px;
  color: #aaa;
  text-align: right; }
  .p-top__itemDetails span {
    text-decoration: underline; }
.p-top__playerName {
  font-size: 20px;
  font-weight: bold; }
@media print, screen and (max-width: 750px) and (max-width: 750px) {
  .p-top__playerName {
    font-size: 12.5px;
    font-size: 3.3333333333vw; } }

  .p-top__playerName small {
    display: block;
    font-size: 10px; }
    @media print, screen and (max-width: 750px) {
      .p-top__playerName small {
        line-height: 1; } }
  @media print, screen and (max-width: 750px) and (max-width: 750px) {
    .p-top__playerName small {
      font-size: 6.5px;
      font-size: 1.7333333333vw; } }

.p-top__summery {
  font-weight: bold;
  padding: 12px; }
  @media print, screen and (max-width: 750px) {
    .p-top__summery {
      padding: 6% 0; } }
  @media print, screen and (max-width: 750px) and (max-width: 750px) {
    .p-top__summery {
      font-size: 10px;
      font-size: 2.6666666667vw; } }

.p-top__newsArea {
  margin-bottom: 25px; }
  @media print, screen and (max-width: 750px) {
    .p-top__newsArea {
      margin-bottom: 0; } }
.p-top__newsTabBlock {
  display: flex;
  margin-bottom: 25px; }
  @media print, screen and (max-width: 750px) {
    .p-top__newsTabBlock {
      margin-bottom: 0; } }
.p-top__newsTab {
  text-align: center;
  width: 370px; }
  @media print, screen and (max-width: 750px) {
    .p-top__newsTab {
      width: 100%; } }
  .p-top__newsTab a {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    color: #a3a3a3;
    border-bottom: 7px solid #a3a3a3; }
    @media print, screen and (max-width: 750px) {
      .p-top__newsTab a {
        border-bottom: none;
        background-color: #e6e6e6;
        color: #000; } }
  @media print, screen and (max-width: 750px) and (max-width: 750px) {
    .p-top__newsTab a {
      font-size: 12px;
      font-size: 3.2vw; } }

    .p-top__newsTab a:hover {
      color: #f49c00; }
    .p-top__newsTab a.is-active {
      border-bottom: 7px solid #f49c00;
      color: #000; }
      @media print, screen and (max-width: 750px) {
        .p-top__newsTab a.is-active {
          position: relative;
          border-bottom: none;
          background-color: #fff; }
          .p-top__newsTab a.is-active:before {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-color: #f49c00;
            position: absolute;
            top: -4px;
            left: 0; } }
      .p-top__newsTab a.is-active:after {
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translate(-50%, 0);
        content: "";
        display: block;
        border-top: 9px solid #f49c00;
        border-right: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 9px solid transparent; }
        @media print, screen and (max-width: 750px) {
          .p-top__newsTab a.is-active:after {
            display: none; } }
  @media print, screen and (max-width: 750px) {
    .p-top__newsTab--A a {
      border-right: 2px solid #b3b3b3; }
      .p-top__newsTab--A a.is-active {
        border-right: none; } }
  @media print, screen and (max-width: 750px) {
    .p-top__newsTab--B a {
      border-left: 2px solid #b3b3b3; }
      .p-top__newsTab--B a.is-active {
        border-left: none; } }
.p-top__newsContent {
  width: 740px;
  overflow: hidden;
  background-color: #fff; }
  @media print, screen and (max-width: 750px) {
    .p-top__newsContent {
      width: 100%;
      margin-bottom: 0; } }
.p-top__newsWrap {
  display: flex;
  width: 1480px;
  transition: .3s; }
  @media print, screen and (max-width: 750px) {
    .p-top__newsWrap {
      width: 200%;
      margin-bottom: 0; } }
  .p-top__newsWrap.is-slide {
    transform: translate(-740px, 0); }
    @media print, screen and (max-width: 750px) {
      .p-top__newsWrap.is-slide {
        transform: translate(-50%, 0); } }
.p-top__newsListBlock {
  width: 740px;
  font-size: 15px;
  padding: 15px 45px; }
  @media print, screen and (max-width: 750px) {
    .p-top__newsListBlock {
      width: 100%;
      margin-bottom: 0;
      padding: 2% 2%; } }
  @media print, screen and (max-width: 750px) and (max-width: 750px) {
    .p-top__newsListBlock {
      font-size: 10px;
      font-size: 2.6666666667vw; } }

.p-top__newsList {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  font-weight: bold; }
  @media print, screen and (max-width: 750px) {
    .p-top__newsList {
      display: block;
      padding: 2.8985507246% 0; } }
  .p-top__newsList:last-of-type {
    border-bottom: none; }
  .p-top__newsList span {
    display: inline-block;
    margin-right: 10px;
    width: 105px; }
    @media print, screen and (max-width: 750px) {
      .p-top__newsList span {
        width: 100%;
        margin-bottom: 0; } }
  .p-top__newsList a {
    position: relative;
    display: inline-block; }
    .p-top__newsList a:hover {
      text-decoration: underline; }
    .p-top__newsList a.new:before {
      content: "NEW";
      display: inline-block;
      color: #ed1c24;
      font-size: 11px;
      font-weight: bold;
      border: 1px solid #ed1c24;
      padding: 0 10px;
      margin-right: 5px; }
@media print, screen and (max-width: 750px) and (max-width: 750px) {
  .p-top__newsList a.new:before {
    font-size: 9px;
    font-size: 2.4vw; } }

.p-top__searchArea {
  background-color: #fff;
  padding: 40px 85px; }
  @media print, screen and (max-width: 750px) {
    .p-top__searchArea {
      padding: 0;
      width: 92%;
      margin: auto; } }
.p-top__searchForm {
  position: relative;
  margin-bottom: 25px;
  font-size: 0; }
  @media print, screen and (max-width: 750px) {
    .p-top__searchForm {
      display: flex;
      justify-content: space-between; } }
  .p-top__searchForm:before {
    display: block;
    position: absolute;
    top: 2px;
    left: 4px;
    content: "";
    width: 26px;
    height: 30px;
    background-image: url(/assets/img/icon/search.png); }
    @media print, screen and (max-width: 750px) {
      .p-top__searchForm:before {
        display: none; } }
  .p-top__searchForm #inputSearch {
    display: inline-block;
    width: 485px;
    font-size: 16px;
    padding: 7px 45px;
    border: none;
    border-bottom: 1px solid #666; }
    @media print, screen and (max-width: 750px) {
      .p-top__searchForm #inputSearch {
        width: 66.6666666667%;
        padding: 2.6666666667%;
        border: 1px solid #666;
        border-radius: 6px; } }
  @media print, screen and (max-width: 750px) and (max-width: 750px) {
    .p-top__searchForm #inputSearch {
      font-size: 12px;
      font-size: 3.2vw; } }

    .p-top__searchForm #inputSearch::placeholder {
      color: #8c8c8c; }
  .p-top__searchForm #submitSearch {
    display: inline-block;
    width: 85px;
    font-size: 16px;
    padding: 7px 0;
    color: #fff;
    background-color: #313131; }
    @media print, screen and (max-width: 750px) {
      .p-top__searchForm #submitSearch {
        width: 26.6666666667%;
        padding: 0;
        background-color: #646464;
        border-radius: 8px;
        box-shadow: 0 4px 0 0 #231815; } }
  @media print, screen and (max-width: 750px) and (max-width: 750px) {
    .p-top__searchForm #submitSearch {
      font-size: 15px;
      font-size: 4vw; } }

.p-top__focusBlock {
  display: flex;
  justify-content: space-between; }
  @media print, screen and (max-width: 750px) {
    .p-top__focusBlock {
      display: block; } }
.p-top__focusTtl {
  width: 110px; }
  @media print, screen and (max-width: 750px) {
    .p-top__focusTtl {
      width: auto;
      display: inline-block;
      margin-bottom: 4%;
      margin-right: 6.6666666667%; } }
  .p-top__focusTtl span {
    position: relative;
    display: inline-block;
    color: #fff;
    background-color: #f49c00;
    padding: 7px 15px;
    height: 32px; }
    .p-top__focusTtl span:after {
      position: absolute;
      right: -16px;
      top: 0;
      display: block;
      content: "";
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      border-left: 16px solid #f49c00; }
.p-top__focusList {
  width: 450px; }
  @media print, screen and (max-width: 750px) {
    .p-top__focusList {
      width: auto;
      display: inline; } }
.p-top__focusTag {
  display: inline-block;
  background-color: #e6e6e6;
  margin-bottom: 7px;
  margin-right: 5px;
  padding: 4px 12px;
  border-radius: 3px; }
  @media print, screen and (max-width: 750px) {
    .p-top__focusTag {
      margin-bottom: 4%; } }
  .p-top__focusTag:hover {
    cursor: pointer;
    background-color: #f49c00; }
    @media print, screen and (max-width: 750px) {
      .p-top__focusTag:hover {
        background-color: #e6e6e6; } }
.p-top__contactInfo {
  text-align: center; }
.p-top__contactTel {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px; }
  @media print, screen and (max-width: 750px) {
    .p-top__contactTel {
      margin-bottom: 6.6666666667%; } }
  @media print, screen and (max-width: 750px) and (max-width: 750px) {
    .p-top__contactTel {
      font-size: 16px;
      font-size: 4.2666666667vw; } }

  .p-top__contactTel strong {
    display: inline-block;
    margin-left: 20px;
    font-size: 37px; }
    @media print, screen and (max-width: 750px) {
      .p-top__contactTel strong {
        display: block;
        margin-left: 0;
        color: #f49c00; } }
  @media print, screen and (max-width: 750px) and (max-width: 750px) {
    .p-top__contactTel strong {
      font-size: 25px;
      font-size: 6.6666666667vw; } }

  .p-top__contactTel span {
    display: block;
    margin-top: 10px;
    font-size: 13px;
    color: #808080; }
    @media print, screen and (max-width: 750px) {
      .p-top__contactTel span {
        display: block;
        margin-top: 0; } }
  @media print, screen and (max-width: 750px) and (max-width: 750px) {
    .p-top__contactTel span {
      font-size: 9px;
      font-size: 2.4vw; } }

.p-top__contactBtn {
  display: inline-block; }
  @media print, screen and (max-width: 750px) {
    .p-top__contactBtn {
      display: block; } }
  .p-top__contactBtn a {
    display: block;
    width: 225px;
    color: #fff;
    background-color: #909090;
    font-weight: bold;
    padding: 5px; }
    @media print, screen and (max-width: 750px) {
      .p-top__contactBtn a {
        width: 86.6666666667%;
        margin: auto;
        background-color: #fff;
        border: 2px solid #000;
        color: #000;
        border-radius: 6px;
        box-shadow: 0px 2px 0px 0px #000;
        padding: 2.3076923077% 0; } }
  @media print, screen and (max-width: 750px) and (max-width: 750px) {
    .p-top__contactBtn a {
      font-size: 12px;
      font-size: 3.2vw; } }

.p-top__btnArea {
  margin-top: 10px;
  text-align: right; }
  @media print, screen and (max-width: 750px) {
    .p-top__btnArea {
      margin-top: 6.1538461538%;
      text-align: center; } }
@media print, screen and (max-width: 750px) {
  .p-top__bannerArea {
    width: 92%;
    margin: auto; } }
.p-top__bannerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
.p-top__banner {
  width: 242px;
  margin-bottom: 5px; }
  .p-top__banner img {
    max-width: 100%; }
  @media print, screen and (max-width: 750px) {
    .p-top__banner {
      width: 49%; }
      .p-top__banner:nth-child(n+3) {
        margin-top: 0.25em; } }
  .p-top__banner a:hover {
    opacity: .7; }
.p-top-checked-slide {
  position: relative; }
  .p-top-checked-slide .swiper-container {
    width: 610px;
    margin: 0 auto; }
    @media print, screen and (max-width: 750px) {
      .p-top-checked-slide .swiper-container {
        width: 92%;
        margin: 0 auto; } }
.p-top-swiper-wrap {
  position: relative; }
  @media print, screen and (max-width: 750px) {
    .p-top-swiper-wrap .swiper-container {
      width: 92%;
      margin: 0 auto; } }
.p-top-swiper-control__prev, .p-top-swiper-control__next, .p-top-swiper-control__prevR, .p-top-swiper-control__nextR {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  transition: opacity .25s;
  z-index: 10;
  top: 35%;
  width: 40px;
  height: 40px; }
  @media print, screen and (min-width: 751px) {
    .p-top-swiper-control__prev, .p-top-swiper-control__next, .p-top-swiper-control__prevR, .p-top-swiper-control__nextR {
      opacity: 0.75; }
      .p-top-swiper-control__prev:hover, .p-top-swiper-control__next:hover, .p-top-swiper-control__prevR:hover, .p-top-swiper-control__nextR:hover {
        cursor: pointer;
        opacity: 1; } }
  @media print, screen and (max-width: 750px) {
    .p-top-swiper-control__prev, .p-top-swiper-control__next, .p-top-swiper-control__prevR, .p-top-swiper-control__nextR {
      top: 25%;
      width: 34px;
      height: 34px; } }
  .p-top-swiper-control__prev.swiper-button-disabled, .p-top-swiper-control__next.swiper-button-disabled, .p-top-swiper-control__prevR.swiper-button-disabled, .p-top-swiper-control__nextR.swiper-button-disabled {
    opacity: 0.25; }
.p-top-swiper-control__prev, .p-top-swiper-control__prevR {
  background-image: url(/assets/img/icon/arrow_gray_prev.png);
  left: 0; }
  @media print, screen and (max-width: 750px) {
    .p-top-swiper-control__prev, .p-top-swiper-control__prevR {
      left: 2px; } }
.p-top-swiper-control__next, .p-top-swiper-control__nextR {
  background-image: url(/assets/img/icon/arrow_gray_next.png);
  right: 0; }
  @media print, screen and (max-width: 750px) {
    .p-top-swiper-control__next, .p-top-swiper-control__nextR {
      right: 2px; } }

.swiper-slide {
  background-color: #fff; }
