@charset "UTF-8";
/**
 * define valiables
 * 各scssファイルでよく使う値を変数定義
 */
/**
 * easing
 */
/**
 * function
 * 値を返す
 */
/**
 * mixins
 * ブロックを返す
 */
/*
デバイス定義
 */
/*
スマホの文字指定専用（横幅640px想定）
font-sizeにvwを設定
 */
/*
clearfix
 */
/*
iOS smooth scroll
 */
/*
opacity
 */
/*
fade
 */
/**
 * define valiables
 * 各scssファイルでよく使う値を変数定義
 */
/**
 * easing
 */
/**
 * function
 * 値を返す
 */
/**
 * mixins
 * ブロックを返す
 */
/*
デバイス定義
 */
/*
スマホの文字指定専用（横幅640px想定）
font-sizeにvwを設定
 */
/*
clearfix
 */
/*
iOS smooth scroll
 */
/*
opacity
 */
/*
fade
 */
.m-itemList {
  margin-top: 48px;
  margin-bottom: 80px;
}
@media print, screen and (max-width: 750px) {
  .m-itemList {
    padding: 3% 0 2% 0;
    background: #EEE;
    margin: 0;
  }
}
.m-itemList a .m-itemImg {
  overflow: hidden;
}
.m-itemList a .m-itemImg img {
  width: 100%;
  transition: 0.3s;
}
.m-itemList a .m-summery {
  transition: 0.3s;
}
.m-itemList a .m-itemTxt {
  height: 2.8em;
  font-weight: normal;
  line-height: 1.4;
}
.m-itemList a .m-itemPrice {
  margin-top: 8px;
}
@media print, screen and (max-width: 750px) {
  .m-itemList a .m-itemPrice {
    margin-top: 2vw;
  }
}
.m-itemList a img {
  width: 100%;
}
@media print, screen and (min-width: 751px) {
  .m-itemList a:hover .m-itemImg img {
    transform: scale(1.07);
  }
  .m-itemList a:hover .m-summery {
    opacity: 0.75;
  }
}
.m-itemList .swiper-slide {
  background: #FFF;
}
.m-itemList .fav-btn {
  display: block;
  background-image: url(/assets/img/icon/favorite_off.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 8px;
  right: 8px;
}
.m-itemList .fav-btn.on {
  background-image: url(/assets/img/icon/favorite_on.png);
}
@media print, screen and (max-width: 750px) {
  .m-itemList .fav-btn {
    width: 8vw;
    height: 8vw;
    background-size: 75% auto;
    top: 1.0666666667vw;
    right: 1.0666666667vw;
  }
}

.m-swiper-pagination {
  text-align: center;
  display: none;
}
@media print, screen and (max-width: 750px) {
  .m-swiper-pagination {
    display: block;
    padding: 2%;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #999999;
  }
}
.m-swiper-pagination .swiper-pagination-bullet {
  margin: 0 1%;
  padding: 1%;
  background: #e4ddcd;
  opacity: 1;
}
.m-swiper-pagination .swiper-pagination-bullet-active {
  background: #f49c00;
}

.m-swiper {
  position: relative;
}
@media print, screen and (max-width: 750px) {
  .m-swiper {
    background: #FFF;
    border-top: 3px solid #c6c6c6;
  }
}
.m-swiper img {
  width: 100%;
}
.m-swiper .swiper-container {
  width: 480px;
  margin: 0 auto;
  font-weight: bold;
}
@media print, screen and (max-width: 750px) {
  .m-swiper .swiper-container {
    width: 100%;
    margin: 0 auto;
  }
  .m-swiper .swiper-container .m-summery {
    padding: 2.5vw;
  }
}
@media print, screen and (max-width: 750px) {
  .m-swiper .swiper-slide:before {
    content: "";
    left: 0px;
    top: 0px;
    display: block;
    height: 500px;
    width: 1px;
    background: #CCC;
    position: absolute;
  }
}
.m-swiper .swiper-slide.swiper-slide-active:before {
  display: none;
}

.m-swiper-wrap {
  position: relative;
}
@media print, screen and (max-width: 750px) {
  .m-swiper-wrap .swiper-container {
    width: 100%;
    margin: 0 auto;
  }
}

.m-swiper-control__prev, .m-swiper-control__next, .m-swiper-control__prevR, .m-swiper-control__nextR {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  transition: opacity .25s;
  z-index: 10;
  top: 35%;
  width: 40px;
  height: 40px;
}
@media print, screen and (min-width: 751px) {
  .m-swiper-control__prev, .m-swiper-control__next, .m-swiper-control__prevR, .m-swiper-control__nextR {
    opacity: 0.75;
  }
  .m-swiper-control__prev:hover, .m-swiper-control__next:hover, .m-swiper-control__prevR:hover, .m-swiper-control__nextR:hover {
    cursor: pointer;
    opacity: 1;
  }
}
@media print, screen and (max-width: 750px) {
  .m-swiper-control__prev, .m-swiper-control__next, .m-swiper-control__prevR, .m-swiper-control__nextR {
    display: none;
    top: 25%;
    width: 34px;
    height: 34px;
  }
}
.m-swiper-control__prev.swiper-button-disabled, .m-swiper-control__next.swiper-button-disabled, .m-swiper-control__prevR.swiper-button-disabled, .m-swiper-control__nextR.swiper-button-disabled {
  opacity: 0.25;
}
.m-swiper-control__prev, .m-swiper-control__prevR {
  background-image: url(/assets/img/icon/arrow_gray_prev.png);
  left: 0;
}
@media print, screen and (max-width: 750px) {
  .m-swiper-control__prev, .m-swiper-control__prevR {
    left: 2px;
  }
}
.m-swiper-control__next, .m-swiper-control__nextR {
  background-image: url(/assets/img/icon/arrow_gray_next.png);
  right: 0;
}
@media print, screen and (max-width: 750px) {
  .m-swiper-control__next, .m-swiper-control__nextR {
    right: 2px;
  }
}

.m-summery {
  font-weight: bold;
  padding: 8px;
}
@media print, screen and (max-width: 750px) {
  .m-summery {
    padding: 6% 0;
  }
}
@media print, screen and (max-width: 750px) and (max-width: 750px) {
  .m-summery {
    font-size: 10px;
    font-size: 2.6666666667vw;
  }
}

.p-top__main {
  overflow: hidden;
  margin-bottom: 70px;
}
@media print, screen and (max-width: 750px) {
  .p-top__main {
    margin-bottom: 0;
    padding-bottom: 2.1333333333vw;
  }
}
.p-top__kv {
  width: 740px;
  height: 300px;
}
@media print, screen and (max-width: 750px) {
  .p-top__kv {
    width: 100%;
    height: auto;
    margin: auto;
  }
}
.p-top__kv img {
  width: 100%;
}
@media print, screen and (max-width: 750px) {
  .p-top__kv.slick-dotted.slick-slider {
    margin-bottom: 4.5333333333vw !important;
  }
  .p-top__kv.slick-dotted.slick-slider .slick-dots {
    bottom: -4.5333333333vw;
  }
  .p-top__kv.slick-dotted.slick-slider .slick-dots li {
    width: 2.4vw;
    height: 2.4vw;
    margin: 0 1.2vw;
    background-color: #e4ddcd;
    border-radius: 50%;
    opacity: 1;
  }
  .p-top__kv.slick-dotted.slick-slider .slick-dots li button {
    display: none;
  }
  .p-top__kv.slick-dotted.slick-slider .slick-dots li.slick-active {
    background-color: #f49c00;
  }
}
.p-top__kv .slick-prev,
.p-top__kv .slick-next {
  display: none !important;
  z-index: 2;
  width: 34px;
  height: 56px;
}
@media print, screen and (max-width: 750px) {
  .p-top__kv .slick-prev,
  .p-top__kv .slick-next {
    display: none !important;
  }
}
.p-top__kv .slick-prev {
  left: 0;
}
.p-top__kv .slick-prev:before {
  content: url(/assets/img/icon/arrow_kv_prev.png);
}
.p-top__kv .slick-next {
  right: 0;
}
.p-top__kv .slick-next:before {
  content: url(/assets/img/icon/arrow_kv_next.png);
}
.p-top__others {
  height: 85px;
  margin: 12px auto 0;
  padding: 4px 0;
  text-align: center;
  position: relative;
}
@media print, screen and (max-width: 750px) {
  .p-top__others {
    display: none;
    width: 100%;
    height: auto;
  }
}
.p-top__others .slick-prev,
.p-top__others .slick-next {
  z-index: 2;
  width: 32px;
  height: 32px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 98% 98% !important;
  top: 47%;
}
.p-top__others .slick-prev:before,
.p-top__others .slick-next:before {
  content: normal;
}
@media print, screen and (max-width: 750px) {
  .p-top__others .slick-prev,
  .p-top__others .slick-next {
    display: none !important;
  }
}
.p-top__others .slick-prev {
  background-image: url(/assets/img/icon/arrow_others_prev.png);
  left: 1px;
}
.p-top__others .slick-next {
  right: 1px;
  background-image: url(/assets/img/icon/arrow_others_next.png);
}
.p-top__others .slick-list {
  width: 664px;
  margin: auto;
}
.p-top__others .slick-slide {
  padding: 4px 9px 0;
}
.p-top__others .slick-slide span {
  display: block;
  height: auto;
  margin: auto;
}
.p-top__others .slick-slide span img {
  width: 100%;
}
.p-top__others .slick-slide.slick-current span {
  position: relative;
}
.p-top__others .slick-slide.slick-current span:before {
  content: "";
  border: 4px solid #f49c00;
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
}
.p-top__others .slick-slide.slick-current .p-top__othersLink:hover {
  opacity: 1;
}
.p-top__othersLink {
  transition: 0.3s;
}
.p-top__othersLink:hover {
  opacity: 0.75;
}
.p-top__section {
  margin-bottom: 70px;
}
@media print, screen and (max-width: 750px) {
  .p-top__section {
    background-color: #fff;
    border-bottom: 4px solid #ccc;
    padding-bottom: 3%;
    margin-bottom: 5%;
  }
}
.p-top__section--new .p-top__itemFrame {
  width: 179px;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--new .p-top__itemFrame {
    width: 100%;
  }
}
@media print, screen and (max-width: 750px) {
  .p-top__section--new .p-top__itemFrame img {
    border: 1px solid #666;
  }
}
.p-top__section--new .p-top__itemFrame a {
  min-height: 275px;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--new .p-top__itemFrame a {
    min-height: 0;
  }
}
@media print, screen and (min-width: 751px) {
  .p-top__section--new .p-top__itemFrame a:hover img {
    transform: scale(1.07);
  }
}
.p-top__section--column .p-top__itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.p-top__section--column .p-top__itemList > a {
  background-color: #fff;
  width: 240px;
  padding: 12px;
  transition: 0.3s;
}
.p-top__section--column .p-top__itemList > a .img {
  overflow: hidden;
}
.p-top__section--column .p-top__itemList > a .img img {
  width: 100%;
  transition: 0.3s;
}
.p-top__section--column .p-top__itemList > a .summery {
  padding-top: 32px;
}
.p-top__section--column .p-top__itemList > a .summery .new {
  margin: -1.2em 0 0.2em;
  color: #f49c00;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--column .p-top__itemList > a .summery .new {
    font-size: 10px;
    font-size: 2.6666666667vw;
  }
}
.p-top__section--column .p-top__itemList > a .summery .ttl {
  height: 4.2em;
  color: #3f3f3f;
  font-size: 16px;
  line-height: 1.4;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--column .p-top__itemList > a .summery .ttl {
    font-size: 12px;
    font-size: 3.2vw;
  }
}
.p-top__section--column .p-top__itemList > a .summery .lead {
  height: 4.2em;
  margin-top: 8px;
  color: #646464;
  font-size: 12px;
  line-height: 1.4;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--column .p-top__itemList > a .summery .lead {
    font-size: 10px;
    font-size: 2.6666666667vw;
  }
}
.p-top__section--column .p-top__itemList > a .summery .unit {
  margin-top: 8px;
  display: flex;
}
.p-top__section--column .p-top__itemList > a .summery .unit .day {
  font-size: 16px;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--column .p-top__itemList > a .summery .unit .day {
    font-size: 12px;
    font-size: 3.2vw;
  }
}
.p-top__section--column .p-top__itemList > a .summery .unit .lbl {
  margin-left: 8px;
}
.p-top__section--column .p-top__itemList > a .summery .unit .lbl .u-lbl {
  font-size: 12px;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--column .p-top__itemList > a .summery .unit .lbl .u-lbl {
    font-size: 10px;
    font-size: 2.6666666667vw;
  }
}
.p-top__section--column .p-top__itemList > a:hover {
  opacity: 0.75;
}
.p-top__section--column .p-top__itemList > a:hover .img img {
  transform: scale(1.07);
}
@media print, screen and (max-width: 750px) {
  .p-top__section--column .p-top__itemList {
    display: block;
  }
  .p-top__section--column .p-top__itemList > a {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    padding: 0;
    border-bottom: 1px solid #ccc;
  }
  .p-top__section--column .p-top__itemList > a .img {
    flex-shrink: 0;
    width: 21.3333333333vw;
  }
  .p-top__section--column .p-top__itemList > a .summery {
    width: 100%;
    padding: 1.0666666667vw 4.2666666667vw;
  }
  .p-top__section--column .p-top__itemList > a .summery .new {
    margin: 0;
    color: #f49c00;
  }
  .p-top__section--column .p-top__itemList > a .summery .ttl {
    height: 2.8em;
  }
  .p-top__section--column .p-top__itemList > a .summery .lead {
    display: none;
    height: 2.8em;
    margin-top: 1.0666666667vw;
  }
  .p-top__section--column .p-top__itemList > a .summery .unit {
    margin-top: 1.0666666667vw;
  }
  .p-top__section--column .p-top__itemList > a .summery .unit .lbl {
    margin-left: 1.0666666667vw;
  }
}
.p-top__section--ranking .p-top__itemFrame {
  width: 143px;
  position: relative;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--ranking .p-top__itemFrame {
    width: 100%;
  }
}
.p-top__section--ranking .p-top__itemFrame a {
  min-height: 240px;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--ranking .p-top__itemFrame a {
    min-height: 0;
  }
}
.p-top__section--ranking .p-top__itemFrame:before {
  content: "";
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  z-index: 2;
  top: 7px;
  left: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--ranking .p-top__itemFrame:before {
    width: 22px;
    height: 22px;
  }
}
.p-top__section--ranking .p-top__itemFrame.ranking1:before {
  background-image: url(/assets/img/top/ranking01.png);
}
.p-top__section--ranking .p-top__itemFrame.ranking2:before {
  background-image: url(/assets/img/top/ranking02.png);
}
.p-top__section--ranking .p-top__itemFrame.ranking3:before {
  background-image: url(/assets/img/top/ranking03.png);
}
.p-top__section--ranking .p-top__itemFrame.ranking4:before {
  background-image: url(/assets/img/top/ranking04.png);
}
.p-top__section--ranking .p-top__itemFrame.ranking5:before {
  background-image: url(/assets/img/top/ranking05.png);
}
@media print, screen and (min-width: 751px) {
  .p-top__section--ranking .p-top__itemFrame a:hover img {
    transform: scale(1.07);
  }
}
.p-top__section--recommend .p-top__itemFrame {
  width: 179px;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--recommend .p-top__itemFrame {
    width: 100%;
  }
}
.p-top__section--recommend .p-top__itemFrame a {
  min-height: 275px;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--recommend .p-top__itemFrame a {
    min-height: 0;
  }
}
@media print, screen and (min-width: 751px) {
  .p-top__section--recommend .p-top__itemFrame a:hover img {
    transform: scale(1.07);
  }
}
.p-top__section--player .p-top__itemFrame {
  background: none;
  width: 166px;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--player .p-top__itemFrame {
    width: 33.3334%;
    margin: 0;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  .p-top__section--player .p-top__itemFrame:nth-child(3n + 1) {
    border-left: none;
  }
}
.p-top__section--player .p-top__itemFrame a {
  display: block;
}
@media print, screen and (min-width: 751px) {
  .p-top__section--player .p-top__itemFrame a:hover .p-top__item {
    position: relative;
  }
  .p-top__section--player .p-top__itemFrame a:hover .p-top__item:before {
    content: "";
    display: block;
    width: 5px;
    height: 166px;
    background-color: #f49c00;
    position: absolute;
    top: 0;
    left: 0;
  }
  .p-top__section--player .p-top__itemFrame a:hover .p-top__item:after {
    content: "";
    display: block;
    width: 5px;
    height: 166px;
    background-color: #f49c00;
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media print, screen and (min-width: 751px) {
  .p-top__section--player .p-top__itemFrame a:hover .p-top__itemImg:before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #f49c00;
    position: absolute;
    top: 0;
    left: 0;
  }
  .p-top__section--player .p-top__itemFrame a:hover .p-top__itemImg:after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #f49c00;
    position: absolute;
    top: 161px;
    left: 0;
  }
}
@media print, screen and (max-width: 750px) {
  .p-top__section--player .p-top__itemList {
    margin: auto;
  }
}
.p-top__section--player .p-top__summery {
  padding: 20px 5px;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--player .p-top__summery {
    padding: 5%;
  }
}
.p-top__section--category .hidden {
  display: none;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--category .hidden .p-top__itemFrame:nth-of-type(1), .p-top__section--category .hidden .p-top__itemFrame:nth-of-type(2) {
    width: 32.6086956522% !important;
    height: 30vw;
  }
}
@media print, screen and (max-width: 750px) {
  .p-top__section--category .p-top__itemList {
    width: 92%;
    margin: auto;
  }
  .p-top__section--category .p-top__itemList.sp {
    display: flex !important;
  }
}
@media print, screen and (max-width: 750px) {
  .p-top__section--category .p-top__itemList.pc {
    display: none;
  }
}
@media print, screen and (min-width: 751px) {
  .p-top__section--category .p-top__itemList.sp {
    display: none;
  }
}
.p-top__section--category .p-top__itemFrame {
  display: flex;
  overflow: hidden;
  width: 177px;
  height: 177px;
  margin-bottom: 0.6666666667vw;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--category .p-top__itemFrame {
    width: 32.6086956522%;
    height: 30vw;
  }
  .p-top__section--category .p-top__itemFrame:nth-of-type(1), .p-top__section--category .p-top__itemFrame:nth-of-type(2) {
    width: 49.5%;
    height: 45.3333333333vw;
  }
}
.p-top__section--category .p-top__itemFrame a {
  position: relative;
  z-index: 2;
  display: block;
  width: 177px;
  height: 177px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--category .p-top__itemFrame a {
    width: 100%;
    height: 100%;
  }
}
@media print, screen and (max-width: 750px) and (max-width: 750px) {
  .p-top__section--category .p-top__itemFrame a {
    font-size: 11px;
    font-size: 2.9333333333vw;
  }
}

.p-top__section--category .p-top__itemFrame a:after {
  z-index: 0;
  content: "";
  display: block;
  width: 177px;
  height: 177px;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  transition: all .3s ease-out;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--category .p-top__itemFrame a:after {
    width: 100%;
    height: 100%;
  }
}
@media print, screen and (min-width: 751px) {
  .p-top__section--category .p-top__itemFrame a:hover:after {
    transform: scale(1.1);
  }
}
.p-top__section--category .p-top__itemFrame a span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 177px;
  height: 177px;
  position: relative;
  z-index: 2;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--category .p-top__itemFrame a span {
    width: 100%;
    height: 100%;
  }
}
.p-top__section--category .p-top__itemFrame.men a:after {
  background-image: url(/assets/img/top/category01.png);
}
.p-top__section--category .p-top__itemFrame.kids a:after {
  background-image: url(/assets/img/top/category02.png);
}
.p-top__section--category .p-top__itemFrame.baby a:after {
  background-image: url(/assets/img/top/category03.png);
}
.p-top__section--category .p-top__itemFrame.garmour a:after {
  background-image: url(/assets/img/top/category04.png);
}
.p-top__section--category .p-top__itemFrame.women a:after {
  background-image: url(/assets/img/top/category05.png);
}
.p-top__section--category .p-top__itemFrame.cap a:after {
  background-image: url(/assets/img/top/category06.png);
}
.p-top__section--category .p-top__itemFrame.uniform a:after {
  background-image: url(/assets/img/top/category07.png);
}
.p-top__section--category .p-top__itemFrame.limited a:after {
  background-image: url(/assets/img/top/category08.png);
}
.p-top__section--checked .p-top__itemFrame {
  width: 143px;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--checked .p-top__itemFrame {
    width: 100%;
  }
}
.p-top__section--checked .p-top__itemFrame a {
  width: 93%;
  margin: auto;
}
@media print, screen and (min-width: 751px) {
  .p-top__section--checked .p-top__itemList {
    width: 620px;
    margin: auto;
  }
}
.p-top__section--twitter .p-top__twitterArea {
  width: 93%;
  margin: auto;
}
.p-top__section--twitter .p-top__twitterArea .twitter-timeline {
  width: 350px !important;
  height: 350px !important;
}
@media print, screen and (max-width: 750px) {
  .p-top__section--twitter .p-top__twitterArea .twitter-timeline {
    width: 800px !important;
  }
}
@media print, screen and (max-width: 750px) {
  .p-top__section--new .p-top__itemList, .p-top__section--ranking .p-top__itemList, .p-top__section--recommend .p-top__itemList, .p-top__section--checked .p-top__itemList {
    width: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: auto;
  }
}
@media print, screen and (max-width: 750px) {
  .p-top__section--new .p-top__itemImg, .p-top__section--ranking .p-top__itemImg, .p-top__section--recommend .p-top__itemImg, .p-top__section--checked .p-top__itemImg {
    padding-top: 1px;
  }
  .p-top__section--new .p-top__itemImg img, .p-top__section--ranking .p-top__itemImg img, .p-top__section--recommend .p-top__itemImg img, .p-top__section--checked .p-top__itemImg img {
    border: 1px solid #666;
  }
}
@media print, screen and (max-width: 750px) {
  .p-top__title {
    margin-bottom: 5.3333333333%;
  }
}
.p-top__itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.p-top__itemFrame {
  overflow: hidden;
  margin-bottom: 18px;
  position: relative;
}
@media print, screen and (max-width: 750px) {
  .p-top__itemFrame {
    margin-bottom: 0;
  }
}
.p-top__itemFrame.new:before {
  content: "";
  display: block;
  width: 68px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/assets/img/top/new.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}
@media print, screen and (max-width: 750px) {
  .p-top__itemFrame.new:before {
    width: 34px;
    height: 24px;
  }
}
.p-top__itemFrame a {
  display: block;
  background: #fff;
}
.p-top__itemFrame a .p-top__itemImg {
  overflow: hidden;
}
.p-top__itemFrame a img {
  transition: all .2s ease;
}
.p-top__itemImg {
  text-align: center;
}
.p-top__itemImg img {
  width: 100%;
  height: auto;
}
.p-top__itemDate {
  font-size: 11px;
  color: #6d6d6d;
}
.p-top__itemDetails {
  font-size: 11px;
  color: #aaa;
  text-align: right;
}
.p-top__itemDetails span {
  text-decoration: underline;
}
.p-top__playerName {
  font-size: 20px;
  font-weight: bold;
}
@media print, screen and (max-width: 750px) and (max-width: 750px) {
  .p-top__playerName {
    font-size: 12px;
    font-size: 3.2vw;
  }
}

.p-top__playerName small {
  display: block;
  font-size: 10px;
}
@media print, screen and (max-width: 750px) {
  .p-top__playerName small {
    font-size: 8px;
    font-size: 2.1333333333vw;
  }
}
@media print, screen and (max-width: 750px) {
  .p-top__playerName small {
    line-height: 1;
  }
}
.p-top__summery {
  font-weight: bold;
  padding: 12px;
}
@media print, screen and (max-width: 750px) {
  .p-top__summery {
    padding: 6% 0;
  }
}
@media print, screen and (max-width: 750px) and (max-width: 750px) {
  .p-top__summery {
    font-size: 10px;
    font-size: 2.6666666667vw;
  }
}

.p-top__newsArea {
  margin-bottom: 25px;
}
@media print, screen and (max-width: 750px) {
  .p-top__newsArea {
    margin-bottom: 0;
  }
}
.p-top__newsTabBlock {
  display: flex;
  margin-bottom: 25px;
}
@media print, screen and (max-width: 750px) {
  .p-top__newsTabBlock {
    margin-bottom: 0;
  }
}
.p-top__newsTab {
  text-align: center;
  width: 370px;
}
@media print, screen and (max-width: 750px) {
  .p-top__newsTab {
    width: 100%;
  }
}
.p-top__newsTab a {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  color: #a3a3a3;
  border-bottom: 7px solid #a3a3a3;
  transition: 0.3s;
}
@media print, screen and (max-width: 750px) {
  .p-top__newsTab a {
    border-bottom: none;
    background-color: #e6e6e6;
    color: #000;
  }
}
@media print, screen and (max-width: 750px) and (max-width: 750px) {
  .p-top__newsTab a {
    font-size: 12px;
    font-size: 3.2vw;
  }
}

.p-top__newsTab a:hover {
  color: #f49c00;
}
.p-top__newsTab a.is-active {
  border-bottom: 7px solid #f49c00;
  color: #000;
}
@media print, screen and (max-width: 750px) {
  .p-top__newsTab a.is-active {
    position: relative;
    border-bottom: none;
    background-color: #fff;
  }
  .p-top__newsTab a.is-active:before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #f49c00;
    position: absolute;
    top: -4px;
    left: 0;
  }
}
.p-top__newsTab a.is-active:after {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
  display: block;
  border-top: 9px solid #f49c00;
  border-right: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid transparent;
}
@media print, screen and (max-width: 750px) {
  .p-top__newsTab a.is-active:after {
    display: none;
  }
}
@media print, screen and (max-width: 750px) {
  .p-top__newsTab--A a {
    border-right: 2px solid #b3b3b3;
  }
  .p-top__newsTab--A a.is-active {
    border-right: none;
  }
}
@media print, screen and (max-width: 750px) {
  .p-top__newsTab--B a {
    border-left: 2px solid #b3b3b3;
  }
  .p-top__newsTab--B a.is-active {
    border-left: none;
  }
}
.p-top__newsContent {
  width: 740px;
  overflow: hidden;
  background-color: #fff;
}
@media print, screen and (max-width: 750px) {
  .p-top__newsContent {
    width: 100%;
    margin-bottom: 0;
  }
}
.p-top__newsWrap {
  display: flex;
  width: 1480px;
  transition: .3s;
}
@media print, screen and (max-width: 750px) {
  .p-top__newsWrap {
    width: 200%;
    margin-bottom: 0;
  }
}
.p-top__newsWrap.is-slide {
  transform: translate(-740px, 0);
}
@media print, screen and (max-width: 750px) {
  .p-top__newsWrap.is-slide {
    transform: translate(-50%, 0);
  }
}
.p-top__newsListBlock {
  width: 740px;
  font-size: 15px;
  padding: 16px 40px 32px;
}
@media print, screen and (max-width: 750px) {
  .p-top__newsListBlock {
    width: 100%;
    margin-bottom: 0;
    padding: 2% 2% 0;
  }
}
@media print, screen and (max-width: 750px) and (max-width: 750px) {
  .p-top__newsListBlock {
    font-size: 10px;
    font-size: 2.6666666667vw;
  }
}

.p-top__newsList {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  font-weight: bold;
}
@media print, screen and (max-width: 750px) {
  .p-top__newsList {
    display: block;
    padding: 2.8985507246% 0;
  }
  .p-top__newsList:first-child {
    border-top: 1px solid #ccc;
  }
}
.p-top__newsList span {
  display: inline-block;
  margin-right: 10px;
  width: 105px;
}
@media print, screen and (max-width: 750px) {
  .p-top__newsList span {
    width: 100%;
    margin-bottom: 0;
  }
}
.p-top__newsList a {
  position: relative;
  display: inline-block;
  transition: 0.3s;
}
.p-top__newsList a:hover {
  color: #f49c00;
}
.p-top__newsList a.new:before {
  content: "NEW";
  display: inline-block;
  color: #ed1c24;
  font-size: 11px;
  font-weight: bold;
  border: 1px solid #ed1c24;
  padding: 0 10px;
  margin-right: 5px;
}
@media print, screen and (max-width: 750px) and (max-width: 750px) {
  .p-top__newsList a.new:before {
    font-size: 9px;
    font-size: 2.4vw;
  }
}

.p-top__searchArea {
  background-color: #fff;
  padding: 40px 85px;
}
@media print, screen and (max-width: 750px) {
  .p-top__searchArea {
    padding: 0;
    width: 92%;
    margin: auto;
  }
}
.p-top__searchForm {
  position: relative;
  margin-bottom: 25px;
  font-size: 0;
}
@media print, screen and (max-width: 750px) {
  .p-top__searchForm {
    display: flex;
    justify-content: space-between;
  }
}
.p-top__searchForm:before {
  display: block;
  position: absolute;
  top: 2px;
  left: 4px;
  content: "";
  width: 26px;
  height: 30px;
  background-image: url(/assets/img/icon/search.png);
}
@media print, screen and (max-width: 750px) {
  .p-top__searchForm:before {
    display: none;
  }
}
.p-top__searchForm #inputSearch {
  display: inline-block;
  width: 485px;
  font-size: 16px;
  padding: 7px 45px;
  border: none;
  border-bottom: 1px solid #666;
}
@media print, screen and (max-width: 750px) {
  .p-top__searchForm #inputSearch {
    width: 66.6666666667%;
    padding: 2.6666666667%;
    border: 1px solid #666;
    border-radius: 6px;
  }
}
@media print, screen and (max-width: 750px) and (max-width: 750px) {
  .p-top__searchForm #inputSearch {
    font-size: 12px;
    font-size: 3.2vw;
  }
}

.p-top__searchForm #inputSearch::placeholder {
  color: #8c8c8c;
}
.p-top__searchForm #submitSearch {
  display: inline-block;
  width: 85px;
  font-size: 16px;
  padding: 7px 0;
  color: #fff;
  background-color: #313131;
  transition: 0.3s;
}
.p-top__searchForm #submitSearch:hover {
  opacity: 0.75;
}
@media print, screen and (max-width: 750px) {
  .p-top__searchForm #submitSearch {
    width: 26.6666666667%;
    padding: 0;
    background-color: #646464;
    border-radius: 8px;
    box-shadow: 0 4px 0 0 #231815;
  }
}
@media print, screen and (max-width: 750px) and (max-width: 750px) {
  .p-top__searchForm #submitSearch {
    font-size: 15px;
    font-size: 4vw;
  }
}

.p-top__focusBlock {
  display: flex;
  justify-content: space-between;
}
@media print, screen and (max-width: 750px) {
  .p-top__focusBlock {
    display: block;
  }
}
.p-top__focusTtl {
  width: 110px;
}
@media print, screen and (max-width: 750px) {
  .p-top__focusTtl {
    width: auto;
    display: inline-block;
    margin-bottom: 4%;
    margin-right: 6.6666666667%;
  }
}
.p-top__focusTtl span {
  position: relative;
  display: inline-block;
  color: #fff;
  background-color: #f49c00;
  padding: 7px 15px;
  height: 32px;
}
.p-top__focusTtl span:after {
  position: absolute;
  right: -16px;
  top: 0;
  display: block;
  content: "";
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #f49c00;
}
.p-top__focusList {
  width: 450px;
}
@media print, screen and (max-width: 750px) {
  .p-top__focusList {
    width: auto;
    display: inline;
  }
}
.p-top__focusTag {
  display: inline-block;
  background-color: #e6e6e6;
  margin-bottom: 7px;
  margin-right: 5px;
  padding: 4px 12px;
  border-radius: 3px;
  transition: 0.3s;
}
@media print, screen and (max-width: 750px) {
  .p-top__focusTag {
    margin-bottom: 4%;
  }
}
.p-top__focusTag:hover {
  cursor: pointer;
  background-color: #f49c00;
}
@media print, screen and (max-width: 750px) {
  .p-top__focusTag:hover {
    background-color: #e6e6e6;
  }
}
.p-top__contactInfo {
  text-align: center;
}
.p-top__contactTel {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}
@media print, screen and (max-width: 750px) {
  .p-top__contactTel {
    margin-bottom: 6.6666666667%;
  }
}
@media print, screen and (max-width: 750px) and (max-width: 750px) {
  .p-top__contactTel {
    font-size: 16px;
    font-size: 4.2666666667vw;
  }
}

.p-top__contactTel strong {
  display: inline-block;
  margin-left: 20px;
  font-size: 37px;
}
@media print, screen and (max-width: 750px) {
  .p-top__contactTel strong {
    display: block;
    margin-left: 0;
    color: #f49c00;
  }
}
@media print, screen and (max-width: 750px) and (max-width: 750px) {
  .p-top__contactTel strong {
    font-size: 25px;
    font-size: 6.6666666667vw;
  }
}

.p-top__contactTel span {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #808080;
}
@media print, screen and (max-width: 750px) {
  .p-top__contactTel span {
    display: block;
    margin-top: 0;
  }
}
@media print, screen and (max-width: 750px) and (max-width: 750px) {
  .p-top__contactTel span {
    font-size: 9px;
    font-size: 2.4vw;
  }
}

.p-top__contactBtn {
  display: inline-block;
}
@media print, screen and (max-width: 750px) {
  .p-top__contactBtn {
    display: block;
  }
}
.p-top__contactBtn a {
  display: inline-block;
  transition: 0.3s;
}
@media print, screen and (max-width: 750px) {
  .p-top__contactBtn a {
    font-size: 12px;
    font-size: 3.2vw;
  }
}
.p-top__contactBtn a:hover {
  opacity: 0.75;
}
.p-top__btnArea {
  margin-top: 10px;
  text-align: right;
}
@media print, screen and (max-width: 750px) {
  .p-top__btnArea {
    margin-top: 3.0769230769%;
    text-align: center;
  }
}
.p-top-swiper-wrap {
  position: relative;
}
.p-top-swiper-wrap .swiper-container {
  width: 610px;
  margin: 0 auto;
}
@media print, screen and (max-width: 750px) {
  .p-top-swiper-wrap .swiper-container {
    width: auto;
    margin: 0 auto;
  }
}
.p-top-swiper-control__prev, .p-top-swiper-control__next, .p-top-swiper-control__prevR, .p-top-swiper-control__nextR {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  transition: opacity .25s;
  z-index: 10;
  top: 35%;
  width: 40px;
  height: 40px;
}
@media print, screen and (min-width: 751px) {
  .p-top-swiper-control__prev, .p-top-swiper-control__next, .p-top-swiper-control__prevR, .p-top-swiper-control__nextR {
    opacity: 0.75;
  }
  .p-top-swiper-control__prev:hover, .p-top-swiper-control__next:hover, .p-top-swiper-control__prevR:hover, .p-top-swiper-control__nextR:hover {
    cursor: pointer;
    opacity: 1;
  }
}
@media print, screen and (max-width: 750px) {
  .p-top-swiper-control__prev, .p-top-swiper-control__next, .p-top-swiper-control__prevR, .p-top-swiper-control__nextR {
    display: none;
    top: 25%;
    width: 34px;
    height: 34px;
  }
}
.p-top-swiper-control__prev.swiper-button-disabled, .p-top-swiper-control__next.swiper-button-disabled, .p-top-swiper-control__prevR.swiper-button-disabled, .p-top-swiper-control__nextR.swiper-button-disabled {
  opacity: 0.25;
}
.p-top-swiper-control__prev, .p-top-swiper-control__prevR {
  background-image: url(/assets/img/icon/arrow_gray_prev.png);
  left: 0;
}
@media print, screen and (max-width: 750px) {
  .p-top-swiper-control__prev, .p-top-swiper-control__prevR {
    left: 2px;
  }
}
.p-top-swiper-control__next, .p-top-swiper-control__nextR {
  background-image: url(/assets/img/icon/arrow_gray_next.png);
  right: 0;
}
@media print, screen and (max-width: 750px) {
  .p-top-swiper-control__next, .p-top-swiper-control__nextR {
    right: 2px;
  }
}

.swiper-container .swiper-wrapper {
  align-items: stretch !important;
}
.swiper-container .p-top__summery {
  font-size: 16px;
}
.swiper-container .p-top__summery .p-top__itemTxt {
  font-weight: normal;
}
@media print, screen and (max-width: 750px) {
  .swiper-container .p-top__summery .p-top__itemTxt {
    font-size: 10px;
    font-size: 2.6666666667vw;
  }
}
.swiper-container .p-top__summery .p-top__itemPrice {
  margin-top: 8px;
}
@media print, screen and (max-width: 750px) {
  .swiper-container .p-top__summery .p-top__itemPrice {
    font-size: 12px;
    font-size: 3.2vw;
  }
}
@media print, screen and (max-width: 750px) {
  .swiper-container .p-top__summery {
    padding: 6%;
  }
}

.m-swiper-pagination {
  padding-bottom: 0;
  border-bottom: none;
}

.swiper-slide {
  background-color: #fff;
  height: auto !important;
  position: relative;
  transition: 0.3s;
}
.swiper-slide .icnRank {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d4d4d;
  width: 26px;
  height: 26px;
  padding: 2px 2px 0 0;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 12px;
  left: 10px;
  z-index: 2;
}
@media print, screen and (max-width: 750px) {
  .swiper-slide .icnRank {
    font-size: 10.5px;
    font-size: 2.8vw;
  }
}
.swiper-slide .icnRank.no1 {
  background-color: #a88627;
}
.swiper-slide .icnRank.no2 {
  background-color: #b3b3b3;
}
.swiper-slide .icnRank.no3 {
  background-color: #c69c6d;
}
@media print, screen and (max-width: 750px) {
  .swiper-slide .icnRank {
    width: 5.3333333333vw;
    height: 5.3333333333vw;
    padding: 0.2666666667vw 0.8vw 0 0;
    top: 2.6666666667vw;
    left: 2.6666666667vw;
  }
}
.swiper-slide .p-top__itemImg {
  overflow: hidden;
}
.swiper-slide .p-top__itemImg img {
  transition: 0.3s;
}
@media print, screen and (min-width: 751px) {
  .swiper-slide:hover {
    opacity: 0.75;
  }
  .swiper-slide:hover .p-top__itemImg img {
    transform: scale(1.07);
  }
}
@media print, screen and (max-width: 750px) {
  .swiper-slide:before {
    content: "";
    left: 0px;
    top: 0px;
    display: block;
    height: 500px;
    width: 1px;
    background: #CCC;
    position: absolute;
  }
  .swiper-slide .p-top__itemImg img {
    border: none;
  }
  .swiper-slide.swiper-slide-active:before {
    content: normal;
  }
}
