@charset "utf-8";

@import "../lib/_properties";
@import "../lib/_mixin";

$img_path: "/assets/img/";

/* マイページ（アカデミー） */
#pageACTop{
	.nextLesson{
		display: flex;
		margin-bottom: 64px;
		> li{
			width: 33.3334%;
		}
		dl{
			display: flex;
			align-items: center;
			background-color: #fff;
		}
		dt{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			background-color: #e4ddcd;
			width: 104px;
			height: 104px;
		}
		dd{
			width: 100%;
			padding: 8px;
			font-size: 16px;
			@include vw(28);
			small{
				display: block;
				margin-bottom: 4px;
				padding-bottom: 4px;
				font-size: 12px;
				@include vw(24);
				border-bottom: 1px solid #c9c9c9;
			}
		}
	}
	.schedule{
		background-color: #fff;
		margin-bottom: 64px;
		padding: 16px;
		.month{
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 16px;
			font-size: 15px;
			@include vw(30);
			.arw{
				display: inline-block;
				width: 0.5em;
				height: 0.5em;
				border-top: 1px solid #f49c00;
				border-left: 1px solid #f49c00;
				transition: 0.3s;
				&.pre{
					margin-right: 8px;
					transform: rotate(-45deg);
				}
				&.nxt{
					margin: 0 0 0 8px;
					transform: rotate(134deg);
				}
				&:hover{
					opacity: 0.75;
				}
			}
			.num{
				padding-top: 2px;
			}
		}
		.schlName{
			background-color: #e4ddcd;
			margin-bottom: 16px;
			padding: 8px;
			font-size: 12px;
			@include vw(24);
			text-align: center;
		}
		.cont{
			padding: 0 40px;
		}
		.courseName{
			margin-bottom: 24px;
			padding: 8px;
			font-size: 12px;
			@include vw(24);
			text-align: center;
			border: 1px solid #666;
		}
		table{
			width: 100%;
			font-size: 12px;
			@include vw(24);
			text-align: center;
			thead{
				border-bottom: 2px solid #666;
			}
			tbody{
				tr{
					& + tr{
						border-top: 1px solid #666;
					}
				}
			}
			th{
				padding: 8px;
				&:nth-child(1){width: 15%;}
				&:nth-child(2){width: 20%;}
				&:nth-child(3){width: 55%;}
				&:nth-child(4){width: 10%;}
			}
			td{
				padding: 16px 8px;
				vertical-align: middle;
				&.absence{
					padding: 10px 8px;
					a{
						display: inline-block;
						border: 1px solid #f49c00;
						padding: 4px 8px;
						border-radius: 8px;
						transition: 0.3s;
						&:hover{
							opacity: 0.75;
						}
					}
				}
			}
			em{
				color: #f00;
				font-style: normal;
			}
		}
	}
	.p-top__bottom-banner{
		margin-top: px(8*12);
		.p-top__bottom-bannerWrap{
			margin-bottom: 0;
		}
	}
	@include sp{
		.nextLesson{
			flex-direction: column;
			margin-bottom: 32/750*100%;
			> li{
				width: auto;
				border-bottom: 1px solid #b3b3b3;
				&:nth-child(1){order:1;}
				&:nth-child(2){order:3;}
				&:nth-child(3){order:2;}
			}
			dl{
			}
			dt{
				background-color: #fff;
				width: vw(193);
				height: vw(193);
				picture{
					width: 40%;
				}
			}
			dd{
				padding: vw(8);
				small{
					margin-bottom: 0;
					padding-bottom: vw(16);
					border-bottom: none;
				}
			}
		}
		.schedule{
			margin-bottom: 32/750*100%;
			padding: vw(32) 0 vw(24);
			border-bottom: 1px solid #b3b3b3;
			.month{
				margin-bottom: vw(24);
				.arw{
					&.pre{
						margin-right: vw(16);
					}
					&.nxt{
						margin: 0 0 0 vw(16);
					}
				}
				.num{
					padding-top: vw(2);
				}
			}
			.schlName{
				margin-bottom: vw(32);
				padding: vw(16);
			}
			.cont{
				padding: 0 vw(40);
			}
			.courseName{
				margin-bottom: vw(24);
				padding: vw(16);
			}
			table{
				thead{
				}
				tbody{
					tr{
						& + tr{
						}
					}
				}
				th{
					padding: vw(8) vw(4);
					&:nth-child(1){width: 10%;}
					&:nth-child(2){width: 45%;}
					&:nth-child(3){width: 25%;}
					&:nth-child(4){width: 20%;}
				}
				td{
					padding: vw(16) vw(4);
				}
				em{
				}
				span{
					padding: vw(4) vw(8);
				}
			}
		}
		.p-top__btnArea{
			padding-bottom: vw(32);
			border-bottom: 1px solid #b3b3b3;
		}
		.p-top__bottom-banner{
			margin-top: 0;
			.p-top__bottom-bannerWrap{
				margin-bottom: vw(32);
			}
		}
	}
}


