@charset "utf-8";

$img_path: "/assets/img/";
@import "../lib/properties";
@import "../lib/mixin";
@import "../modules/slide";

.m-itemList{
    img{
        width: 100%;
    }
}


/*pages*/
#pageCart{
    .cotent-box{
        @include sp{
            border-bottom: 1px solid #b2b2b2;
            background: #FFF;
        }
        
    }
    .l-content{
        width: 600px;
        @include sp{
            background: #EEE;
            width: 100%;
        }
    }
    .l-sidebar{
        width: 340px;
        @include sp{
            width: 100%;
        }
    }
    @include sp{
    background: #FFF;
    }
    .price-box{
        margin: 16px 0px 16px 0px;
        border: 1px solid $color_key;
        padding: 16px;
        background: #FFF;
        font-weight: normal;
        border-radius: 5px;
        @include sp{
            margin: 4% 4%  6% 4%; 
            @include vw(24);
        }
        li{
            margin-bottom: 12px;
            display: flex;
            justify-content: space-between;
            &.price-off{
                color: #0071bc;
            }
            &:last-child{
                margin-bottom: 0px;
                @include fs(10);
            }
            strong{
                font-size: 16px;
                font-weight: normal;
                @include vw(32);
                &.total-price{
                    font-weight: bold;
                }
                em{
                    font-size: 70%;
                    font-style: normal;
                }
            }
        }
        .price-code-off{
            display: block;
            font-size: 9px;
            @include vw(16);
            text-align: right;
            color: #646464;
            width: 100%;
        }
        p{
        }
        .price-total{
					&.withBDT{
						padding-top: 12px;
						border-top: 2px solid #4d4d4d;
						@include pc{
							margin-top: 40px;
						}
					}
				}
        @include pc{
            font-size: 12px;
        }
    }
    .cart-inner{
        margin: 16px 0px 32px 0px;
        font-size: 12px;
        @include sp{
            @include vw(24);
            margin: 4% 4%  6% 4%; 
        }
        .font-red{
            color: #d14835;
        }
        .cart-items{
            margin: 32px 0 ;
            @include sp{
                margin: 6% 0 ;
            }
            & > li{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                position: relative;
                margin-bottom: 16px;
                padding-bottom: 14px;
                border-bottom: 1px solid #c9c9c9;
                img{
                    max-width: 100%;
                }
                .item-info{
                    li{
                        margin-top: 8px;
                    }
                }
                &.price-header{
                    div{
                        text-align: center;
                    }
                    @include sp{
                        display: none;
                    }
                }
                &.sp{
                    text-align: center;
                }
                .photo{
                    width: 105px;
                    @include sp{
                        width: 30%;
                    }
                }
                .info{
                    width: 42%;
                    margin-left: 3%;
                  &.conf-info{
                    @include pc{
                      width: 79%;
                    }
                  }
                    @include sp{
                        width: 67%;
                    } 
                    p{
                        font-size: 14px;
                       @include vw(28);
                    }
                    .item-info{
                        span{
                            color: #646464;
                            font-weight: normal;
                        }
                        &.item-info-s{
                            font-size: 10px;
                            @include vw(22);
                        }
                        &.item-info-m{
                            @include vw(24);
                        }
                        &.item-info-l{
                            @include vw(28);
                            font-weight: bold;
                            @include pc{
                                @include fs(18);
                            }
                        }
                    }
                    
                }
                .price{
                    width: 17%;
                    margin-left: 4%;
                    text-align: center;
                    font-size: 14px;
                }
                .bts{
                    margin:16px 0 0 0;
                  display: flex;
                  align-items: top;
                  justify-content: center;
                  
                  li{
                    position: relative;
                    padding: 5px;
                    border: 1px solid #CCC;
                    display: flex;
                    height: 34px;
                    box-sizing: border-box;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    background: #FFF;
                    @include sp{
                      height: auto;
                    }
                    &:before{
                      content: "×";
                      display:block;
                      vertical-align: middle;
                      margin-right: 5px;
                    }
                    span{
                      display:block;
                      vertical-align: middle;
                    }
                    &.btn-del{
                        margin-right: 5px;
                        input{
                            font-size: 11px;
                            @include vw(24);
                            @include pc{
                                padding: 9px 10px 9px 3px;
                            }
                        }
                       
                    }
                    &.btn-fav{
                      span{
                        width: 63px;
                        @include sp{
                          width: 67px;
                          br{
                            display: none;
                          }
                        }
                      }
                      
                        a{
                          display: block;
                          font-size: 9px;
                          line-height: 11px;
                          @include vw(20);
                        }
                    }
                  }
                    .m-btn-input2{
                        position: relative;
                        padding-left: 1.5em;
                        &:before{
                            content: "×";
                            display: inline-block;
                            position: absolute;
                            left: 0.5em;
                            top: 30%;
                        }
                    }
                    .m-btn-input2.btn-del{
                        margin-right: 5px;
                        input{
                            font-size: 11px;
                            @include vw(22);
                            @include pc{
                                padding: 9px 10px 9px 3px;
                            }
                        }
                       
                    }
                    .m-btn-input2.btn-fav{
                        a{
                          font-size: 9px;
                          @include vw(18);
                          padding: 5px;
                          line-height: 1;
                          padding: 5px;
                           @include sp{
                             height: 10.2vw;
                             padding: 2.5vw 2vw 2vw 2vw;
                          }
                        }
                    }
                }
                .num{
                    width: 14%;
                    margin-left: 2%;
                    .select-box{
                        margin: 0 13px 8px 10px;
                        @include sp{
                            display: inline-block;
                            vertical-align: top;
                            width: 44%;
                            margin: 0 2% 0 0;
                        }
                    }
                    @include sp{
                        width: 50%;
                        margin:16px 0 0 0;
                        .m-btn-input2{
                            display: inline-block;
                            vertical-align: top;
                        } input{
                            padding: 10px;
                            @include vw(22);
                            @include pc{
                                @include fs(16);
                            }
                        }
                    }
                }
            }
            
        }
    }
    .l-sidebar__promotioncode{
        padding-top: 20px;
    }
    .btn-box{
        margin: 0 auto;
        @include sp{
            padding-top: 1%;        
        }
        .m-btn-type-1{
            max-width: 310px;
            margin: 0 auto;
        }
    }

	/* 配送先情報入力 */
	.note1{
		color: #646464;
		@include vw(24);
		@include pc{
			font-size: 12px;
		}
	}
	.note2{
		color: #4d4d4d;
		@include vw(18);
		@include pc{
			font-size: 10px;
		}
	}
	&.pageReceive{
		@include pc{
			width: auto;
			padding-bottom: 0;
			.l-container{
				background-color: #fff;
				padding: 40px 0 50px;
			}
			.l-wrapper{
				width: 1000px;
				margin: auto;
			}
		}
	}
  .order-info{
   margin: 4% 4% 6% 4%;
  .order-info-inner{
    padding: 0 0 40px 0;
    @include sp{
      padding-bottom: 4%;
    }
    p{
      padding-left: 30px;
      @include sp{
        padding-left: 6%;
      }
    }
    .disF{
      max-width: 340px;
      justify-content: space-between;
    }
    .btn-box{
      margin-top: 20px;
      @include sp{
        margin: 4% auto 6% auto;
      }
      a{
        font-size: 11px;
        text-align: center;
        @include vw(20);
        padding: 10px 0;
        width: 95px;
        @include sp{
          width: 100%;
        }
      }
    }
  }
  .m-btn-input.conf-btn{
    max-width: 330px;
    margin: 0 auto;
    @include sp{
      max-width: inherit;
    }
  }
  }
  &.pageThanks{
    .m-bannerArea{
      padding-bottom: 40px;
      @include sp{
        margin-top: 4%;
      }
    }
    &.l-contents{
      width: 100%;
    }
    .l-container{
      background: #FFF;
      border-bottom: 2px solid #CCC;
    }
    .l-content{
      width: 740px;
      margin: 0 auto;
      @include sp{
        width: 100%;
      }
    }
  }
  .thanks-block{
    text-align: center;
    padding-bottom: 32px;
    @include sp{
      padding-bottom: 2%;
    }
    h2{
      
      padding: 32px 0 0 0;
      font-size: 24px;
      @include vw(32);
      padding-bottom: 24px;
      @include sp{
        padding: 4% 0;
      }
    }
    p{
      padding-bottom: 24px;
      @include vw(20);
      @include sp{
        padding-bottom: 4%;
      }
      a{
        text-decoration: underline;
      }
    }
    .thanks-chatch{
      font-size: 20px;
      @include vw(20);
      font-weight: bold;
    }
    .thanks-alert{
      color: #df232d;
    }
    .thanks-info{
      text-align: center;
      color: #646464;
      padding-bottom: 24px;
      font-size: 16px;
      @include vw(24);
    }
    .id-box{
      margin: 0 auto;
      @include sp{
        margin: 4%;
      }
        .arrow-r{
          position: relative;
          padding-right: 10px;
          display: block;
          &:after{
            content: "";
            display: block;
            position: absolute;
            right: 10px;
            top: 5px;
            width: 10px;
            height: 10px;
            border-top: 1px solid #FFF;
            border-right: 1px solid #FFF;
            transform: rotate(45deg);
          }
        }
      .get-icon{
        background: url(/assets/img/icon/pointget.png) no-repeat left center;
        background-size: 50px;
        padding-left: 40px;
        strong{
          font-weight: normal;
          color: $color-key;
        }
      }
    }
  }
}
