@charset "utf-8";

@import "../lib/_properties";
@import "../lib/_mixin";

$img_path: "/assets/img/";

/* 翌年継続有無登録 */
#pageContinue{
	.thisPageLead{
		margin-bottom: 8px;
		font-size: 16px;
		strong{
			display: block;
			@include vw(32);
		}
		span{
			display: block;
			color: #4d4d4d;
			@include vw(24);
		}
		@include sp{
			display: flex;
			flex-direction: column-reverse;
			margin-bottom: 0;
			strong{
				margin-top: 5%;
			}
		}
	}
}


