@charset "utf-8";
@import "../lib/_properties";
@import "../lib/_mixin";


/* イベント */
#pageEvent{
    .cotent-box{
        background: #FFF;
        padding: 24px;
        border-bottom: 2px solid #afb1b4;
        @include sp{
            padding: 0px;
        }
        img{
            max-width: 100%;
        }
    }
    .img-box{
        padding-bottom: 24px;
        @include sp{
            padding: 0px;
        }
    }
    .txt-box{
        @include sp{
            padding: 3%;
        }
        iframe{
            width: 100%;
            height: 400px;
            margin-bottom: 24px;
            @include sp{
                height: 50vw;
            }
        }
        p{
            line-height: 1.8;
            padding: 0 0 24px 0;
						color: #646464;
            @include fs(18);
            @include vw(24);
					@include sp{
						padding-bottom: 5%;
					}
        }
			@include pc{
				*:last-child{
					padding-bottom: 0;
				}
			}
    }
    .l-sidebar__block--news{
        border-bottom: 2px solid #c9c9c9;
        li{
            padding: 24px 0;
            margin: 0 16px;
            border-bottom: 1px solid #c9c9c9;
            font-weight: normal;
            &:last-child{
                border: 0px;
            }
            a{
                display: block;
                span{
                    @include fs(11);
                    color: #6f6f6f;
                    display: block;
                    padding-bottom: 16px;
                }
            }
        }
    }
	.p-title{
		@include sp{
			border-top: vw(16) solid #e6e6e6;
			border-bottom: vw(16) solid #e6e6e6;
			&:after{
				background-color: #989898;
			}
		}
	}
	.u-pager{
		padding: 32px 0 0;
		@include sp{
			padding-top: vw(32);
		}
	}
	.idBox{
		dl{
			display: flex;
			align-items: center;
			padding: 24px 0;
			font-size: 16px;
		}
		dt{
			width: 260px;
			@include vw(32);
			font-weight: bold;
		}
		dd{
			@include vw(28);
		}
		@include sp{
			border-top: none;
			dl{
				display: block;
				padding: 3% 0 0;
			}
			dt{
				width: auto;
			}
			dd{
				margin-top: 3%;
			}
		}
	}
/* イベント・招待券一覧 */
	&.list{
		.u-whiteBox1{
			padding-top: 0;
			@include sp{
				padding-top: vw(9);
			}
		}
	}
/* イベント・招待券詳細 */
	&.detail{
		.u-whiteBox1{
			padding: 64px 96px 48px;
			img{
				max-width: 100%;
			}
			.txts{
				margin-bottom: 24px;
				font-size: 18px;
				@include vw(24);
				p{
					display: flex;
					align-items: center;
					& + p{
						margin-top: 16px;
					}
				}
				.applied{
					color: #d14835;
				}
				.dayHold{
					.u-icnHold{
						width: 19px;
					}
					span{
						margin-left: 8px;
					}
				}
				.dayDeadline{
					.u-lbl1{
						font-size: 12px;
						@include vw(16);
						border-radius: 6px;
					}
					span{
						margin-left: 16px;
					}
				}
			}
			@include sp{
				padding: 0;
				.txts{
					margin: 3% 3% 0;
					p{
						& + p{
							margin-top: 2%;
						}
					}
					.applied{
					}
					.dayHold{
						.u-icnHold{
							width: vw(24);
						}
						span{
							margin-left: vw(8);
						}
					}
					.dayDeadline{
						.u-lbl1{
							border-radius: vw(8);
						}
						span{
							margin-left: vw(16);
						}
					}
				}
			}
		}
	}
/* イベント・招待券申込 */
	&.mosikomi{
	}
}


