@charset "utf-8";

@import "../lib/_properties";
@import "../lib/_mixin";

$img_path: "/assets/img/";

/* お問い合わせ */
#pageInquiry{
	@include vw(24);
	@include pc{
		background-color: #fff;
		padding-top: 0;
		font-size: 13px;
	}
}


