@charset "utf-8";

@import "../lib/_properties";
@import "../lib/_mixin";

$img_path: "/assets/img/";

/* 有料会員 */
#pagePaid{
	.kaihousi{
		@include sp{
			display: block;
			li{
				& + li{
					margin: 3% 0 0;
				}
			}
		}
	}

}


