@charset "utf-8";

@import "../lib/_properties";
@import "../lib/_mixin";

$img_path: "/assets/img/";

/* 有料会員 */
#pagePaid{
	/* 会員基本情報確認 */
	.kaihousi{
		@include sp{
			display: block;
			li{
				& + li{
					margin: 3% 0 0;
				}
			}
		}
	}
	/* 規約同意 */
	.ruleBox{
		padding: 8px;
		color: #4d4d4d;
		font-size: 16px;
		@include vw(24);
		border: 1px solid #b3b3b3;
		box-shadow: 1px 1px 0px #666 inset;
		.ofA{
			height: 252px;
			padding: 16px 24px 16px 16px;
		}
		*{
			font-weight: normal;
		}
		h3{
			margin-top: 1.5em;
		}
		@include sp{
			padding: 2%;
			.ofA{
				height: vw(500);
				padding: 3%;
			}
		}
	}
	/* 有料会員コース登録完了 */
	.paidCompInfo{
		margin-bottom: 40px;
		table{
			margin: auto;
			color: #333;
			font-size: 16px;
		}
		th,
		td{
			padding: 20px 80px;
		}
		th{
			@include vw(32);
		}
		td{
			@include vw(28);
		}
		.note{
			margin-top: 40px;
			color: #4d4d4d;
			@include vw(24);
			a{
				text-decoration: underline;
				transition: 0.3s;
				&:hover{
					opacity: 0.75;
				}
			}
		}
		@include sp{
			margin-bottom: 10%;
			table,
			tbody,
			tr{
				display: block;
			}
			th,
			td{
				display: block;
				padding: 0;
			}
			th{
				margin-top: 6%;
				text-align: left;
			}
			td{
				margin-top: 2%;
				padding-left: 1em;
			}
			.note{
				margin-top: 10%;
			}
		}
	}
}


