@charset "utf-8";
$img_path: "/assets/img/";
@import "../lib/_properties";
@import "../lib/_mixin";
.p{
    &-top {
        &__container{
            margin: 0 auto;
            @include sp{
                position: relative;
                z-index: 2;
//                border-top: 5px solid #fff;
                overflow: hidden;
            }
        }
        &__top{
            background: #fff;
            padding: 24px 0 40px;
            @include sp {
                padding: 0;
                background-color: #f7e7cd;
            }
        }
        //top linkBlock
        &__main {
            display: flex;
            justify-content: space-between;
						align-items: flex-start;
            margin:0 auto;
            width: 1000px;
            @include sp {
                display: block;
                width: 100%;
            }
            &-left{
                width: 658px;
                margin-right: 2px;
								overflow: hidden;
								@include pc{
									height: 353px;
								}
                @include sp {
                    width: 100%;
									height: (355/658) * 100vw;
                }
            }
            &-right{
                width: 340px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                @include sp {
                    width: 689/750*100%;
                    margin: 0 auto;
                    padding: 45/750*100% 0 45/750*100%;
                }
            }
        }
        &__banner{
            margin-bottom: 16px;
					text-align: center;
            @include sp{
                margin-bottom: -1px;
            }
        }
        //KV Slider
        &__kv {
            width: 100%;
            @include sp {
                width: 100%;
                margin: auto;
            }
            img {
                width: 100%;
            }
            .slick-track{
                margin-top: -2px;
            }
            .slick-dots {
							bottom: 12px;
							li {
							}
							@include sp{
								bottom: vw(16);
							}
            }
        }//KV Slider END
        
        //linkBlock RightArea
        &__right{
            &-Lbox{
                width: 169px;
                height: 175.5px;
                background: #f49c00;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2px;
                &:nth-of-type(1){
                    margin-right: 2px;
                }
                @include sp {
                    width: 156/689*100%;
                    height: auto;
                    display: inline-block;
                    background: none;
                    margin-bottom: 20/689*100%;
                }
                @include pc{
									transition: 0.3s;
                    &:hover{
                        background: #fb7400;
                    }
                }
            }
            &-Sbox{
                width: 83.5px;
                height: 83.5px;
                background: #f49c00;
                display: flex;
                justify-content: center;
                align-items: center;
                @include sp {
                    width: 156/689*100%;
                    height: auto;
                    display: inline-block;
                    background: none;
                }
                @include pc{
									transition: 0.3s;
                    &:hover{
                        background: #fb7400;
                    }
                }
            }
        }//linkBlock RightArea END

        &__content {
            width: 1000px;
            margin: 0 auto;
            @include sp {
                width: 100%;
            }
            &-top{
                width: 1000px;
                margin: 48px auto 64px;
                @include sp{
                    width: 100%;
                    margin: 32/750*100% auto 0;
                    display: block;
                }
            }
        }
        &__section {
            &.news{
                @include sp {
                    width: 100%;
                    padding-top: 50/750*100%;
                    background: #fff;
                }
            }
            &.exchange{
                @include sp {
                    width: 100%;
                }
            }
            &.recommend{
                margin-bottom: 64px;
                @include sp {
                    margin-bottom: 0;
                }
                .hidden{
                    display: none;
                    .p-top__itemList-recommend{
                        padding-top: 0;
                    }
                }
                .p-top__btnArea{
                }
            }
        }
        
        //newsArea
        &__newsArea {
            margin-bottom: 64px;
            @include sp {
                width: 100%;
                margin-bottom: 0;
            }
        }
        &__newsContent {
            overflow: hidden;
            @include sp {
                width: 100%;
                margin-bottom: 0;
            }
        }
        &__newsWrap {//2ページ分
            width: 1140px;
            display: flex;
            justify-content: space-around;
            transition: .3s;
            padding: 15px 0 35px;
            @include sp {
                width: 200%;
                margin-bottom: 0;
                padding: 0;
            }
            &.is-slide {
                transform: translate(-570px, 0);
                @include sp {
                    transform: translate(-50%, 0);
                }
            }
        }
        &__newsTabBlock {
            display: flex;
            margin-bottom: 25px;
            @include sp {
                margin-bottom: 0;
            }
        }
        &__newsTab {
            text-align: center;
            width: 370px;
            @include sp {
                width: 100%;
            }
            a {
                position: relative;
                display: block;
                font-size: 18px;
                font-weight: bold;
                padding: 10px 0;
                color: #000;
                border-bottom: 3px solid #c8c8c8;
                @include sp {
                    @include vw(24);
                    border-bottom: none;
                    background-color: #e6e6e6;
                }
                @include pc{
									transition: 0.3s;
                    &:hover {
                        color: $color_key;
                    }
                }
                &.is-active {
                    border-bottom: 3px solid $color_key;
                    color: #000;
                    @include sp {
                        position: relative;
                        border-bottom: none;
//                        border-top: 4px solid $color_key;
                        background-color: #fff;
                        &:before {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 4px;
                            background-color: $color_key;
                            position: absolute;
                            top: -4px;
                            left: 0;
                        }
                    }
                    &:after {
                        position: absolute;
                        bottom: -18px;
                        left: 50%;
                        transform: translate(-50%,0);
                        content: "";
                        display: block;
                        border-top: 9px solid $color_key;
                        border-right: 9px solid transparent;
                        border-bottom: 9px solid transparent;
                        border-left: 9px solid transparent;
                        @include sp {
                            display: none;
                        }
                    }
                }
            }
            &--A {
                a {
                    @include sp {
                        border-right: 2px solid #b3b3b3;
                        &.is-active {
                            border-right: none;
                        }
                    }
                }
            }
            &--B {
                a {
                    @include sp {
                        border-left: 2px solid #b3b3b3;
                        &.is-active {
                            border-left: none;
                        }
                    }
                }
            }
        }
        
//newsArea END
        
        //exchangeArea / recommendArea
        &__itemList {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					@include sp{
						width:100%;
						padding: 0;
						margin: 0 auto;
						background: #fff;
					}
					&-recommend{
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						@include sp{
							background: #fff;
							padding: 0;
						}
					}
					&.swiper-wrapper{
						@include sp{
							flex-wrap: nowrap;
							.p-top__itemFrame{
								border-left: 1px solid #ccc;
							}
						}
					}
        }
        &__item{
            @include sp {
                width: 100%;
            }
        }
        &__itemFrame {
            margin-bottom: 8px;
            position: relative;
            background: #fff;
            @include pc {
	            width: (968/5) * 1px !important;
						}
            @include sp {
							width: 33.3333%;
							margin-bottom: 0;
							border-bottom: 1px solid #ccc;
							border-left: 1px solid #ccc;
							&:nth-child(3n + 1){
								border-left: none;
							}
            }
            &.new {
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: url(#{$img_path}top/new.png);
                    z-index: 2;
                    @include sp{
                        content: url(#{$img_path}top/new--sp.png);
                    }
                }
            }
            a {
                display: block;
                height: 100%;
                img {
                    transition: all .2s ease;
                }
                @include pc{
                    &:hover img {
                        transform: scale(1.07);
                    }
                }
            }
        }
        &__itemImg {
            text-align: center;
            overflow: hidden;
            @include sp{
                width: 100%;
            }
            img{
                width: 100%;
            }
        }
        &__summery {
            padding: 13px;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 110px;
            @include sp {
                @include vw(20);
                padding: 15/200*100% 5%;
                height: 8em;
            }
        }
        &__itemPrice{
            margin-top: 8px;
            @include sp{
                @include vw(23);
                margin-top: 5%;
            }
        }//exchangeArea / recommendArea END
        
        //linkArea
        &__linkArea{
					display: flex;
					justify-content: center;
					margin: 0 auto 72px;
					.m-btn02,
					.m-btn03{
						display: flex;
						justify-content: center;
						align-items: center;
						width: 310px;
						height: 65px;
					}
					.m-btn02{
						padding: 8px 32px;
						img{
							width: 100%;
						}
					}
					.m-btn03{
						margin-left: 32px;
						transition: 0.3s;
						padding: 8px;
						color: #000;
						font-size: 16px;
						@include vw(32);
						position: relative;
						&:after{
							content: "";
							background:url(/assets/img/icon/arrow_btn_gray02.png) 0 0 no-repeat;
							background-size: 100% 100%;
							width: 9px;
							height: 15px;
							margin: auto;
							position: absolute;
							right: 12px;
							top: 0;
							bottom: 0;
							transition: all .15s;
						}
						&:hover{
							&:after{
								right: 6px;
							}
						}
						img{
							width: 34px;
							margin-right: 16px;
						}
						&:hover{opacity: 0.75;}
					}
					.online__btn{
						display: block;
						@include sp{width: 100%;}
						&-hover{display: none;}
					}
					@include pc{
						a:hover{
							.online__btn{
								display: none;
								&-hover{display: block;}
							}
						}
					}
					@include sp {
						display: block;
						margin-bottom: 0;
						padding: 0 65/750*100% 30/750*100%;
						.m-btn02,
						.m-btn03{
							width: auto;
							height: auto;
						}
						.m-btn02{
							padding: vw(40) vw(80);
						}
						.m-btn03{
							margin: 30/750*100% 0 0;
							padding: vw(30) vw(40);
							&:after{
								width: vw(16);
								height: vw(28);
								right: vw(16);
							}
							&:hover{
								&:after{
									right: vw(8);
								}
							}
							img{
								width: vw(70);
								margin-right: vw(30);
							}
						}
					}
        }//linkArea END
        
        //tiketsBuyArea 
        &__tiketsBuy{
					margin-bottom: 100px;
					width: 100%;
					&-ttl{
						font-size: 28px;
						text-align: center;
						@include vw(28);
						span{
							font-size: 14px;
							display: block;
							color: $color_key;
							@include vw(28);
						}
					}
					.btnWrap{
						max-width: 1000px;
						background-color: #fff;
						margin: 32px auto 0;
						padding: 32px;
						text-align: center;
						a{
							display: inline-block;
							transition: 0.3s;
							&:hover{
								opacity: 0.75;
							}
						}
					}
					@include sp {
						margin-bottom: 0;
						border-bottom: 1px solid #999;
						&-ttl{
							text-align: center;
							span{
								font-size: 14px;
								display: block;
								color: $color_key;
								@include sp{
									@include vw(28);
								}
							}
						}
						.btnWrap{
							margin: 0;
							padding: vw(24) vw(12);
							a{
								display: block;
							}
						}
					}
        }
        //tiketsBuyArea END
        
        //infoArea
        &__infoArea {
					margin-bottom: 70px;
					width: 1000px;
					.info__line{
						position: relative;
					}
					.info__line span {//menu select underLine
						background:$color_key;
						height:4px;
						display:block;
						position:absolute;
						left:0;
						bottom: 0;
						overflow: visible !important;
						&::after {
							position: absolute;
							bottom: -15px;
							left: 50%;
							transform: translate(-50%,0);
							content: "";
							display: block;
							border-top: 9px solid $color_key;
							border-right: 9px solid transparent;
							border-bottom: 9px solid transparent;
							border-left: 9px solid transparent;
						}
						@include sp{
							display: none;
						}
					}
					@include sp {
						width: auto;
						margin: 32/750*100% auto 0;
					}
        }
        &__infoContent {
            width: 1000px;
            overflow: hidden;
            background-color: #fff;
            @include sp {
                width: 100%;
                margin-bottom: 0;
            }
        }
        &__infoWrap {//2ページ分
            padding: 0 16px 40px;
            @include sp {
                margin-bottom: 0;
                padding: 0;
            }
            &.is-slide {
                transform: translate(-1000px, 0);
                @include sp {
                    transform: translate(-50%, 0);
                }
            }
        }
        &__infoTabBlock {
            display: flex;
            margin-bottom: 25px;
            @include sp {
                margin-bottom: 0;
            }
        }
        &__infoTab {
            text-align: center;
            width: 500px;
            @include sp {
                width: 100%;
            }
            a {
                position: relative;
                display: block;
                font-size: 18px;
                font-weight: bold;
                padding: 10px 0;
                color: #000;
                border-bottom: 4px solid #c8c8c8;
                @include sp {
                    @include vw(24);
                    border-bottom: none;
                    background-color: #e6e6e6;
                }
                @include pc{
									transition: 0.3s;
                    &:hover {
                        color: $color_key;
                    }
                }
                &.is-active {
                    border-bottom: 4px solid $color_key;
                    color: #000;
                    @include sp {
                        position: relative;
                        border-bottom: none;
//                        border-top: 4px solid $color_key;
                        background-color: #fff;
                        &:before {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 4px;
                            background-color: $color_key;
                            position: absolute;
                            top: -4px;
                            left: 0;
                        }
                    }
                    &:after {
                        position: absolute;
                        bottom: -20px;
                        left: 50%;
                        transform: translate(-50%,0);
                        content: "";
                        display: block;
                        border-top: 9px solid $color_key;
                        border-right: 9px solid transparent;
                        border-bottom: 9px solid transparent;
                        border-left: 9px solid transparent;
                        @include sp {
                            display: none;
                        }
                    }
                }
            }
            &--A {
                a {
                    @include sp {
                        border-right: 2px solid #b3b3b3;
                        &.is-active {
                            border-right: none;
                        }
                    }
                }
            }
            &--B {
                a {
                    @include sp {
                        border-left: 2px solid #b3b3b3;
                        &.is-active {
                            border-left: none;
                        }
                    }
                }
            }
        }
        &__infoListBlock {
            font-size: 16px;
            @include sp {
                width: 100%;
                margin-bottom: 0;
                padding: 15/750*100% 17/750*100%;
                @include vw(20);
            }
        }
        &__infoList {
            display: flex;
            position: relative;
            @include sp {
                padding: 0 vw(32);
                display: block;
                margin-bottom: vw(32);
            }
            &-sp{
                display: flex;
                @include sp{
                    display: flex;
                    margin-bottom: 2%;
                }
            }
            &-img{
                width: 260px;
                height: 185px;
                @include sp {
                    width: 345/690*100%;
                    height: auto;
                }
            }
            &-right{
                width: 645px;
                margin-left: 25px;
                height: 185px;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                @include sp {
                    display: block;
                    width: 345/690*100%;
                    margin-left: 3%;
                    height: auto;
                }
                &-sp{
                    display: none;
                    @include sp{
                        display: block;
                        width: 100%;
                    }
                }
            }
            &-ttl{
                font-size: 22px;
                font-weight: bold;
                padding-bottom: 12px;
                border-bottom: 1px solid #ccc;
                @include sp{
                    width: 100%;
                    @include vw(32);
                    letter-spacing: 0.1em;
                    line-height: 1.5;
                    padding-bottom: 0;
                    border-bottom: 0;
                    margin-bottom: 3.5%;
                }
            }
            &-day{
                @include sp {
                    @include vw(26);
                    margin-left: -3%;
                }
            }
            &-about{
                display: flex;
                @include sp {
                    @include vw(24);
                    margin-top: 3%;
                }
                dt{
                    width: 90px;
                    background: #efefef;
                    height: 23px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 12px;
                    font-size: 14px;
                    @include sp {
                        width: 140/690*100%;
                        margin-right: 2%;
                        letter-spacing: 0.1em;
                        @include vw(22);
                    }
                }
                dd{
                    width: 315px;
                    font-size: 14px;
                    @include sp {
                        width: 550/690*100%;
                        margin-top: 1%;
                        @include vw(22);
                    }
                }
            }
            &-limit{
                @extend .p-top__infoList-about;
            }
        }//infoArea END

        &__bottom-banner{
					width: 1000px;
					margin: 0 auto;
					&Wrap{
						width: 878px;
						display: flex;
						flex-wrap: wrap;
						margin: 0 auto 60px;
					}
					&Img{
						margin-left: 2px;
						margin-bottom: 2px;
						transition: 0.3s;
						@include pc{
							&:hover{
								opacity: 0.75;
							}
						}
					}
					@include sp{
						width: auto;
						padding: vw(16) vw(30);
						border-top: 1px solid #999;
						&Wrap{
							width: auto;
							justify-content: space-between;
							margin: 0;
						}
						&Img{
							width: vw(338);
							margin: 0 0 vw(16);
						}
					}
        }
        
        &__btnArea {//もっと見る
            margin-top: 20px;
            text-align: right;
						&.more{
							display: none;
						}
            @include sp {
								border-bottom: 1px solid #999;
                text-align: center;
                background: #fff;
                margin-top: 0;
                margin-bottom: vw(32);
                padding-bottom: vw(32);
                &.more{
									display: block;
									margin-bottom: 0;
									padding-top: 5%;
                }
            }
        }
    }
}


	.p-top__main-row{
		display: flex;
		flex-direction: column;
		height: 355px;
		width: 169px;
	}
	.p-top__right-Lbox{
		height: auto;
    @include sp{
      img{
        max-width: 138px;
      }
    }
	}
	.p-top__right-Lbox:nth-of-type(1){
		margin-right: 0px;
	}
	.p-top__main-row  div.item-l{
		height: 100%;
	}
	 .p-top__main-row  div.item-s{
		 display: flex;
		 justify-content: space-between;
		 height: 64%;
	}
	.p-top__main-row > div.item-s .p-top__right-Lbox{
		width: 83.5px;
	}


@include sp{
	.swiper-container{
		margin-left: -1px !important;
	}

}
