@charset "UTF-8";

//SPとPC共通
//backgroundColor
.bgWhite{background-color: #fff;}
.bgGrey1{background-color: #f1f1f1;}
//width
.W100P{width: 100% !important;}
	//max-width
.MxWN{max-width: none !important;}
//fontColor
.txRed1{color: #de232d !important;}
.txRed2{color: #d14835 !important;}
.txGrey1{color: #4d4d4d !important;}
.txGrey2{color: #313131 !important;}
.txGrey3{color: #646464 !important;}
.txLBlue1{color: #0071bc !important;}
//margin
	//-top
.MT0{margin-top: 0 !important;}
	//-bottom
.MB0{margin-bottom: 0 !important;}
//padding
	//-top
.PT0{padding-top: 0 !important;}
.PT5{padding-top: 5px !important;}
.PT10{padding-top: 10px !important;}
.PT15{padding-top: 15px !important;}
//fontSize
@for $iFz from 6 through 36{
	.fz#{$iFz}{font-size: $iFz * 0.09rem;}
}
//fontStyle
.fw{
	&B{font-weight: bold !important;}
	&N{font-weight: normal !important;}
}
//lineHeight
@for $iLh from 6 through 36{
	.lh#{$iLh}{line-height: $iLh * 0.1;}
}
//線
.BDT1{border-top: solid 1px #666 !important;}
//display
.dis{
	&I{display:inline !important;}
	&B{display:block !important;}
	&IB{display:inline-block !important;}
	&T{display:table !important;}
	&TC{display:table-cell !important;}
	&N{display:none !important;}
	&F{display: flex !important;}
	&IF{display: inline-flex !important;}
}
//flex
	//jstifyContent
.jstCn{
	&C{justify-content: center !important;}
	&FS{justify-content: flex-start !important;}
	&FE{justify-content: flex-end !important;}
	&SB{justify-content: space-between !important;}
	&SA{justify-content: space-around !important;}
}
	//alignItem
.alIt{
	&C{align-items: center !important;}
	&Fs{align-items: flex-start !important;}
	&FE{align-items: flex-end !important;}
	&B{align-items: baseline !important;}
	&S{align-items: stretch !important;}
}
	//flexDirection
.flxDr{
	&R{flex-direction: row !important;}
	&RV{flex-direction: row-reverse!important;}
	&C{flex-direction: column!important;}
	&CR{flex-direction: column-reverse!important;}
}
	//flexShrink
.flxSh{
	&0{flex-shrink: 0 !important;}
}
//textAlign
.ta {
	&L{text-align: left !important;}
	&R{text-align: right !important;}
	&C{text-align: center !important;}
}
//verticalAlign
.va {
	&T{vertical-align: top !important;}
	&M{vertical-align: middle !important;}
	&B{vertical-align: bottom !important;}
	&TB{vertical-align: text-bottom !important;}
}
//overflow
.of{
	&A{overflow: auto !important;}
	&S{overflow: scroll!important;}
	&H{overflow: hidden !important;}
}
//etc
.whSpNW{white-space: nowrap;}
.hvr{
	transition: 0.3s;
	&:hover{
		opacity: 0.75;
	}
}


//SP
@include sp{
.sp{
	//backgroundColor
	&BgWhite{background-color: #fff;}
	//width
	&WA{width: auto !important;}
	&W10P{width: 10% !important;}
	&W20P{width: 20% !important;}
	&W30P{width: 30% !important;}
	&W40P{width: 40% !important;}
	&W50P{width: 50% !important;}
	&W60P{width: 60% !important;}
	&W70P{width: 70% !important;}
	&W80P{width: 80% !important;}
	&W90P{width: 90% !important;}
	&W100P{width: 100% !important;}
	//margin
	&MA{margin: auto !important;}
	&M0{margin: 0 !important;}
		//-top
	&MT0{margin-top: 0 !important;}
	&MT4{margin-top: 4px !important;}
	&MT1P{margin-top: 1% !important;}
	&MT2P{margin-top: 2% !important;}
	&MT3P{margin-top: 3% !important;}
	&MT4P{margin-top: 4% !important;}
	&MT5P{margin-top: 5% !important;}
	&MT10P{margin-top: 10% !important;}
	&MT15P{margin-top: 15% !important;}
	&MT20P{margin-top: 20% !important;}
	&MT25P{margin-top: 25% !important;}
	&MT30P{margin-top: 30% !important;}
		//-bottom
	&MB0{margin-bottom: 0 !important;}
	&MB1P{margin-bottom: 1% !important;}
	&MB2P{margin-bottom: 2% !important;}
	&MB3P{margin-bottom: 3% !important;}
	&MB4P{margin-bottom: 4% !important;}
	&MB5P{margin-bottom: 5% !important;}
	&MB6P{margin-bottom: 6% !important;}
	&MB7P{margin-bottom: 7% !important;}
	&MB8P{margin-bottom: 8% !important;}
	&MB9P{margin-bottom: 9% !important;}
	&MB10P{margin-bottom: 10% !important;}
	&MB15P{margin-bottom: 15% !important;}
	&MB20P{margin-bottom: 20% !important;}
	&MB25P{margin-bottom: 25% !important;}
	&MB30P{margin-bottom: 30% !important;}
	//padding
	&P0{padding: 0 !important;}
	&P16V{padding: vw(16) !important;}
	&P32V{padding: vw(32) !important;}
		//-top
	&PT0{padding-top: 0 !important;}
	&PT1P{padding-top: 1% !important;}
	&PT2P{padding-top: 2% !important;}
	&PT3P{padding-top: 3% !important;}
	&PT4P{padding-top: 4% !important;}
	&PT5P{padding-top: 5% !important;}
	&PT8V{padding-top: vw(8) !important;}
	&PT16V{padding-top: vw(16) !important;}
	&PT32V{padding-top: vw(32) !important;}
		//-bottom
	&PB0{padding-bottom: 0 !important;}
	&PB1P{padding-bottom: 1% !important;}
	&PB2P{padding-bottom: 2% !important;}
	&PB3P{padding-bottom: 3% !important;}
	&PB4P{padding-bottom: 4% !important;}
	&PB5P{padding-bottom: 5% !important;}
	&PB10P{padding-bottom: 10% !important;}
	&PB8V{padding-bottom: vw(8) !important;}
	&PB16V{padding-bottom: vw(16) !important;}
	&PB32V{padding-bottom: vw(32) !important;}
		//-left
	&PL0{padding-left: 0 !important;}
	&PL1P{padding-left: 1% !important;}
	&PL3P{padding-left: 3% !important;}
		//-right
	&PR0{padding-right: 0 !important;}
	&PR3P{padding-right: 3% !important;}
	//fontSize
	@for $iFz from 6 through 36{
		&Fz#{$iFz}{
			font-size: ($iFz /2) *1px !important;
			font-size:( $iFz /750 *100 ) *1vw !important;
		}
	}
	//線
		//top
	&BDT1{border-top: solid 1px #666 !important;}
	&BDT2{border-top: solid 1px #c9c9c9 !important;}
		//bottom
	&BDBN{border-bottom: none !important;}
	&BDB1{border-bottom: 1px solid #b3b3b3 !important;}
	&BDB2{border-bottom: 1px solid #999 !important;}
		//radius
	&BDRd{
		&4V{border-radius: vw(4) !important;}
		&8V{border-radius: vw(8) !important;}
		&16V{border-radius: vw(16) !important;}
		&24V{border-radius: vw(24) !important;}
	}
	//display
	&Dis{
		&I{display:inline !important;}
		&B{display:block !important;}
		&IB{display:inline-block !important;}
		&T{display:table !important;}
		&TC{display:table-cell !important;}
		&N{display:none !important;}
		&F{display: flex !important;}
		&IF{display: inline-flex !important;}
	}
	//flex
		//jstifyContent
	&JstCn{
		&C{justify-content: center !important;}
		&FS{justify-content: flex-start !important;}
		&FE{justify-content: flex-end !important;}
		&SB{justify-content: space-between !important;}
		&SA{justify-content: space-around !important;}
	}
		//alignItem
	&AlIt{
		&C{align-items: center !important;}
		&Fs{align-items: flex-start !important;}
		&FE{align-items: flex-end !important;}
		&B{align-items: baseline !important;}
		&S{align-items: stretch !important;}
	}
		//flexDirection
	&FlxDr{
		&R{flex-direction: row !important;}
		&RV{flex-direction: row-reverse!important;}
		&C{flex-direction: column!important;}
		&CR{flex-direction: column-reverse!important;}
	}
		//flexShrink
	&FlxSh{
		&0{flex-shrink: 0 !important;}
	}
	//textAlign
	&Ta {
		&L{text-align: left !important;}
		&R{text-align: right !important;}
		&C{text-align: center !important;}
	}
	//verticalAlign
	&Va {
		&T{vertical-align: top !important;}
		&M{vertical-align: middle !important;}
		&B{vertical-align: bottom !important;}
		&TB{vertical-align: text-bottom !important;}
	}
	//overflow
	.Of{
		&A{overflow: auto !important;}
		&S{overflow: scroll!important;}
		&H{overflow: hidden !important;}
	}
	//etc
	&WhSpNW{white-space: nowrap;}
}
}//sp End


//PC
@include pc{
.pc{
	//width
	&WA{width: auto !important;}
	&W50{width: 50px !important;}
	&W60{width: 60px !important;}
	&W80{width: 80px !important;}
	&W90{width: 90px !important;}
	&W100{width: 100px !important;}
	&W110{width: 110px !important;}
	&W120{width: 120px !important;}
	&W130{width: 130px !important;}
	&W140{width: 140px !important;}
	&W150{width: 150px !important;}
	&W170{width: 170px !important;}
	&W180{width: 180px !important;}
	&W185{width: 185px !important;}
	&W200{width: 200px !important;}
	&W220{width: 220px !important;}
	&W230{width: 230px !important;}
	&W240{width: 240px !important;}
	&W260{width: 260px !important;}
	&W270{width: 270px !important;}
	&W280{width: 280px !important;}
	&W296{width: 296px !important;}
	&W310{width: 310px !important;}
	&W314{width: 314px !important;}
	&W340{width: 340px !important;}
	&W375{width: 375px !important;}
	&W380{width: 380px !important;}
	&W625{width: 625px !important;}
	&W100P{width: 100% !important;}
	//margin
	&MA{margin: auto !important;}
		//-top
	&MT0{margin-top: 0px !important;}
	&MT8{margin-top: 8px !important;}
	&MT16{margin-top: 16px !important;}
	&MT24{margin-top: 24px !important;}
	&MT32{margin-top: 32px !important;}
	&MT35{margin-top: 35px !important;}
	&MT40{margin-top: 40px !important;}
	&MT48{margin-top: 48px !important;}
	&MT56{margin-top: 56px !important;}
	&MT64{margin-top: 64px !important;}
	&MT72{margin-top: 72px !important;}
	&MT80{margin-top: 80px !important;}
	&MT100{margin-top: 100px !important;}
		//-bottom
	&MB0{margin-bottom: 0px !important;}
	&MB8{margin-bottom: 8px !important;}
	&MB10{margin-bottom: 10px !important;}
	&MB16{margin-bottom: 16px !important;}
	&MB20{margin-bottom: 20px !important;}
	&MB24{margin-bottom: 24px !important;}
	&MB32{margin-bottom: 32px !important;}
	&MB40{margin-bottom: 40px !important;}
	&MB48{margin-bottom: 48px !important;}
	&MB56{margin-bottom: 56px !important;}
	&MB64{margin-bottom: 64px !important;}
		//-right
	&MR8{margin-right: 8px !important;}
	&MR16{margin-right: 16px !important;}
		//-left
	&ML80{margin-left: 80px !important;}
	//padding
		//-top
	&PT0{padding-top: 0 !important;}
	&PT5{padding-top: 5px !important;}
	&PT8{padding-top: 8px !important;}
	&PT10{padding-top: 10px !important;}
	&PT15{padding-top: 15px !important;}
	&PT16{padding-top: 16px !important;}
	&PT20{padding-top: 20px !important;}
	&PT24{padding-top: 24px !important;}
	&PT26{padding-top: 26px !important;}
	&PT30{padding-top: 30px !important;}
	&PT32{padding-top: 32px !important;}
	&PT40{padding-top: 40px !important;}
	&PT43{padding-top: 43px !important;}
		//-bottom
	&PB0{padding-bottom: 0 !important;}
	&PB10{padding-bottom: 10px !important;}
	&PB16{padding-bottom: 16px !important;}
	&PB20{padding-bottom: 20px !important;}
	&PB24{padding-bottom: 24px !important;}
	&PB32{padding-bottom: 32px !important;}
	&PB40{padding-bottom: 40px !important;}
	//fontSize
	@for $iFz from 6 through 36{
		&Fz#{$iFz}{font-size: $iFz * 1px !important;}
	}
	//線
		//-top
	&BDTN{border-top: none !important;}
	&BDT1{border-top: 1px solid #c9c9c9 !important;}
		//-bottom
	&BDB1{border-bottom: 1px solid #c9c9c9 !important;}
	//display
	&Dis{
		&I{display:inline !important;}
		&B{display:block !important;}
		&IB{display:inline-block !important;}
		&T{display:table !important;}
		&TC{display:table-cell !important;}
		&N{display:none !important;}
		&F{display: flex !important;}
		&IF{display: inline-flex !important;}
	}
	//flex
		//jstifyContent
	&JstCn{
		&C{justify-content: center !important;}
		&FS{justify-content: flex-start !important;}
		&FE{justify-content: flex-end !important;}
		&SB{justify-content: space-between !important;}
		&SA{justify-content: space-around !important;}
	}
		//alignItem
	&AlIt{
		&C{align-items: center !important;}
		&Fs{align-items: flex-start !important;}
		&FE{align-items: flex-end !important;}
		&B{align-items: baseline !important;}
		&S{align-items: stretch !important;}
	}
		//flexDirection
	&FlxDr{
		&R{flex-direction: row !important;}
		&RV{flex-direction: row-reverse!important;}
		&C{flex-direction: column!important;}
		&CR{flex-direction: column-reverse!important;}
	}
		//flexShrink
	&FlxSh{
		&0{flex-shrink: 0 !important;}
	}
	//textAlign
	&Ta {
		&L{text-align: left !important;}
		&R{text-align: right !important;}
		&C{text-align: center !important;}
	}
	//verticalAlign
	&Va {
		&T{vertical-align: top !important;}
		&M{vertical-align: middle !important;}
		&B{vertical-align: bottom !important;}
		&TB{vertical-align: text-bottom !important;}
	}
	//overflow
	.Of{
		&A{overflow: auto !important;}
		&S{overflow: scroll!important;}
		&H{overflow: hidden !important;}
	}
	//etc
	&WhSpNW{white-space: nowrap;}
}
}//pc End

