@charset "utf-8";

.l{
    &-footer{
        text-align: center;
        font-size: 12px;
        @include sp {
            @include vw(20);
        }
        &__menuArea {
            margin: auto;
            background-color: #e4ddcd;
            @include sp {
                background-color: #fff;
            }
        }
        &__menuList {
            display: block;
            @include sp {
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid #999;
                text-align: center;
            }
        }
        &__menu {
            display: inline-block;
            @include sp {
                display: block;
                width: 50%;
                border-top: 1px solid #999;
                &:nth-child(odd) {
                    border-right: 1px solid #999;
                }
            }
            a {
                display: block;
                padding: 20px;
                font-weight: bold;
                @include sp {
                    padding: (30/375*100%) 0;
                    @include vw(20);
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &__snsArea {
            padding: 35px 0;
            background-color: #e6e6e6;
            @include sp {
                padding: (60/750*100%) 0 (40/750*100%);
            }
        }
        &__snsList {
            margin-bottom: 30px;
            @include sp {
                zoom: 1.4;
                margin-bottom: (40/750*100%);
            }
        }
        &__snslink {
            display: inline-block;
            margin: 0 5px;
            @include sp {
                margin: 0 3px;
            }
            a {
                display: block;
                width: 35px;
                height: 35px;
                transition: transform .5s;
                &:hover {
                    @include pc {
                        transform: rotateY(-360deg);
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        &__logo {
            @include sp {
                width: (190/750*100%);
                margin: auto;
            }
        }
        &__corporateArea {
            padding: 10px 0;
            color: #fff;
            background-color: $color_key;
            @include sp {
                padding: (30/750*100%) 0 70px;
                color: $color_key;
                background-color: #e4ddcd;
            }
        }


        // SP
        @include sp {
            &__navArea {
                width: 100%;
                z-index: 2;
                position: fixed;
                bottom: 0;
                padding: (15/750*100%) 0;
                background-color: $color_key;
            }
            &__navList {
                display: flex;
                justify-content: space-between;
                width: 690/750*100%;
                margin: auto;
            }
            &__navLink {
                width: 20%;
                a {
                    position: relative;
                    display: block;
                    width: 80%;
                    margin: auto;
                    color: #fff;
                    font-weight: normal;
                    img {
                        display: block;
                        width: 38%;
                        margin: 0 auto 3px;
                    }
                    span {
                        @include vw(18);
                    }
                    &.cart {
                        &:after {
                            content: "2";
                            display: block;
                            background-color: #646464;
                            color: #fff;
                            line-height: 1;
                            position: absolute;
                            font-weight: bold;
                            top: -7px;
                            right: 5px;
                            @include vw(23);
                            padding: 4px 6px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}

// ページトップに戻る
.toTop {
    z-index: 2;
    position: fixed;
    right: 20px;
    bottom: 20px;
    @include sp {
        width: 30%;
        height: auto;
        right: 10px;
        bottom: 70px;
    }
}