@charset "utf-8";

.l{
    &-header{
        background-color: #fff;
				margin-bottom: 8px;
        padding-bottom: 15px;
				border-bottom: 4px solid #c9c9c9;
        @include sp {
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: none;
        }
        &__mainArea {
            width: 1000px;
            padding: 20px 0 15px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include sp {
							width: 100%;
							padding: 20/750*100% 0;
							border-bottom: vw(8) solid #eaeaea;
							box-shadow: 0 0 6px rgba(0,0,0,0.3);
							position: relative;
							z-index: 2;
            }
            &-right{
//                width: 180px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include sp {
									justify-content: flex-start;
                    width: 30%;
                    order:1;
                }
            }
        }
        &__logo {
            &-giants{
                width: 152px;
                height: 38.52px;
                @include sp{
                    width: 100%;
                    height: auto;
                }
            }
            @include sp {
                width: 250/750*100%;
                order: 3;
            }
        }
				&__memberInfo-name{
					margin-right: 24px;
					display: flex;
					align-items: center;
					font-weight: bold;
					letter-spacing: 0.1em;
					@include sp{
						display: none;
					}
					.member{
						&__info{
							letter-spacing: 0;
							text-align: center;
							&-name{
								font-size: 12px;
								font-weight: normal;
							}
							&-rank{
								margin-top: 4px;
								padding-top: 4px;
								color: $color_key;
								font-size: 8px;
								font-weight: bold;
								border-top: 1px solid #c9c9c9;
							}
						}
					}
				}
        &__logout{
					margin-right: 16px;
					text-align: center;
					transition: 0.3s;
					&:hover{opacity: 0.6;}
					.img{
						display: block;
						width: 37px;
					}
					p{
						font-size: 8px;
						margin-top: 5px;
					}
					@include sp {
						display: none;
					}
					&:hover{
					}
        }
        &__menu{
            width: 40px;
            cursor: pointer;
						transition: 0.3s;
						&:hover{opacity: 0.6;}
            @include sp{
								width: vw(72);
                margin-left: 32/180*100%;
                padding-top: 4.2%;
                border-right: 1px solid #777;
                padding-right: vw(20);
            }
            &-line{
                width: 33px;
                height: 3px;
                background: #000;
                margin: 0 auto;
                transition: transform 500ms;
                @include sp{
                    width: auto;
                    height: vw(4);
                }
                &.middle{
                    margin: 8px auto;
                    @include sp{
                        margin: vw(14) auto;
                    }
                }
            }
            &-txt{
                font-size: 8px;
                margin-top: 5px;
                &-sp{
                    margin: 0 auto;
                    width:auto;
										@include vw(14);
                }
            }
            &-select{
                @include sp{
                    width: 100%;
									border-bottom: vw(10) solid #fff;
									overflow: hidden;
                }
            }
        }
        
        &__goods{//only sp
					width:22px;
					@include sp{
						width: vw(45);
						margin-left: vw(20);
					}
        }
        
        &__menber{
            @include sp {
                order: 4;
                margin-right: 18/750*100%;
            }
            .member{//only sp
							&__info {
									@include vw(14);
									font-weight: bold;
									text-align: right;
//                    &-mark{
//                        width: 35/215*100%;
//                    }
							}
							&__pointWrap{
								text-align: right;
							}
							&__point{
								border: 1px solid #e4ddcd;
								display: inline-flex;
								justify-content: space-between;
								align-items: center;
								width: vw(182);
								border-radius: 3px;
								padding: 3% 5% 3% ;
								@include vw(27);
								font-weight: bold;
								margin-top: 4%;
								&-mark{
									display: flex;
									align-items: center;
									img{
										width: vw(21);
									}
									p{
										padding-left: vw(8);
										@include vw(14);
									}
								}
								span{
									display: block;
									@include vw(19);
								}
							}
            }
        }
        &__menuArea {
            width: 1000px;
            margin:0 auto;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            @include sp {
                width: 100%;
                background: $color_key;
            }
            nav{
                position: relative;
            }
        }
        
        &__menuList{
            @include sp{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10/750*100%;
                border: 0;
                border-top:5px solid $color_key;
            }
            &-link{
							display: inline-block;
							width: 122px;
							text-align: center;
							font-size: 18px;
							font-weight: bold;
							position: relative;
							@include sp {
								width: 100%;
								margin-bottom: 0;
								margin-bottom: -1px;
								margin-left: -1px;
								@include vw(28);
								padding: 2% 0;
								&:nth-of-type(1){
									a{
										border-left: none;
									}
								}
							}
							a{
								@include pc{
										&:hover{
												color: $color_key;
										}
								}
								@include sp{
										@include vw(26);
										display: block;
										width: 100%;
										border-left: 1px solid #fff;
										color: #fff;
										letter-spacing: 0.05em;
								}
							}
							& + .l-header__menuList-link{
								border-left: 1px solid #c9c9c9;
								@include sp{
									border-left: none;
								}
							}
            }
            span {
                background:#FFF;
                height:2px;
                display:block;
                position:absolute;
                left:0;
            }
        }
        &__memberInfo {
					display: flex;
					align-items: center;
					@include sp{
							display: none;
					}
					.mark{
						margin-right: 24px;
					}
					.txts{
						display: flex;
						flex-direction: column;
						justify-content: center;
						color: #3a3a3a;
						font-size: 12px;
						font-weight: bold;
						dl{
							display: flex;
							justify-content: space-between;
							& + dl{
								margin-top: 4px;
								padding-top: 4px;
								border-top: 1px solid #c9c9c9;
							}
							dd{
								margin-left: 24px;
							}
						}
					}
					&-point{
						display: flex;
						.mark{
							width: 47px;
						}
						.txts{
						}
					}
					&-num{
						display: flex;
						margin-left: 24px;
						padding-left: 24px;
						border-left: 1px solid #c9c9c9;
						.mark{
							width: 53px;
						}
						.txts{
						}
					}
        }
        &__attentionArea {
            background-color: #000;
            padding: 15px 0;
            @include sp {
                padding: 0 0;
            }
        }
        &__attention {
            width: 1000px;
            margin: auto;
            font-size: 15px;
            color: $color_key;
            font-weight: bold;
            @include sp {
                width: 100%;
                @include vw(18);
                text-align: center;
                padding: (15/750*100%) 0;
            }
        }
    }
		&-headerWrap{
			@include sp{
				border-top: vw(8) solid $color_key;
				&.spTabNo{
					.l-header__menuArea nav{
						display: none;
					}
				}
			}
			&.cateMP .l-header__menuList-link:nth-child(1),
			&.cateAC .l-header__menuList-link:nth-child(2),
			&.cateIF .l-header__menuList-link:nth-child(3){
				position: relative;
				&:after {
					content: "";
					background:$color_key;
					width: 100%;
					height:4px;
					display:block;
					position:absolute;
					left:0;
					bottom: -16px;
					@include sp{
						display: none;
					}
				}
				@include sp{
					width: 100%;
					background: #fff;
					border-radius: 6px 6px 0 0;
					border: 1px solid #fff;
					box-sizing: content-box;
					box-shadow: 0 1px 6px rgba(0,0,0,0.3);
					a{
						color: $color_key;
						border: none;
					}
				}
			}
			&.cateMPNo .l-header__menuList-link:nth-child(1),
			&.cateACNo .l-header__menuList-link:nth-child(2),
			&.cateIFNo .l-header__menuList-link:nth-child(3){
				display: none;
			}
			&.cateIF.cateMPNo .l-header__menuList-link:nth-child(2) a{
				border-left: none;
			}
		}
    &-header2{
			background-color: #000;
			padding: 24px 0 19px;
		}
}
