@charset "utf-8";

.l{
    &-header{
        border-top: 5px solid $color_key;
        background-color: #fff;
        @include sp {
            border-top: none;
        }
        &__mainArea {
            padding: 7px 0 20px;
            @include sp {
                padding: (20/750*100%);
                border-bottom: 1px solid #b3b3b3;
            }
        }
        &__contactLine {
            width: 1000px;
            margin: 0 auto 6px;
            text-align: right;
        }
        &__contactListRow {
            display: inline-block;
            font-size: 10px;
            font-weight: bold;
            a {
                display: block;
                line-height: 1;
                padding: 0 10px;
							transition: 0.3s;
							&:hover{
								color: $color_key;
							}
            }
            &:first-child {
                border-right: 1px solid #000;
            }
        }
        &__mainInner {
            vertical-align: bottom;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 1000px;
            margin: auto;
            @include sp {
                width: 100%;
            }
        }
        &__logo {
            @include sp {
                width: (400/750*100%);
            }
        }
        &__personalId {
            &--before {
                @include sp {
                    width: (180/750*100%);
                }
            }
            &--after {
                @include sp {
                    width: (290/750*100%);
                }
            }
        }


        // 検索
        &__searchForm {
            position: relative;
            overflow: hidden;
            width: 265px;
            border: 1px solid #5b5959;
            border-radius: 6px;
            font-size: 0;
            @include sp {
								display: flex;
								align-items: stretch;
                width: 70%;
                background-color: #4d4d4d;
                border-radius: 0;
                border: none;
                border-bottom: 1px solid #b3b3b3;
                &:before {
									content: "";
									display: block;
									width: vw(20);
									height: vw(20);
									background-image: url(#{$img_path}icon/search_white.png);
									background-size: contain;
									background-repeat: no-repeat;
									position: absolute;
									top: 30%;
									right: 13.5%;
                }
            }
            #inputHeader,
            #inputHeader--sp {
							width: 210px;
							border: none;
							border-radius: 6px;
							display: inline;
							height: 30px;
							@include sp {
								display: block;
								background-color:#fff;
								border-radius: 0;
								width: 80%;
								height: auto;
								padding: vw(12) vw(16);
								background-image: url(#{$img_path}common/input_shadow.png);
								background-size: 100% 100%;
								font-size: 3vw;
								&::placeholder {
										color: #ccc;
										font-size: 3vw;
								}
							}
            }
            #submitHeader,
            #submitHeader--sp {
                display: inline-block;
                width: 53px;
                height: 30px;
                background-color: #646464;
                color: #fff;
                text-align: center;
                @include sp {
									display: block;
                    width: 20%;
										height: auto;
                    background-color: #4d4d4d;
                    @include vw(24);
                    font-weight: bold;
                    letter-spacing: .1em;
                }
            }
            #submitHeader {
							transition: 0.3s;
							&:hover{
								opacity: 0.75;
							}
						}
        }
        &__searchHistory {
            display: none;
            z-index: 3;
            position: absolute;
            top: 30px;
            left: 0;
            padding: 20px;
            width: 210px;
            font-size: 11px;
            background-color: #fff;
            border: 1px solid #646464;
            &.active {
                display: block;
            }
        }
        &__searchHistoryTtl {
            font-weight: bold;
            font-size: 12px;
            margin-bottom: 15px;
        }
        &__searchHistoryRow {
            a {
                display: block;
                color: #a1a0a0;
                padding: 5px;
                border-bottom: 1px solid #a1a0a0;
                &:hover {
                    color: #646464;
                }
            }
        }


        // 選手名を選ぶ
        &__selectBtn {
            display: block;
            position: relative;
            width: 100%;
            background-color: #646464;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            line-height: 33px;
            padding: 0 17px 0 35px;
					transition: 0.3s;
            &:before {
                left: 12px;
                top: 0;
                position: absolute;
                content: url(#{$img_path}icon/arrow_white_down.png);
            }
						&:hover{
							opacity: 0.75;
						}
        }
        &__menuArea {
            background-color: #3a3a3a;
        }
        &__menuList {
            width: 1000px;
            margin: auto;
            font-size: 0;
            @include sp {
                width: 100%;
            }
        }
        &__menuLink {
            position: relative;
            display: inline-block;
            width: 250px;
            text-align: center;
        }
        &__menuLinkTag {
            display: block;
            color: #fff;
            font-size: 14px;
            padding: 7px 0;
						transition: 0.3s;
            @include sp {
                padding: 0 0;
            }
            &:hover {
                color: $color_key;
            }
        }
        
        &__loginBefore {
            border: 1px solid $color_key;
            font-size: 13px;
            line-height: 1;
            border-radius: 4px;
            @include sp {
                @include vw(20);
                padding-bottom: 0;
            }
            a {
                display: block;
                position: relative;
                padding: 7px 25px 7px 7px;
                @include sp {
                    padding: 5px 15px 5px 5px;
                }
                &:after {
                    display: block;
                    position: absolute;
                    content: "";
                    right: 7px;
                    width: 8px;
                    height: 14px;
                    top: 50%;
                    transform: translate(0,-50%);
                    background-image: url(#{$img_path}icon/arrow_key_right.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    @include sp {
                        right: 5px;
                        width: 5px;
                        height: 10px;
                    }
                }
            }
            img {
                margin-right: 5px;
                @include sp {
                    margin-right: 3px;
                    width: 10px;
                    height: 11px;
                    vertical-align: middle;
                }
            }
            span {
                color: $color_key;
                font-weight: bold;
                display: inline-block;
                line-height: 1;
                @include sp {
                    width: auto;
                }
            }
        }
        &__personalId {
					position: relative;
					.logMenu{
						display: none;
						background-color: #fff;
						width: 154px;
						padding: 10px;
						font-size: 13px;
						line-height: 1;
						box-shadow: 0 5px 8px 0 rgba(0,0,0,0.5);
						position: absolute;
						top: 30px;
						z-index: 1;
						a{
							display: block;
							padding: 0 8px;
							color: #646464;
							line-height: 2;
							border-radius: 3px;
							&:hover{
								background-color: #f2f2f2;
							}
						}
					}
				}
        &__loginAfter {
					display: block;
					padding-bottom: 5px;
					font-size: 10px;
					line-height: 1;
					@include sp {
						position: relative;
						display: flex;
						align-items: center;
						@include vw(18);
						padding-bottom: 0;
						border: 1px solid #646464;
						padding: (20/750*100%) (20/750*100%);
						border-radius: 4px;
						font-size: 0;
						width: 100%;
						&:after {
							content: url(#{$img_path}icon/arrow_btn_gray.png);
							position: absolute;
							transform: translate(0,-50%);
							right: 3px;
							top: 50%;
						}
					}
					svg{
						margin-right: 5px;
						vertical-align: bottom;
						stroke:#646464;
						transition: 0.3s;
						.st0{
							fill:none;
							stroke-miterlimit:10;
						}
						.st1{
							fill:none;
							stroke-linecap:round;
							stroke-linejoin:round;
							stroke-miterlimit:10;
						}
					}
					img {
							margin-right: 5px;
							@include sp {
									display: inline-block;
									margin-right: 5px;
									width: 12px;
									height: 13px;
							}
					}
					span {
							font-weight: bold;
							display: inline-block;
							width: 100px;
							color: #646464;
							line-height: 1;
						transition: 0.3s;
							@include sp {
									display: inline-block;
									width: 75%;
									@include vw(18);
							}
					}
					&:hover{
						svg{
							stroke: $color_key;
						}
            span {
							color: $color_key;
						}
					}
        }
        &__personalFav {
            a {
                display: block;
                padding: 0 7px;
                border: 1px solid #646464;
                border-radius: 4px;
                font-size: 10px;
                font-weight: bold;
                height: 33px;
                img {
                    vertical-align: middle;
                }
                span {
                    display: inline-block;
                    line-height: 33px;
                }
							transition: 0.3s;
							&:hover{
								opacity: 0.75;
							}
            }
        }
        &__personalCart {
					background:url(/assets/img/common/header_cart_on.png) 0 0 no-repeat;
					background-size: 100% 100%;
					position: relative;
					img{
						background-color: #fff;
						transition: 0.3s;
					}
					span {
						font-size: 13px;
						background-color: $color_key;
						display: inline-block;
						color: #fff;
						font-weight: bold;
						width: 22px;
						height: 22px;
						line-height: 22px;
						text-align: center;
						border-radius: 50%;
						position: absolute;
						right: -17px;
						top: -10px;
					}
					&:hover{
						img{
							opacity: 0;
						}
					}
        }


        // ヘッドライン
        &__headlineArea {
            background-color: #fff;
            height: 40px;
            overflow: hidden;
            border-bottom: 1px solid #c9c9c9;
            @include sp {
                background-color: #000;
                height: 30px;
                border-bottom: none;
            }
        }
        &__headlineInner {
            display: flex;
            width: 880px;
            margin: auto;
            @include sp {
                width: 100%;
            }
        }
        &__headlineTag {
            position: relative;
            width: 120px;
            font-weight: bold;
            font-size: 15px;
            line-height: 40px;
            text-align: center;
            color: #4e4e4e;
            @include sp {
                color: $color_key;
                @include vw(18);
                width: 120/750*100%;
                line-height: 30px;
            }
            &:after {
                content: "";
                display: block;
                width: 1px;
                height: 12px;
                position: absolute;
                background-color: #4e4e4e;
                right: 0;
                top: 50%;
                transform: translate(0,-50%);
                @include sp {
                    background-color: $color_key;
                }
            }
        }
        &__headline {
            padding-left: 30px;
            width: 880px;
            margin: auto;
            font-size: 14px;
            line-height: 40px;
            height: 40px;
            color: #4e4e4e;
            font-weight: bold;
            @include sp {
                width: 630/750*100%;
                @include vw(18);
                text-align: center;
                padding-left: 30/750*100%;
                color: $color_key;
                height: 30px;
            }
        }
        &__headlineRow {
            line-height: 40px;
            @include sp {
                line-height: 30px;
            }
        }


        // SP 注目ワード
        &__focusTtl {
            width: 110px;
            @include sp {
                @include fs(11);
                width: auto;
                display: inline-block;
                margin-bottom: (0/750*100%);
                margin-right: (50/750*100%);
            }
            span {
                position: relative;
                display: inline-block;
                color: #fff;
                background-color: $color_key;
                padding: 7px 15px;
                height: 32px;
                @include sp {
                    line-height: 2;
                }
                &:after {
                    position: absolute;
                    right: -16px;
                    top: 0;
                    display: block;
                    content: "";
                    border-top: 16px solid transparent;
                    border-bottom: 16px solid transparent;
                    border-left: 16px solid $color_key;
                }
            }
        }
        &__focusList {
            width: 450px;
            @include sp {
                width: auto;
                line-height: 28px;
                display: inline;
            }
        }
        &__focusMore {
            display: inline-block;
            width: (100/750*100%);
            vertical-align: top;
            @include sp {
                height: 32px;
                position: absolute;
                right: 8px;
            }
            a {
                height: 32px;
                display: block;
                background-image: url(#{$img_path}top/more.png);
                background-repeat: no-repeat;
                background-position: 0 50%;
                background-size: contain;
                &.open {
                    background-image: url(#{$img_path}top/more_close.png);
                }
            }
        }
        &__focusPlus {
            display: none;
            width: (690/750*100%);
            margin: auto;
            padding: (5/750*100%) 0;
        }
        &__focusTag {
            display: inline-block;
            margin-bottom: 7px;
            margin-right: 2px;
            a{
              display: block;
              padding: 2px 5px;
              background-color: #e6e6e6;
              border-radius: 3px;
            }
            @include sp {
                @include fs(11);
                margin-bottom: (0/750*100%);
            }
            &:hover {
                cursor: pointer;
                background-color: $color_key;
            }
        }


        // 選手を選ぶ
        &__playerBox {
					display: none;
					background-color: #fff;
					width: 1000px;
					margin: auto;
					position: absolute;
					font-size: 11px;
					box-shadow: 0 0px 20px 0 rgba(0,0,0,0.5);
					top: 87px;
					left: 0;
					right: 0;
					z-index: 3;
					
					&.open {
						display: block;
					}
        }
        &__playerInner {
            padding: 30px 0;
					.players{
            display: flex;
						padding-bottom: 48px;
					}
        }
        &__playerBlock {
            width: 20%;
            &:not(:last-of-type) {
//                border-right: 1px solid #ccc;
            }
        }
        &__playerType {
						color: #4d4d4d;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 20px;
            margin-left: 40px;
        }
        &__playerNameLink {
            a {
                display: block;
								color: #646464;
								margin-left: 20px;
                padding: 4px 20px;
								border-radius: 4px;
                &:hover {
									background-color: #f2f2f2;
                }
            }
        }
    }
}
.headSearchSp{
	display: flex;
	border-bottom: 1px solid #b3b3b3;
	position: relative;
	.l-header__selectBtn_sp{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30%;
		color: $color_key;
		font-size: 3vw;
		font-weight: bold;
		&:before{
			content: "";
			width: 0.6em;
			height: 0.6em;
			margin-right: 0.5em;
			border-bottom: 2px solid $color_key;
			border-left: 2px solid $color_key;
			transform: translateY(-0.3em) rotate(-45deg);
		}
	}
}
.l-header__playerBoxSp{
	display: none;
	position: relative;
	&.open{
		display: block;
	}
	.l-header__playerInner{
		background-color: #eaeaea;
		width: 100%;
		padding: vw(32) vw(16);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		.players{
			display: block;
			padding-bottom: 0;
			.l-header__playerBlock{
				width: auto;
				padding-bottom: 9vw;
				.l-header__playerType{
					margin: 0 0 vw(16) vw(8);
					font-size: 4vw;
					font-weight: bold;
				}
				.l-header__playerNameList{
					display: flex;
					flex-wrap: wrap;
					background-color: #fff;
					padding: vw(32);
					border-radius: 4px;
					.l-header__playerNameLink{
						width: 50%;
						font-size: 3vw;
						a{
							margin: 0 0 3vw;
							padding: 0;
						}
					}
				}
			}
		}
	}
}




