@charset "utf-8";

.l{
    &-header{
        border-top: 5px solid $color_key;
        background-color: #fff;
        @include sp {
            border-top: none;
        }
        &__mainArea {
            padding: 7px 0 20px;
            @include sp {
                padding: (20/750*100%);
                border-bottom: 1px solid #b3b3b3;
            }
        }
        &__contactLine {
            width: 1000px;
            margin: 0 auto 6px;
            text-align: right;
        }
        &__contactListRow {
            display: inline-block;
            font-size: 10px;
            font-weight: bold;
            a {
                display: block;
                line-height: 1;
                padding: 0 10px;
            }
            &:first-child {
                border-right: 1px solid #000;
            }
        }
        &__mainInner {
            vertical-align: bottom;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 1000px;
            margin: auto;
            @include sp {
                width: 100%;
            }
        }
        &__logo {
            @include sp {
                width: (400/750*100%);
            }
        }
        &__personalId {
            &--before {
                @include sp {
                    width: (180/750*100%);
                }
            }
            &--after {
                @include sp {
                    width: (290/750*100%);
                }
            }
        }


        // 検索
        &__searchForm {
            position: relative;
            overflow: hidden;
            width: 265px;
            border: 1px solid #5b5959;
            border-radius: 6px;
            font-size: 0;
            @include sp {
                width: 100%;
                background-color: #4d4d4d;
                border-radius: 0;
                border: none;
                border-bottom: 1px solid #b3b3b3;
                &:before {
                    content: "";
                    display: block;
                    width: 14px;
                    height: 14px;
                    background-image: url(#{$img_path}icon/search_white.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 7.5px;
                    right: 13.5%;
                }
            }
            #inputHeader,
            #inputHeader--sp {
                width: 210px;
                border: none;
                border-radius: 6px;
                display: inline;
                height: 30px;
                @include sp {
                    background-color:#fff;
                    border-radius: 0;
                    width: 80%;
                    font-size: 16px;
                    background-image: url(#{$img_path}common/input_shadow.png);
                    background-size: contain;
                    &::placeholder {
                        color: #ccc;
                        font-size: 12px;
                    }
                }
            }
            #submitHeader,
            #submitHeader--sp {
                display: inline-block;
                width: 53px;
                height: 30px;
                background-color: #646464;
                color: #fff;
                text-align: center;
                @include sp {
                    width: 20%;
                    background-color: #4d4d4d;
                    @include vw(24);
                    font-weight: bold;
                    letter-spacing: .1em;
                }
            }
        }
        &__searchHistory {
            display: none;
            z-index: 3;
            position: absolute;
            top: 30px;
            left: 0;
            padding: 20px;
            width: 210px;
            font-size: 11px;
            background-color: #fff;
            border: 1px solid #646464;
            &.active {
                display: block;
            }
        }
        &__searchHistoryTtl {
            font-weight: bold;
            font-size: 12px;
            margin-bottom: 15px;
        }
        &__searchHistoryRow {
            a {
                display: block;
                color: #a1a0a0;
                padding: 5px;
                border-bottom: 1px solid #a1a0a0;
                &:hover {
                    color: #646464;
                }
            }
        }


        // 選手名を選ぶ
        &__selectBtn {
            display: block;
            position: relative;
            width: 100%;
            background-color: #646464;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            line-height: 33px;
            padding: 0 17px 0 35px;
            &:before {
                left: 12px;
                top: 0;
                position: absolute;
                content: url(#{$img_path}icon/arrow_white_down.png);
            }
        }
        &__menuArea {
            background-color: #3a3a3a;
        }
        &__menuList {
            width: 1000px;
            margin: auto;
            font-size: 0;
            @include sp {
                width: 100%;
            }
        }
        &__menuLink {
            position: relative;
            display: inline-block;
            width: 250px;
            text-align: center;
        }
        &__menuLinkTag {
            display: block;
            color: #fff;
            font-size: 14px;
            padding: 7px 0;
            @include sp {
                padding: 0 0;
            }
            &:hover {
                opacity: .8;
            }
        }
        
        &__loginBefore {
            border: 1px solid $color_key;
            font-size: 13px;
            line-height: 1;
            border-radius: 4px;
            @include sp {
                @include vw(20);
                padding-bottom: 0;
            }
            a {
                display: block;
                position: relative;
                padding: 7px 25px 7px 7px;
                @include sp {
                    padding: 5px 15px 5px 5px;
                }
                &:after {
                    display: block;
                    position: absolute;
                    content: "";
                    right: 7px;
                    width: 8px;
                    height: 14px;
                    top: 50%;
                    transform: translate(0,-50%);
                    background-image: url(#{$img_path}icon/arrow_key_right.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    @include sp {
                        right: 5px;
                        width: 5px;
                        height: 10px;
                    }
                }
            }
            img {
                margin-right: 5px;
                @include sp {
                    margin-right: 3px;
                    width: 10px;
                    height: 11px;
                    vertical-align: middle;
                }
            }
            span {
                color: $color_key;
                font-weight: bold;
                display: inline-block;
                line-height: 1;
                @include sp {
                    width: auto;
                }
            }
        }
        &__loginAfter {
            padding-bottom: 5px;
            font-size: 10px;
            line-height: 1;
            @include sp {
                position: relative;
                display: flex;
                align-items: center;
                @include vw(18);
                padding-bottom: 0;
                border: 1px solid #646464;
                padding: (20/750*100%) (20/750*100%);
                border-radius: 4px;
                font-size: 0;
                width: 100%;
                &:after {
                    content: url(#{$img_path}icon/arrow_btn_gray.png);
                    position: absolute;
                    transform: translate(0,-50%);
                    right: 3px;
                    top: 50%;
                }
            }
            img {
                margin-right: 5px;
                @include sp {
                    display: inline-block;
                    margin-right: 5px;
                    width: 12px;
                    height: 13px;
                }
            }
            span {
                font-weight: bold;
                display: inline-block;
                width: 100px;
                color: #646464;
                line-height: 1;
                @include sp {
                    display: inline-block;
                    width: 75%;
                    @include vw(18);
                }
            }
        }
        &__personalFav {
            a {
                display: block;
                padding: 0 7px;
                border: 1px solid #646464;
                border-radius: 4px;
                font-size: 10px;
                font-weight: bold;
                height: 33px;
                img {
                    vertical-align: middle;
                }
                span {
                    display: inline-block;
                    line-height: 33px;
                }
            }
        }
        &__personalCart {
            position: relative;
            span {
                font-size: 13px;
                background-color: $color_key;
                display: inline-block;
                color: #fff;
                font-weight: bold;
                width: 22px;
                height: 22px;
                line-height: 22px;
                text-align: center;
                border-radius: 50%;
                position: absolute;
                right: -17px;
                top: -10px;
            }
        }


        // ヘッドライン
        &__headlineArea {
            background-color: #fff;
            height: 40px;
            overflow: hidden;
            border-bottom: 1px solid #c9c9c9;
            @include sp {
                background-color: #000;
                height: 30px;
                border-bottom: none;
            }
        }
        &__headlineInner {
            display: flex;
            width: 880px;
            margin: auto;
            @include sp {
                width: 100%;
            }
        }
        &__headlineTag {
            position: relative;
            width: 120px;
            font-weight: bold;
            font-size: 15px;
            line-height: 40px;
            text-align: center;
            color: #4e4e4e;
            @include sp {
                color: $color_key;
                @include vw(18);
                width: 120/750*100%;
                line-height: 30px;
            }
            &:after {
                content: "";
                display: block;
                width: 1px;
                height: 12px;
                position: absolute;
                background-color: #4e4e4e;
                right: 0;
                top: 50%;
                transform: translate(0,-50%);
                @include sp {
                    background-color: $color_key;
                }
            }
        }
        &__headline {
            padding-left: 30px;
            width: 880px;
            margin: auto;
            font-size: 14px;
            line-height: 40px;
            height: 40px;
            color: #4e4e4e;
            font-weight: bold;
            @include sp {
                width: 630/750*100%;
                @include vw(18);
                text-align: center;
                padding-left: 30/750*100%;
                color: $color_key;
                height: 30px;
            }
        }
        &__headlineRow {
            line-height: 40px;
            @include sp {
                line-height: 30px;
            }
        }


        // SP 注目ワード
        &__focusTtl {
            width: 110px;
            @include sp {
                @include vw(18);
                width: auto;
                display: inline-block;
                margin-bottom: (0/750*100%);
                margin-right: (50/750*100%);
            }
            span {
                position: relative;
                display: inline-block;
                color: #fff;
                background-color: $color_key;
                padding: 7px 15px;
                height: 32px;
                @include sp {
                    line-height: 2;
                }
                &:after {
                    position: absolute;
                    right: -16px;
                    top: 0;
                    display: block;
                    content: "";
                    border-top: 16px solid transparent;
                    border-bottom: 16px solid transparent;
                    border-left: 16px solid $color_key;
                }
            }
        }
        &__focusList {
            width: 450px;
            @include sp {
                width: auto;
                line-height: 28px;
                display: inline;
            }
        }
        &__focusMore {
            display: inline-block;
            width: (100/750*100%);
            vertical-align: top;
            @include sp {
                height: 32px;
            }
            a {
                height: 32px;
                display: block;
                background-image: url(#{$img_path}top/more.png);
                background-repeat: no-repeat;
                background-position: 0 50%;
                background-size: contain;
                &.open {
                    background-image: url(#{$img_path}top/more_close.png);
                }
            }
        }
        &__focusPlus {
            display: none;
            width: (690/750*100%);
            margin: auto;
            padding: (5/750*100%) 0;
        }
        &__focusTag {
            display: inline-block;
            background-color: #e6e6e6;
            margin-bottom: 7px;
            margin-right: 5px;
            padding: 2px 12px;
            border-radius: 3px;
            @include sp {
                @include vw(18);
                margin-bottom: (0/750*100%);
                padding: 2px 6px;
            }
            &:hover {
                cursor: pointer;
                background-color: $color_key;
            }
        }


        // 選手を選ぶ
        &__playerBox {
            display: none;
            background-color: #fff;
            z-index: 3;
            position: absolute;
            left: 50%;
            top: 87px;
            transform: translate(-28%,0);
            width: 600px;
            font-size: 11px;
            border-top: 4px solid #646464;
            border-right: 1px solid #646464;
            border-bottom: 1px solid #646464;
            border-left: 1px solid #646464;
            &.open {
                display: block;
            }
        }
        &__playerInner {
            display: flex;
            padding: 30px 0;
        }
        &__playerBlock {
            width: 150px;
            &:not(:last-of-type) {
                border-right: 1px solid #ccc;
            }
        }
        &__playerType {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 20px;
            margin-left: 20px;
        }
        &__playerNameLink {
            a {
                display: block;
                padding: 4px 20px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}