@charset "utf-8";

.l {
    &-contents {
			width: 1000px;
			margin: auto;
			padding: 15px 0 50px;
			@include sp {
				width: 100%;
				padding: 0 0 0;
			}
			&.is_single{
				width: auto;
				.l-wrapper{
					display: block;
				}
				.l-content{
					width: auto;
				}
			}
    }
    
    &-wrapper {
        display: flex;
        justify-content: space-between;
        @include sp {
            display: block;
        }
    }
    &-content {
			//            padding-top: 16px;
			width: 740px;
			@include sp {
				width: 100%;
				//                padding-top: 0;
				padding-bottom: (170/750*100%);
			}
			.p-title{
				@include pc{
					display: none;
				}
			}
    }
	&-cont1{
		padding-top: vw((750-686)/2);
		padding-bottom: vw((750-686)/2);
		@include pc{
			padding-top: 30px;
			padding-bottom: 15px;
		}
	}
	&-inner{
		display: block;
		padding-left: vw((750-686)/2);
		padding-right: vw((750-686)/2);
		@include pc{
			padding-left: 0;
			padding-right: 0;
		}
		&.is_type{
			&2{
				@include pc{
					width: 1000px;
					margin-left: auto;
					margin-right: auto;
				}
			}
			&3{
				@include pc{
					width: 913px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
    &-pankz{
			padding: 5px 0;
			max-width: 1000px;
			margin: 0 auto;
			display: flex;
			color: #a3a2a3;
			a{
				color:#4e4e4e; 
			}
			li{
			 &:after{
				 content: "/";
				 display: inline-block;
				 color:#4e4e4e; 
				 margin: 0 3px;
				}
				&:last-child{
					&:after{
						display: none;
					}
				}
			}
			@include sp{
				display: none;
			}
			&.sp{
				display: none;
				@include sp{
					display: block;
					padding-top: 0;
					&:before{
						content: "";
						display: block;
						background-color: #999;
						padding-top: vw(9);
					}
					ul{
						display: flex;
						padding: vw(20) vw((750-686)/2) 0;
						@include vw(20);
					}
					li{
						text-decoration: underline;
						color: #646464;
						&:after{
							content: "";
							display: inline-block;
							width: 0.6em;
							height: 0.6em;
							margin-right: 0.6em;
							border-style: solid;
							border-width: 0.1em 0.1em 0 0;
							border-color: #666;
							transform: rotate(45deg);
						}
						&:last-child{
							&:after{
								content: normal;
							}
						}
						a{
							color: inherit;
						}
					}
				}
			}
    }
}
