@charset "utf-8";
.l-side-menu{
	position: fixed;
	top: 0;
	right: -30%;
	z-index: 999;
	width: 30%;
	height: 100%;
	background: #fff;
	transition: right 400ms;
	@include sp{
			left: -610/750*100%;
			width: 610/750*100%;
			transition: left 300ms;
	}
	&.action{
			right: 0;
			transition: right 400ms;
			@include sp{
					left: 0;
					transition: left 300ms;
			}
	}
	&__inner{
			background-color: #eaeaea;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			height: 100%;
			font-size: 12px;
			@include vw(24);
			position: relative;
	}
	.showMobileMemberId{
		padding: 32px 16px 16px;
		a{
			display: block;
			background-color: #fff;
			padding: 8px;
			font-weight: bold;
			text-align: center;
			border-radius: 5px;
			box-shadow: 0 3px 1px -1px #c9c9c9;
			transition: 0.3s;
			&:hover{
				opacity: 0.75;
			}
			img{
				margin-right: 8px;
				vertical-align: middle;
			}
		}
		@include sp{
			a{
				img{
					width: vw(24);
					margin-right: vw(12);
				}
			}
		}
	}
	h3{
		margin: 32px 16px 0;
		font-size: 13px;
		@include vw(26);
	}
	.links{
		margin: 8px 8px 0;
		border-radius: 5px;
		overflow: hidden;
		a{
			display: block;
			background-color: #fff;
			padding: 8px 16px 8px 8px;
			position: relative;
			transition: 0.3s;
			&:hover{opacity: 0.75;}
			& + a{margin-top: 2px;}
			&:after{
				content: "";
				display: block;
				width: 0.5em;
				height: 0.5em;
				margin: auto;
				border-top: 2px solid #3a3a3a;
				border-right: 2px solid #3a3a3a;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 8px;
				transform: rotate(45deg);
			}
		}
	}
	.links2{
		display: flex;
		flex-wrap: wrap;
		margin: 8px 8px 0;
		border-radius: 5px;
		overflow: hidden;
		a{
			display: flex;
			align-items: center;
			background-color: #fff;
			width: 50%;
			padding: 8px;
			transition: 0.3s;
			&:hover{opacity: 0.75;}
			&:nth-child(odd){border-right: 1px solid #eaeaea;}
			&:nth-child(even){border-left: 1px solid #eaeaea;}
			&:nth-child(n + 3){margin-top: 2px;}
			&:after{
				content: "";
				display: block;
				width: 0.5em;
				height: 0.5em;
				margin-left: 0.5em;
				border-top: 2px solid #3a3a3a;
				border-right: 2px solid #3a3a3a;
				transform: translate(0, -0.1em) rotate(45deg);
			}
		}
	}
	.btn-box{
		margin: 16px 24px 0;
		.m-btn-input{
			padding: 0.5em;
			font-size: 13px;
			@include vw(26);
		}
	}
	.bottomBtns{
		margin: 32px 16px 16px;
		a{
			display: flex;
			transition: 0.3s;
			&:hover{opacity: 0.75;}
			& + a{
				margin-top: 1em;
			}
			i{
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #000;
				width: 1.2em;
				height: 1.2em;
				margin-right: 0.5em;
				border-radius: 50%;
				&:before{
					content: "";
					display: block;
					width: 0.3em;
					height: 0.3em;
					margin: auto;
					border-top: 1px solid #fff;
					border-right: 1px solid #fff;
					transform: translate(-0.1em, 0.05em) rotate(45deg);
				}
			}
		}
	}
    
    
	&__close{
		border-top: 1px solid #646464;
		color: #878787;
		text-align: center;
		padding: 35/610*100%;
		&-top{
			position: absolute;
			top: 5px;
			right: -48px;
			width: 40px;
			text-align: center;
			border-radius: 50%;
			display: none;
			@include pc{
				left: -64px;
				top: 15px;
				cursor: pointer;
			}
			&.on{
				display: block;
			}
			dt{
				width: 30px;
				height: 30px;
				margin: auto;
				position: relative;
				&::before,
				&::after{
					content: '';
					position: absolute;
					width: 25px;
					height: 3px;
					background: #fff;
					top: 15px;
					left: 0;
					@include pc{
							width: 32px;
					}
				}
				&::before{
					transform: rotateZ(-45deg);
				}
				&::after{
					transform: rotateZ(45deg);
				}
			}
			dd{
				margin-top: 8px;
				color: #fff;
				font-size: 12px;
			}
		}
		@include pc{
		}
	}
}

.l-side_cover{
    width: 100vw;
    height: 100vh;
    background: #4a453d;
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    opacity: 0.5;
    display: none;
    &.cover{
        display: block;
    }
}

