@charset "utf-8";

.u-{
	/* タイトル */
	&ttl{
		&1{
			display: flex;
			background-color: #fff;
			align-items: center;
			border-bottom: 2px solid #999;
      height: 210px;
      @include sp{
        height: auto;
        .txt.taC{
          padding: 5% 0;
          width: 100%;
          display:block;
        }
      }
			.img{
				width: percentage(157/750);
				img{
					width: 100%;
				}
			}
			.txt{
				padding: vw(10) vw(64);
				color: #313131;
				@include vw(32);
				small{
					display: block;
					font-size: em(22/32);
				}
			}
			@include pc{
				border-bottom: none;
				.img{
					flex-shrink: 0;
					width: percentage(211/740);
				}
				.txt{
					width: 100%;
					padding: percentage(15/740) percentage(75/740);
					font-size: 30px;
					small{
						font-size: 0.6em;
						font-weight: normal;
					}
				}
			}
		}
		&2{
			margin-bottom: 1.5em;
			padding: 1em 0;
			color: #313131;
			@include vw(32);
			border-bottom: 2px solid #999;
			box-shadow: 0 vw(8) 0 #e6e6e6;
			@include pc{
				margin-bottom: 50px;
				padding: 24px 0 16px;
				font-size: 30px;
				border-bottom-width: 1px;
				box-shadow: 0 8px 0 #f4f4f4;
			}
			&.is_type2{
				@include pc{
					background-color: #fff;
					margin-bottom: 0;
					padding-bottom: 24px;
					font-size: 25px;
					text-align: center;
					border-bottom-color: #c9c9c9;
					box-shadow: 0 16px 0 #f4f4f4;
					position: relative;
				}
			}
		}
		&3{
			display: none;
			@include pc{
				display: block;
				margin-bottom: 32px;
				padding-left: 16px;
				font-size: 18px;
				border-left: 4px solid $color_key;
			}
		}
		&4{
			background-color: #fff;
			padding: em(30/24) 0 em(20/24);
			color: #313131;
			font-size: 24px;
			border-bottom: 4px solid #c9c9c9;
			@include vw(32);
			@include sp{
				padding-top: em(20/24);
				border-bottom-width: vw(4);
				box-shadow: 0 vw(8) 0 #e6e6e6;
				position: relative;
			}
		}
		&5{
			display: flex;
			margin-bottom: 1em;
			font-size: 24px;
			small{
				display: inline-block;
				margin-left: 1em;
				font-size: 0.5em;
				font-weight: normal;
			}
		}
	}
	/* ボタン */
	&btn{
		display: block;
		background-color: #fff;
		border: 1px solid #999;
		padding: vw(10) vw(20);
		border-radius: vw(8);
		@include pc{
			padding: 10px 10px;
			border-radius: 5px;
		}
		&.size2{
			padding: vw(25) vw(20);
			@include pc{
				padding: 10px;
			}
		}
		&.color2{
			border-color: #c3c3c3;
		}
		&.with{
			&Arw{
				&T{
					padding-right: vw(40);
					position: relative;
					&:before{
						content: "";
						width: vw(10);
						height: vw(10);
						margin: auto;
						border-style: solid;
						border-width: vw(1) vw(1) 0 0;
						border-color: #4d4d4d #4d4d4d transparent transparent;
						transform: rotate(-45deg);
						position: absolute;
						top: vw(5);
						bottom: 0;
						right: vw(15);
					}
					@include pc{
						padding-right: 35px;
						&:before{
							width: 8px;
							height: 8px;
							border-width: 1px 1px 0 0;
							top: 5px;
							right: 10px;
						}
					}
				}
				&B{
					padding-right: vw(40);
					position: relative;
					&:before{
						content: "";
						width: vw(10);
						height: vw(10);
						margin: auto;
						border-style: solid;
						border-width: vw(1) vw(1) 0 0;
						border-color: #4d4d4d #4d4d4d transparent transparent;
						transform: rotate(135deg);
						position: absolute;
						top: 0;
						bottom: vw(5);
						right: vw(15);
					}
					@include pc{
						padding-right: 35px;
						&:before{
							width: 8px;
							height: 8px;
							border-width: 1px 1px 0 0;
							top: 5px;
							right: 10px;
						}
					}
				}
				&R{
					padding-right: vw(40);
					position: relative;
					&:before{
						content: "";
						width: vw(10);
						height: vw(10);
						margin: auto;
						border-style: solid;
						border-width: vw(1) vw(1) 0 0;
						border-color: #4d4d4d #4d4d4d transparent transparent;
						transform: rotate(45deg);
						position: absolute;
						top: 0;
						bottom: 0;
						right: vw(15);
					}
					@include pc{
						padding-right: 35px;
						&:before{
							width: 8px;
							height: 8px;
							border-width: 1px 1px 0 0;
							top: 0px;
							right: 10px;
							transition: all .15s;
						}
						&:hover{
							&:before{
								right: 6px;
							}
						}
					}
				}
			}
		}
		&.btnAcrd1{
			padding-right: vw(40);
			position: relative;
			&:before{
				content: "";
				width: vw(10);
				height: vw(10);
				margin: auto;
				border-style: solid;
				border-width: vw(1) vw(1) 0 0;
				border-color: #4d4d4d #4d4d4d transparent transparent;
				transform: rotate(135deg);
				position: absolute;
				top: 0;
				bottom: vw(5);
				right: vw(15);
			}
			&.show{
				&:before{
					transform: rotate(-45deg);
					top: vw(5);
					bottom: 0;
				}
			}
		}
		&AdrsAuto{
			display: inline-block;
			color: $color_key;
			border: 2px solid $color_key;
			padding: vw(10) vw(20);
			border-radius: vw(8);
			@include pc{
				padding: 5px 10px;
				font-size: 11px;
				border-radius: 5px;
				transition: 0.3s;
				&:hover{
					opacity: 0.6;
				}
			}
		}
		&PopUp{
			> a{
				display: block;
				padding: vw(20) vw(70) vw(20) vw(30);
				color: #333;
				@include vw(28);
				border: 1px solid #999;
				border-radius: 5px;
				position: relative;
				.txt{
				}
				.icn{
					width: vw(27);
					height: vw(29);
					margin: auto;
					border-bottom: vw(2) solid $color_key;
					border-left: vw(2) solid $color_key;
					box-sizing: border-box;
					position: absolute;
					top: 0;
					bottom: 0;
					right: vw(30);
					p{
						width: 100%;
						height: percentage(27/29);
						border: vw(2) solid $color_key;
						box-sizing: border-box;
						position: absolute;
						bottom: vw(4);
						left: vw(4);
						span{
							width: percentage(14/27);
							height: percentage(14/27);
							border-top: vw(2) solid $color_key;
							border-right: vw(2) solid $color_key;
							position: absolute;
							bottom: vw(5);
							left: vw(4);
							overflow: hidden;
							&:before{
								content: "";
								width: 140%;
								border-top: vw(1) solid $color_key;
								position: absolute;
								top: vw(4);
								right: vw(-3);
								transform: rotate(-45deg);
							}
						}
					}
				}
			}
			@include pc{
				> a{
					padding: 10px 40px 10px 20px;
					font-size: 14px;
					.txt{
					}
					.icn{
						width: 14px;
						height: 15px;
						border-width: 0 0 1px 1px;
						right: 15px;
						p{
							height: 14px;
							border-width: 1px;
							bottom: 2px;
							left: 2px;
							span{
								width: 7px;
								height: 7px;
								border-width: 1px 1px 0 0;
								bottom: 2px;
								left: 2px;
								&:before{
									width: 120%;
									border-top-width: 1px;
									top: 1.5px;
									right: -2px;
								}
							}
						}
					}
				}
			}
		}
	}
	/* リンク */
	&link{
		&1{
			color: #666;
			text-decoration: underline;
		}
		&2{
			display: block;
			margin-top: 10px;
			color: #231815;
			font-size: 9px;
			text-align: right;
			a{
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
    &-arrow{
      color: #000;
      position: relative;
      display: inline-block;
      span{
        display: inline-block;
        vertical-align: middle;
      }
      &:after{
        content: "";
        width: 15px;
        height: 15px;
        background: #000;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50px;
      }
      &:before{
        content: "";
        width: 5px;
        height: 5px;
        border-top: 1px solid #FFF;
        border-right: 1px solid #FFF;
        position: absolute;
        transform: rotate(45deg);
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
	}
	/* アイコン */
	&icn{
		&:before{
			content: "";
			display: inline-block;
			vertical-align: middle;
		}
		&.is_{
			&arwTB{
				&:before{
					background:url(../img/icon/icn_arw_tb.svg) 0 0 no-repeat;
					background-size: contain;
					width: vw(28);
					height: vw(25);
					margin-right: vw(5);
				}
				@include pc{
					&:before{
						width: 16px;
						height: 15px;
						margin-right: 5px;
					}
				}
			}
		}
		&Blank{
			color: $color_key;
			&:hover{
				text-decoration: underline;
			}
			.icn{
				display: inline-block;
				width: 10px;
				height: 8px;
				margin-right: 6px;
				vertical-align: middle;
				border: 2px solid $color_key;
				box-sizing: border-box;
				position: relative;
				&:before{
					content: "";
					display: block;
					width: 11px;
					height: 9px;
					border-top: 2px solid $color_key;
					border-right: 2px solid $color_key;
					box-sizing: border-box;
					position: absolute;
					top: -5px;
					right: -5px;
				}
			}
			@include sp{
				.icn{
					width: vw(21);
					height: vw(16);
					margin-right: vw(10);
					border-width: vw(3);
					&:before{
						width: vw(22);
						height: vw(17);
						border-top-width: vw(3);
						border-right-width: vw(3);
						top: vw(-8);
						right: vw(-8);
					}
				}
			}
		}
	}
	/* テキスト */
	&txt{
		&1{
			color: #4d4d4d;
			font-size: 16px;
			@include vw(24);
		}
	}
	&lead{
		&1{
			@include vw(24);
			@include pc{
				padding: 0 15px;
				font-size: 12px;
				line-height: 1.8;
			}
		}
	}
	&tblNote{
		&1{
			display: block;
			margin-top: 10px;
			color: #646464;
			font-size: 15px;
			@include vw(24);
			@include sp{
				margin-top: 3%;
			}
		}
	}
	/* リスト */
	&thumTxtList{
		background-color: #fff;
		> ul{
			display: flex;
			flex-wrap: wrap;
			position: relative;
			&:before{
				content: "";
				background-color: #ccc;
				width: 1px;
				margin: auto;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 1;
			}
			&:after{
				content: "";
				display: block;
				width: 100%;
				border-top: 1px solid #ccc;
				position: absolute;
				left: 0;
				bottom: 0;
			}
			> li{
				width: 50%;
				border-bottom: 1px solid #ccc;
				box-sizing: border-box;
				&.new{
					> a{
						&:before{
							content: "";
							display: block;
							width: vw(120);
							height: vw(43/68*120);
							position: absolute;
							top: 0;
							left: 0;
							background-image: url(/assets/img/top/new.png);
							background-size: contain;
							background-repeat: no-repeat;
							z-index: 2;
						}
					}
				}
				> a{
					display: block;
					background-color: #fff;
					height: 100%;
					position: relative;
					.rankNo{
						display: flex;
						justify-content: center;
						align-items: center;
						background-color: #4d4d4d;
						width: vw(50);
						height: vw(50);
						padding: vw(2) vw(6) 0 0;
						color: #fff;
						@include vw(27);
						font-weight: bold;
						border-radius: 50%;
						box-sizing: border-box;
						position: absolute;
						top: vw(20);
						left: vw(20);
						z-index: 2;
						&.is_no{
							&1{background-color: #a88627;}
							&2{background-color: #b3b3b3;}
							&3{background-color: #c69c6d;}
						}
					}
					.img{
						overflow: hidden;
						img{
							transition: all .2s ease;
						}
					}
					.txt{
						padding: vw(15);
						word-break: break-all;
						> span{
							display: block;
							height: em(3);
							line-height: (36/24);
							@include vw(20);
						}
						.price{
							display: block;
							margin-top: vw(5);
							@include vw(28);
							font-weight: bold;
							font-style: normal;
						}
					}
				}
			}
		}
		@include pc{
			background-color: transparent;
			> ul{
				margin-right: -8px;
				&:before, &:after{
					content: normal;
				}
				> li{
					width: 179px;
					margin:0 8px 16px 0;
					border-bottom: none;
					&.new{
						> a{
							&:before{
								width: 68px;
								height: 43px;
							}
						}
					}
					> a{
						.rankNo{
							width: 26px;
							height: 26px;
							padding: 2px 2px 0 0;
							font-size: 13px;
							top: 12px;
							left: 10px;
						}
						.img{
							img{
								width: 100%;
							}
						}
						.txt{
							padding: 8px;
							> span{
								font-size: 11px;
                height: 4em;
							}
							.price{
								margin-top: vw(5);
								font-size: (11*1.4) + px;
							}
						}
						&:hover{
							.img{
								img{
									transform: scale(1.07);
								}
							}
						}
					}
				}
			}
		}
	}
	/* テーブル */
	&hyou1{
		margin-bottom: 30px;
		table{
			width: 100%;
		}
		thead{
			background-color: #3a3a3a;
			color: #fff;
			th{
				padding: 15px 20px;
				text-align: left;
			}
		}
		tbody{
			tr{
				border-bottom: 1px solid #c3c3c3;
			}
			td{
				padding: 10px 20px;
				color: #4e4e4e;
			}
		}
		.state{
			&:before{
				display: inline-block;
				margin-right: 0.2em;
			}
			&.is_type{
				&1{
					color: #076588;
					&:before{
						content: "〇";
					}
				}
				&2{
					color: #c1272d;
					&:before{
						content: "△";
					}
				}
			}
		}
	}
	/* 箱 */
	&whiteBox{
		&1{
			background-color: #fff;
			padding: 24px 32px 48px;
			border-radius: 16px;
			@include sp{
				padding: vw((750-686)/2);
				border-radius: 0;
			}
		}
	}
	/* ページャー */
	&pager{
		background-color: #fff;
		padding: vw(70) 0 vw(30);
		@include vw(24);
		line-height: 1;
		*{
			line-height: 1;
		}
		.box{
			display: flex;
		}
		a{
			border-style: solid;
			border-width: 0 0 vw(8);
			&.pre{//前
				background-color: #e6e6e6;
				color: #ababab;
				border-color: #ccc;
			}
			&.nxt{//後
				background-color: #666;
				color: #f2f2f2;
				border-color: #000;
			}
			&.all{//最初、最後
				width: percentage(150/686);
				div{
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					padding: vw(30) vw(10) vw(25);
					span{
						display: flex;
						align-items: center;
						height: 100%;
						margin-top: -0.15em;
						&:before{
							content: "";
							display: block;
							width: 0.6em;
							height: 0.6em;
							border-style: solid;
							border-width: vw(2) 0 0 vw(2);
							box-sizing: border-box;
						}
					}
				}
				&.pre{
					div{
						border-right: vw(2) solid #999;
						span{
							padding-left: vw(10);
							border-left: vw(2) solid #ababab;
							&:before{
								border-color: #ababab;
								transform: rotate(-45deg);
							}
						}
					}
				}
				&.nxt{
					div{
						border-left: vw(2) solid #999;
						span{
							padding-right: vw(10);
							border-right: vw(2) solid #fff;
							&:before{
								border-color: #fff;
								transform: rotate(135deg);
							}
						}
					}
				}
			}
			&.one{//1ページ前後
				display: flex;
				justify-content: center;
				align-items: center;
				width: percentage((686-150)/686);
				padding: vw(30) vw(10) vw(25);
				span{
					display: block;
					width: 0.6em;
					height: 0.6em;
					margin-top: -0.15em;
					border-style: solid;
					border-width: vw(2) 0 0 vw(2);
				}
				&.pre{
					span{
						margin-right: 0.5em;
						border-color: #ababab;
						transform: rotate(-45deg);
					}
				}
				&.nxt{
					flex-direction: row-reverse;
					span{
						margin-left: 0.5em;
						border-color: #fff;
						transform: rotate(135deg);
					}
				}
			}
			&.num{
				display: none;
			}
		}
		@include pc{
			background: none;
			padding: 16px 0;
			font-size: 13px;
			*{
			}
			.box{
				justify-content: center;
				align-items: center;
			}
			a{
				background-color: transparent !important;
				border: none;
				transition: 0.3s;
				&:hover{
					opacity: 0.5;
				}
				&.pre{//前
				}
				&.nxt{//後
					color: #4e4e4e;
				}
				&.all{//最初、最後
					width: auto;
					div{
						height: auto;
						padding: 0;
						span{
							padding-top: 3px;
							padding-bottom: 3px;
							&:before{
								width: 8px;
								height: 8px;
								border-width: 1px 0 0 1px;
							}
						}
					}
					&.pre{
						div{
							border-right: none;
							span{
								padding-left: 6px;
								border-left: 1px solid #ababab;
								&:before{
								}
							}
						}
					}
					&.nxt{
						div{
							border-left: none;
							span{
								padding-right: 6px;
								border-right: 1px solid #4e4e4e;
								&:before{
									border-color: #4e4e4e;
								}
							}
						}
					}
				}
				&.one{//1ページ前後
					width: auto;
					margin: 0 30px;
					padding: 0;
					span{
						width: 8px;
						height: 8px;
						border-width: 1px 0 0 1px;
					}
					&.pre{
						span{
						}
					}
					&.nxt{
						span{
							border-color: #4e4e4e;
						}
					}
				}
				&.num{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 3em;
					height: 3em;
					margin: 0 5px;
					&.here{
						border: 2px solid #4e4e4e;
					}
				}
			}
		}
	}
	/* その他 */
	&cateCondition{//カテゴリーなどにあるソート部分
		h3{
			font-weight: normal;
			em{
				font-size: em(32/24);
				font-style: normal;
				font-weight: bold;
			}
		}
		.partTop{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.btnSort{
				a{
				}
			}
		}
		.sortList1{
			display: none;
			background-color: #fff;
			margin-top: vw(30);
			padding: vw(30);
			border-radius: vw(16);
			> ul{
				> li{
					& + li{
						margin-top: 1em;
					}
				}
			}
		}
		.partBottom{
			margin-top: vw(55);
			h3{
				margin-bottom: vw(15);
			}
			.cateList1{
				display: none;
				background-color: #fff;
				margin-top: vw(30);
				padding: vw(15) 0;
				color: #3a3a3a;
				@include vw(24);
				border: 1px solid #999;
				border-radius: vw(16);
				li{
					a{
						display: block;
						padding: vw(15) vw(30);
						position: relative;
						&:after{
							content: "";
							width: vw(10);
							height: vw(10);
							margin: auto;
							border-top: vw(1) solid #3a3a3a;
							border-right: vw(1) solid #3a3a3a;
							position: absolute;
							top: 0;
							bottom: 0;
							right: vw(20);
							transform: rotate(45deg);
						}
					}
					li{//第2階層
						a{
							padding-left: vw(60);
						}
					}
				}
			}
		}
		@include pc{
			h3{
				em{
				}
			}
			.partTop{
				.btnSort{
					a{
						padding-right: 35px;
						&:before{
							width: 8px;
							height: 8px;
							border-width: 1px 1px 0 0;
							bottom: 5px;
							right: 10px;
						}
						&.show{
							&:before{
								top: 5px;
							}
						}
					}
				}
			}
			.sortList1{
				margin-top: 15px;
				padding: 15px;
				border-radius: 5px;
				> ul{
					display: flex;
					justify-content: center;
					> li{
						margin-right: 2em;
						& + li{
							margin-top: 0;
						}
					}
				}
			}
			.partBottom{
				display: none;
				margin-top: 20px;
				h3{
					margin-bottom: 10px;
				}
			}
		}
	}
	&receive-flow-step{
		margin: 4% 8% 6% 8%;
		color: #c3c3c3;
		@include vw(24);
		ul{
			display: flex;
			justify-content: space-between;
			position: relative;
			&:before{
				content: "";
				background-color: #e4ddcd;
				height: vw(4);
				position: absolute;
				top: 36%;
				left: 12%;
				right: 12%;
			}
		}
		li{
			width: 25%;
			text-align: center;
			font-weight: bold;
			em{
				display: block;
				margin-bottom: 0.5em;
			}
			p{
				&:before{
					content: "";
					display: block;
					background-color: #e4ddcd;
					width: vw(32);
					height: vw(32);
					margin: auto;
					border-radius: 50%;
					position: relative;
				}
				span{
					display: block;
					margin-top: 1em;
				}
			}
		}
		&.step1 li:nth-child(1),
		&.step2 li:nth-child(2),
		&.step3 li:nth-child(3),
		&.step4 li:nth-child(4){
			color: #666;
		}
		&.step1 li:nth-child(1) p:before,
		&.step2 li:nth-child(2) p:before,
		&.step3 li:nth-child(3) p:before,
		&.step4 li:nth-child(4) p:before{
			background:url(../img/icon/icn_baseball.svg) 0 0 no-repeat;
			transform: scale(1.2)
		}
		@include pc{
			width: 640px;
			margin: 0 auto 30px;
			font-size: 12px;
			ul{
				&:before{
					height: 4px;
					top: 47px;
				}
			}
			li{
				em{
					margin-bottom: 15px;
				}
				p{
					&:before{
						width: 32px;
						height: 32px;
					}
					span{
						margin-top: 1em;
					}
				}
			}
			&.step1 li:nth-child(1),
			&.step2 li:nth-child(2),
			&.step3 li:nth-child(3),
			&.step4 li:nth-child(4){
			}
			&.step1 li:nth-child(1) p:before,
			&.step2 li:nth-child(2) p:before,
			&.step3 li:nth-child(3) p:before,
			&.step4 li:nth-child(4) p:before{
			}
		}
	}
	&regiBox{//AC入会
		h3{
			margin-bottom: 30px;
			color: #313131;
			font-size: 24px;
			@include vw(32);
		}
		.txt1{
			margin-bottom: 30px;
			color: #4d4d4d;
			font-size: 16px;
			@include vw(24);
		}
		@include sp{
			padding: vw((750-686)/2);
			border-radius: 0;
			h3{
				margin-bottom: 5%;
			}
			.txt1{
				margin-bottom: 5%;
			}
		}
	}
	&regiBox{//MP入会
		h3{
			margin-bottom: 30px;
			color: #313131;
			font-size: 24px;
			@include vw(32);
		}
		.txt1{
			margin-bottom: 30px;
			color: #4d4d4d;
			font-size: 16px;
			@include vw(24);
		}
		.txt2{
			margin-bottom: 50px;
			color: #333;
			font-size: 16px;
			@include vw(24);
		}
		.formBox{
			margin-bottom: 20px;
			.note1{
				margin-top: 10px;
				color: #646464;
				font-size: 12px;
				@include vw(24);
			}
		}
		.douiBox{
			margin-bottom: 24px;
			text-align: center;
			.chk{
				display: inline-block;
				background-color: #e4ddcd;
				padding: 7px 10px;
				border-radius: 3px;
				@include vw(24);
			}
		}
		.yourId{
			margin-bottom: 30px;
			font-weight: bold;
			dt{
				color: #646464;
				font-size: 24px;
				@include vw(24);
			}
			dd{
				color: #313131;
				font-size: 32px;
				@include vw(32);
			}
		}
		@include sp{
			h3{
				margin-bottom: 5%;
			}
			.txt1{
				margin-bottom: 5%;
			}
			.txt2{
				margin-bottom: 5%;
			}
			.formBox{
				margin-bottom: 0;
				.note1{
					margin-top: 3%;
				}
			}
			.douiBox{
				margin-bottom: 5%;
				.chk{
					display: block;
				}
			}
			.yourId{
				margin-bottom: 5%;
				text-align: center;
				dt{
				}
				dd{
				}
			}
		}
		&-comp{
			display: flex;
			justify-content: space-between;
			.u-regiBox{
				width: 631px;
			}
			.u-regiBox-side{
				width: 343px;
			}
			.id-box{
			}
			@include sp{
				display: block;
				.u-regiBox{
					width: auto;
				}
				.u-regiBox-side{
					background-color: #fff;
					width: auto;
					padding: 0 vw((750-686)/2) vw((750-686)/2);
				}
			}
			&.kids{
				display: block;
				.u-regiBox{
					width: auto;
					position: relative;
				}
				.txts{
					padding-right: 160px;
				}
				.javit{
					width: 117px;
					position: absolute;
					top: 25px;
					right: 50px;
				}
				.btns{
					display: flex;
					justify-content: center;
					margin-top: 25px;
					a{
						width: 344px;
						padding: 15px 10px 15px 20px;
						font-size: 16px;
						@include vw(32);
						position: relative;
						& + a{
							margin-left: 50px;
						}
						&:after{
							content: "";
							display: block;
							width: 8px;
							height: 8px;
							margin: auto;
							border-style: solid;
							border-width: 2px 2px 0 0;
							transform: rotate(45deg);
							transition: 0.3s;
							position: absolute;
							top: 0;
							bottom: 0;
							right: 10px;
						}
						&:hover{
							&:after{
								right: 5px;
							}
						}
						dl{
							display: flex;
							align-items: center;
							font-weight: bold;
							dd{
								margin-left: 20px;
							}
						}
						&.btnRegiJr{
							color: #000;
							border: 1px solid #000;
							&:after{
								border-color: #000;
							}
						}
						&.btnRegiAc{
							color: #8a0000;
							border: 1px solid #8a0000;
							&:after{
								border-color: #8a0000;
							}
						}
					}
				}
				@include sp{
					.u-regiBox{
					}
					.txts{
						padding-right: 0;
					}
					.javit{
						width: auto;
						padding: 0 vw(30) 8% 0;
						text-align: right;
						position: static;
						img{
							width: vw(174);
						}
					}
					.spDisF{
						flex-direction: column-reverse;
					}
					.btns{
						display: block;
						margin-top: 5%;
						a{
							display: block;
							width: auto;
							padding: 3% 10% 3% 3%;
							& + a{
								margin: 5% 0 0;
							}
							&:after{
								width: vw(12);
								height: vw(12);
								border-width: vw(6) vw(6) 0 0;
								right: vw(20) !important;
							}
							dl{
								dd{
									margin-left: vw(20);
								}
							}
						}
					}
				}
			}
		}
	}
}


/* フォーム */
.radio{
	input{
		display: none;
	}
	label{
		display: flex;
		&:before{
			content: "";
			display: inline-block;
			background-color: #fff;
			width: vw(18);
			height: vw(18);
			border: vw(10) solid #fff;
			border-radius: 50%;
			box-shadow: 0 0 0 1px $color_key;
		}
		span{
			padding: 0.15em 0 0 0.5em;
		}
	}
	input:checked + label:before{
		background-color: $color_key;
	}
	@include pc{
		input{
		}
		label{
			&:before{
				width: 10px;
				height: 10px;
				border-width: 6px;
			}
			span{
				padding: 0.15em 0 0 0.8em;
			}
		}
	}
}

.chk{
	input{
		display: none;
	}
	label{
		display: flex;
		cursor: default;
		div{
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			width: vw(33);
			height: vw(35);
			border: 1px solid $color_key;
			border-radius: vw(4);
		}
		span{
			padding: 0 0 0 0.5em;
		}
	}
	input:checked + label div{
		background-color: $color_key;
		&:before{
			content: "";
			display: inline-block;
			margin-top: vw(-5);
			width: vw(15);
			height: vw(8);
			border-style: solid;
			border-width: 0 0 vw(4) vw(4);
			border-color: #fff;
			transform: rotate(-45deg);
		}
	}
	@include pc{
		input{
		}
		label{
			div{
				width: 18px;
				height: 18px;
				border-radius: 3px;
			}
			span{
			}
		}
		input:checked + label div{
			&:before{
				margin-top: -3px;
				width: 8px;
				height: 4px;
				border-width: 0 0 2px 2px;
			}
		}
	}
	&.is_type2{
		label{
			div{
				border-color: #fff;
			}
			span{
			}
		}
		input:checked + label div{
			background-color: #fff;
			&:before{
				border-color: $color_key;
			}
		}
		@include pc{
			input{
			}
			label{
				div{
				}
				span{
				}
			}
			input:checked + label div{
				&:before{
				}
			}
		}
	}
}

.select-box{
	overflow: hidden;
	border: solid 1px #c9c9c9;
  padding-right: 30px;
	border-radius: 5px;
	position: relative;
	background: #fcfcfc;
	&> select{
		width: 140%;
		border: 0px;
		padding: 6px 6px 6px 10px;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		position: relative;
		display: inline-block;
		background: none transparent;
		vertical-align: middle;
		font-size: inherit;
		color: inherit;
		box-sizing: content-box;
		line-height: 2;
		font-size: 14px;
		@include vw(28); 
	}
	&:before{
		content: "";
		position: absolute;
		width: 18px;
		height: 18px;
		text-align: center;
		display: block;
		background: $color_key;
		border-radius: 50px;
		right: 7px;
		top: 10px;
		@include sp{
      width: 5vw;
      height: 5vw;
			right: 1.8vw;
			top: 3vw;
		}
	}
	&:after{
		content: "";
		position: absolute;
		width: 6px;
		height: 6px;
		border-top: 2px solid #FFF;
		border-right: 2px solid #FFF;
		transform: rotate(135deg);
		display: block;
		right: 12px;
		top: 14px;
		@include sp{
		width: 1.7vw;
		height: 1.7vw;
			right: 3.2vw;
			top: 3.8vw;
		}
	}
}
.select-box2{
	overflow: hidden;
	border: solid 1px #c9c9c9;
	border-radius: 5px;
	position: relative;
	background: #fcfcfc;
	.icn{
		position: absolute;
		width: 18px;
		height: 18px;
		margin: auto;
		text-align: center;
		display: flex;
//		justify-content: center;
		align-items: center;
		background: $color_key;
		border-radius: 50px;
		right: 7px;
		top: 0;
		bottom: 0;
		@include sp{
		}
		&:after{
			content: "";
			width: 6px;
			height: 6px;
			margin: auto;
			border-top: 2px solid #FFF;
			border-right: 2px solid #FFF;
			transform: rotate(135deg);
			display: block;
			position: relative;
			top: -1px;
			@include sp{
			}
		}
	}
	&> select{
		width: 120%;
		border: 0px;
		padding: 6px 6px 6px 10px;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		position: relative;
		display: inline-block;
		background: none transparent;
		vertical-align: middle;
		font-size: inherit;
		color: inherit;
		box-sizing: content-box;
		line-height: 2;
		font-size: 11px;
		@include vw(22);
	}
}

textarea{
	resize: none;
}

.required{
	display: inline-block;
	margin-right: 0.5em;
	padding: 0.2em 0.5em;
	color: #d14835;
	font-style: normal;
	@include vw(15);
	vertical-align: middle;
	border: 1px solid #d14835;
	@include pc{
		margin-right: 0.7em;
		padding: 0.2em 0.5em 0.1em;
		font-size: 10px;
	}
}
.err{
	background-color: #fae6e8 !important;
	border: 1px solid #d14835 !important;
	box-shadow: 0 0 0 1px #d14835 !important;
	@include pc{
	}
}
.errTxt{
	margin-top: 0.8em;
	color: #e26f7a;
	@include vw(24);
	@include pc{
		margin-top: 0.8em;
		color: #f00;
		font-size: 12px;
		font-weight: bold;
	}
}


.formBox{
	padding-bottom: 10%;
	input, textarea, button{
		width: 100%;
	}
	select{
		@include vw(28);
	}
	textarea{
		height: 10em;
	}
	input[type="submit"]{
		background-color: $color_key;
		@include vw(32);
	}
	table{
		width: 100%;
	}
	.formTbl{
		display: block;
		color: #3a3a3a;
		th, td{
			vertical-align: top;
		}
		> tbody{
			display: block;
			> tr{
				display: block;
				> th{
					display: block;
					margin-top: 10%;
					@include vw(32);
					text-align: left;
					&.fzType2{
						@include vw(28);
						font-weight: normal;
					}
					&.mtHf{
						margin-top: 3%;
					}
				}
				> td{
					display: block;
					margin-top: 3%;
					@include vw(26);
				}
			}
		}
		.layer2{//.formTbl .layer2
			tr{
				> th{
					width: vw(68);
					padding-top: 13px;
					font-weight: normal;
					text-align: left;
				}
				> td{
				}
				+ tr{
					> th{
						padding-top: 32px;
					}
					> td{
						padding-top: 16px;
					}
				}
			}
		}
		.colInForm{//郵便番号、電話番号など
			ul{
				display: flex;
				align-items: center;
			}
			li{
				&.hyphen{
					width: 5% !important;
					@include vw(36);
					font-weight: bold;
					text-align: center;
					@include pc{
						width: 25px !important;
					}
				}
			}
			dd{
				margin-top: 3%;
			}
			@include pc{
				display: flex;
				justify-content: space-between;
				align-items: center;
				dd{
					margin-top: 0;
				}
			}
			&.address{
				li{
					width: 35%;
				}
				dd{
				}
				@include pc{
					li{
						width: 90px;
					}
				}
			}
			&.tel{
				li{
					width: 28%;
				}
				@include pc{
					li{
						width: 90px;
					}
				}
			}
			&.limitDay{
				li{
					width: 37%;
					padding-left: 1em;
					&:first-child{
						padding-left: 0;
					}
					&.txt{
						width: auto;
						padding-left: 0.5em;
					}
				}
			}
		}
	}
	&.is_conf{
		.formTbl{
			> tbody{
				> tr{
					> th{
						margin-top: 8%;
					}
					> td{
						margin-top: 2%;
						padding-left: 1em;
						@include vw(28);
					}
				}
			}
		}
	}
	@include pc{//.formBox
		padding-bottom: 0;
		select{
			font-size: 14px;
		}
		textarea{
			height: 140px;
		}
		input[type="submit"]{
			margin: auto;
			font-size: 16px;
		}
		table{
		}
		.formTbl{
			display: table;
			> tbody{
				display: table-row-group;
				> tr{
					display: table-row;
					& + tr{
						border-top: 1px solid #c9c9c9;
					}
					&.pcBDTN{
						> th{
							padding-top: 16px;
						}
					}
					> th{
						display: table-cell;
						width: 210px;
						margin-top: 0;
						padding: 32px 0 24px;
						font-size: 16px;
						.l-contents.is_single &{
							width: 260px;
						}
						&.fzType2{
							font-size: 14px;
						}
						&.mtHf{
							margin-top: 0;
						}
						.pcMulti{
							display: flex;
							align-items: flex-start;
						}
					}
					> td{
						display: table-cell;
						margin-top: 0;
						padding: 32px 0;
						font-size: 12px;
					}
				}
			}
			&.is_pcBlk{//.formTbl.is_pcBlk
				display: block;
				> tbody{
					display: block;
					> tr{
						display: block;
						> th, > td{
							display: block;
						}
					}
				}
			}
			.layer2{//.formTbl .is_layer2
				tr{
					> th{
						width: 3em;
						padding-top: 16px;
					}
					> td{
					}
					+ tr{
						> th{
							padding-top: 32px;
						}
						> td{
							padding-top: 24px;
						}
					}
				}
				&.is_pcType2{//.formTbl.is_pcType2
					display: block;
					tbody{
						display: flex;
						align-items: flex-start;
					}
					tr{
						display: flex;
						> th{
							padding-top: 16px !important;
						}
						> td{
						}
						+ tr{
							> th{
								width: 4em;
								padding-left: 1em;
							}
							> td{
								padding-top: 0;
							}
						}
					}
				}
			}
		}
		&.is_conf{
			.formTbl{
				> tbody{
					> tr{
						> th{
							margin-top: 0;
						}
						> td{
							margin-top: 0;
							padding-left: 0;
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}

.radioListForm{//中身のあるradioList
	border: 1px solid #666;
	border-radius: 5px;
	overflow: hidden;
	> ul{
		> li{
			.pd{
				padding: vw(20) vw(15);
				&2{
					padding: vw(20) vw(30) vw(30) vw(30);
          @include pc{
            padding: 16px 24px 24px 40px;
          }
					.formBox{
						padding: 0 0 0 vw(50);
					}
				}
			}
      .new-card{
        padding-left: 32px;
        @include sp{
				padding-left: vw(50);
        }
      }
			.radio{
				label{
					span{
						@include vw(28);
						small{
							display: block;
							color: #646464;
							@include vw(20);
						}
					}
				}
			}
			.btnWrap{
				margin-top: 3%;
				text-align: right;
				a{
					display: inline-block;
					padding: vw(15) vw(70);
					color: #231815;
					@include vw(21);
					border-color: #c3c3c3;
				}
			}
			.btnCardInfo{
				padding-left: vw(50);
				.u-btn{
					padding: 12px 16px;
				}
			}
			& + li{
				border-top: 1px solid #666;
			}
			.formBox{
				background-color: #f2f2f2;
				padding: vw(30) vw(40);
				.formTbl{
					.layer2{
						tr{
							> th{
								width: 12%;
							}
						}
					}
				}
			}

		}
	}
	@include pc{
		margin-top: 25px;
		> ul{
			> li{
				.pd{
					padding: 16px 24px;
					&.withBtn{
						display: flex;
						justify-content: space-between;
						align-items: center;
					}
				}
				.radio{
					label{
						span{
							font-size: 14px;
							small{
								margin-top: 5px;
								font-size: 11px;
								line-height: 1.8;
							}
						}
					}
				}
				.btnWrap{
					margin-top: 0;
					a{
						padding: 8px 40px;
						font-size: 12px;
						transition: 0.3s;
						&:hover{
							opacity: 0.6;
						}
					}
				}
				& + li{
				}
				.formBox{
					padding: 0 40px 24px;
					.formTbl{
						td{
							.formTbl{
								th{
									width: 160px;
								}
							}
						}
						.layer2{
							tr{
								> th{
									width: 3em;
								}
								& + tr{
									> th{
										width: 4em;
									}
								}
							}
						}
						.colInForm{//.radioListForm 郵便番号、電話番号など
							&.address{
								display: block;
								li{
									width: 80px;
								}
								dd{
									margin-top: 10px;
								}
							}
							&.tel{
								li{
									width: 80px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.radioList{//radioのみ
	&1{
		> ul{
			> li{
				margin-top: 3%;
			}
		}
	}
}

.formDl{
  margin-top: 24px;
  max-width: 320px;
  @include sp{
    margin-top: 6%;
  }
    dt{
      margin-bottom: 8px;
      font-size: 14px;
      @include vw(28)
    }
    p{
      padding-top: 8px;
      font-size: 9px;
    }
  ul.disF{
    align-items: center;
    li{
      margin-right: 10px;
    }
  }
}

.id-box{
    border:1px solid #646464;
    border-radius: 5px;
    overflow: hidden;
    margin:16px auto;
    background: #FFFFFF;
    max-width: 340px;
    @include sp{
        margin: 4% 0 6% 0;
      max-width: inherit;
    }
    dt{
        background: #e4ddcd;
        padding: 8px;
        text-align: center;
        @include sp{
            padding: 4%;
        }
        @include vw(24);
        @include pc{
            font-size: 12px;
        }
        &.ttl-noid{
            background: #e6e6e6;
        }
    }
    dd{
        padding: 16px;
        li{
            margin-bottom: 16px;
            @include sp{
                margin-bottom: 4%;
            }
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
}
.fukidashi{
    text-align: center;
    color: $color_key;
    position: relative;
    span{
        display: inline-block;
        vertical-align: middle;
    }
    &:after{
        content: "";
        height: 2em;
        background: url(/assets/img/common/fukidashi.png) no-repeat left top;
        background-size: contain;
        display: inline-block;
        width: 2em;
        vertical-align: middle;
    }
    &:before{
        content: "";
        height: 2em;
        background: url(/assets/img/common/fukidashi.png) no-repeat left top;
        background-size: contain;
        display: inline-block;
        width: 2em;
        transform: scaleX(-1);
        vertical-align: middle;
    }
	&.is_type2{
		display: flex;
		font-size: 11px;
		@include vw(22);
		&:before,
		&:after{
			background-size: 100% 100%;
			width: 2.3em;
			height: auto;
		}
	}
}
.promotion-code{
    li{
        border-bottom: 1px solid #666;
        margin-bottom: 2%;
        padding-bottom: 4%;
        &:last-child{
            border-bottom: 0px;
            margin-bottom: 0px;
            padding-bottom: 0px;
            .promotion-code-inner{
                padding-bottom: 0px;
            }
        }
        .promotion-code-inner{
            padding:4%;
        }
        .selected{
            background: #EEE;
            .m-btn-input{
                background: #FFF;
                border: 1px solid #666;
                color: #666;
            }
        }
        h4{
            @include vw(28);
            @include pc{
                font-size: 14px;
            }
        }
        p{
            padding: 4% 0;
            font-weight: normal;
            @include vw(20);
            @include pc{
                font-size: 12px;
            }
        }
    }
}
        // バナー
        .m-bannerArea {
            @include sp {
                width: (690/750*100%);
                margin: auto;
            }
        }
        .m-bannerList {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .m-banner {
            width: 242px;
            margin-bottom: 5px;
            img {max-width: 100%;}
            @include sp {
                width: 49%;
                &:nth-child(n+3) {margin-top: 0.25em;}
            }
            a {
                &:hover {
                    opacity: .7;
                }
            }
        }

