@charset "UTF-8";
/**
 * define valiables
 * 各scssファイルでよく使う値を変数定義
 */
/**
 * easing
 */
/**
 * function
 * 値を返す
 */
/**
 * mixins
 * ブロックを返す
 */
/*
デバイス定義
 */
/*
スマホの文字指定専用（横幅640px想定）
font-sizeにvwを設定
 */
/*
clearfix
 */
/*
iOS smooth scroll
 */
/*
opacity
 */
/*
fade
 */
/* FAQ */
#pageEplus .kvSlider {
  width: 100%;
  max-width: 658px;
  margin: 0 auto 32px; }
  @media print, screen and (max-width: 750px) {
    #pageEplus .kvSlider {
      width: 100%;
      height: auto;
      margin: auto; } }
  #pageEplus .kvSlider img {
    width: 100%; }
  #pageEplus .kvSlider .slick-track {
    margin-top: -2px; }
  #pageEplus .kvSlider .slick-dots {
    bottom: 8px; }
    @media print, screen and (max-width: 750px) {
      #pageEplus .kvSlider .slick-dots {
        bottom: 1px; } }
    #pageEplus .kvSlider .slick-dots li {
      margin: 0 3px; }
      #pageEplus .kvSlider .slick-dots li button:before {
        font-size: 12px;
        color: #cecece;
        opacity: 1; }
        @media print, screen and (max-width: 750px) {
          #pageEplus .kvSlider .slick-dots li button:before {
            font-size: 10px; } }
      #pageEplus .kvSlider .slick-dots li.slick-active button:before {
        font-size: 12px;
        color: #f49c00;
        opacity: 1; }
        @media print, screen and (max-width: 750px) {
          #pageEplus .kvSlider .slick-dots li.slick-active button:before {
            font-size: 10px; } }
  #pageEplus .kvSlider .slick-prev,
  #pageEplus .kvSlider .slick-next {
    z-index: 2;
    width: 30px;
    height: 70px; }
    #pageEplus .kvSlider .slick-prev:before,
    #pageEplus .kvSlider .slick-next:before {
      content: normal; }
    #pageEplus .kvSlider .slick-prev:hover,
    #pageEplus .kvSlider .slick-next:hover {
      opacity: 0.75; }
    @media print, screen and (max-width: 750px) {
      #pageEplus .kvSlider .slick-prev,
      #pageEplus .kvSlider .slick-next {
        display: none !important; } }
  #pageEplus .kvSlider .slick-prev {
    background: url(/assets/img/icon/arrow_kv_prev.png) left top no-repeat;
    left: 8px; }
  #pageEplus .kvSlider .slick-next {
    background: url(/assets/img/icon/arrow_kv_next.png) left top no-repeat;
    right: 8px; }
@media print, screen and (max-width: 750px) {
  #pageEplus .in {
    padding: 4.2666666667vw; } }
#pageEplus .thisNote {
  color: #646464;
  font-size: 16px;
  text-align: center; }
  @media print, screen and (max-width: 750px) {
    #pageEplus .thisNote {
      font-size: 12px;
      font-size: 3.2vw; } }
  #pageEplus .thisNote ul {
    display: inline-block;
    text-align: left; }
  #pageEplus .thisNote li {
    line-height: 2; }
    #pageEplus .thisNote li + li {
      margin-top: 1em; }
  @media print, screen and (max-width: 750px) {
    #pageEplus .thisNote li {
      line-height: 1.4; } }
