@charset "utf-8";

.p{
    &-top {
        &__container{
            margin: 0 auto;
            @include sp{
                position: relative;
                z-index: 2;
                border-top: 5px solid #fff;
                overflow: hidden;
            }
        }
        &__top{
            background: #fff;
            padding-bottom: 20px;
            @include sp {
                padding-bottom: 0;
                background-color: #f7e7cd;
            }
        }
        //top linkBlock
        &__main {
            display: flex;
            justify-content: space-between;
            margin:0 auto;
            width: 1000px;
            @include sp {
                display: block;
                width: 100%;
            }
            &-left{
                width: 658px;
                margin-right: 2px;
                @include sp {
                    width: 100%;
                }
            }
            &-right{
                width: 340px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                @include sp {
                    width: 689/750*100%;
                    margin: 0 auto;
                    padding: 45/750*100% 0 55/750*100%;
                }
            }
        }
        &__banner{
            margin-bottom: 2px;
            @include sp{
                margin-bottom: -1px;
            }
        }
        //KV Slider
        &__kv {
            width: 100%;
            height: 305px;
            margin-right: 30px;
            @include sp {
                width: 100%;
                height: auto;
                margin: auto;
            }
            img {
                width: 100%;
            }
            .slick-track{
                margin-top: -2px;
            }
            .slick-dots {
                bottom: -40px;
                @include sp{
                    bottom: 1px;
                }
                li {
                    margin: 0 3px;
                    button:before {
                        font-size: 12px;
                        color: #cecece;
                        opacity: 1;
                        @include sp {
                            font-size: 10px;
                        }
                    }
                    &.slick-active button:before {
                        font-size: 12px;
                        color: $color_key;
                        opacity: 1;
                        @include sp {
                            font-size: 10px;
                        }
                    }
                }
            }
            .slick-prev,
            .slick-next {
                z-index: 2;
                width: 34px;
                height: 56px;
                @include sp {
                    display: none !important;
                }
            }
            .slick-prev {
                left: 0;
                &:hover{
                    &::before{
                        opacity: 0.6;
                    }
                }
                &::before {
                    content: url(#{$img_path}icon/arrow_kv_prev.png);
                    opacity: 0.75;
                }
            }
            .slick-next {
                right: 0;
                &:hover{
                    &::before{
                        opacity: 0.6;
                    }
                }
                &::before {
                    content: url(#{$img_path}icon/arrow_kv_next.png);
                    opacity: 0.75;
                }
            }
        }//KV Slider END
        
        //linkBlock RightArea
        &__right{
            &-Lbox{
                width: 169px;
                height: 169px;
                background: #f49c00;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2px;
                &:nth-of-type(1){
                    margin-right: 2px;
                }
                @include sp {
                    width: 156/689*100%;
                    height: auto;
                    display: inline-block;
                    background: none;
                    margin-bottom: 20/689*100%;
                }
                @include pc{
                    &:hover{
                        background: #fb7400;
                    }
                }
            }
            &-Sbox{
                width: 83.5px;
                height: 83.5px;
                background: #f49c00;
                display: flex;
                justify-content: center;
                align-items: center;
                @include sp {
                    width: 156/689*100%;
                    height: auto;
                    display: inline-block;
                    background: none;
                }
                @include pc{
                    &:hover{
                        background: #fb7400;
                    }
                }
            }
        }//linkBlock RightArea END

        &__content {
            width: 1000px;
            margin: 0 auto;
            @include sp {
                width: 100%;
            }
            &-top{
                display: flex;
                justify-content: space-between;
                width: 1000px;
                margin: 50px auto 50px;
                @include sp{
                    width: 100%;
                    margin: 50/750*100% auto 0;
                    display: block;
                }
            }
        }
        &__section {
            &.news{
                width: 570px;
                @include sp {
                    width: 100%;
                    padding-top: 50/750*100%;
                    background: #fff;
                }
            }
            &.exchange{
                width: 398px;
                @include sp {
                    width: 100%;
                }
            }
            &.recommend{
                margin-bottom: 34px;
                @include sp {
                    margin-bottom: 0;
                }
                .hidden{
                    display: none;
                    .p-top__itemList-recommend{
                        padding-top: 0;
                    }
                }
                .p-top__btnArea{
                    display: none;
                    @include sp{
                        display: block;
                    }
                }
            }
        }
        
        //newsArea
        &__newsArea {
            margin-bottom: 25px;
            width: 570px;
            @include sp {
                width: 100%;
                margin-bottom: 0;
            }
        }
        &__newsContent {
            width: 570px;
            overflow: hidden;
            background-color: #fff;
            @include sp {
                width: 100%;
                margin-bottom: 0;
            }
        }
        &__newsWrap {//2ページ分
            width: 1140px;
            display: flex;
            justify-content: space-around;
            transition: .3s;
            padding: 15px 0 35px;
            @include sp {
                width: 200%;
                margin-bottom: 0;
                padding: 0;
            }
            &.is-slide {
                transform: translate(-570px, 0);
                @include sp {
                    transform: translate(-50%, 0);
                }
            }
        }
        &__newsTabBlock {
            display: flex;
            margin-bottom: 25px;
            @include sp {
                margin-bottom: 0;
            }
        }
        &__newsTab {
            text-align: center;
            width: 370px;
            @include sp {
                width: 100%;
            }
            a {
                position: relative;
                display: block;
                font-size: 18px;
                font-weight: bold;
                padding: 10px 0;
                color: #000;
                border-bottom: 3px solid #c8c8c8;
                @include sp {
                    @include vw(24);
                    border-bottom: none;
                    background-color: #e6e6e6;
                }
                @include pc{
                    &:hover {
                        color: $color_key;
                    }
                }
                &.is-active {
                    border-bottom: 3px solid $color_key;
                    color: #000;
                    @include sp {
                        position: relative;
                        border-bottom: none;
//                        border-top: 4px solid $color_key;
                        background-color: #fff;
                        &:before {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 4px;
                            background-color: $color_key;
                            position: absolute;
                            top: -4px;
                            left: 0;
                        }
                    }
                    &:after {
                        position: absolute;
                        bottom: -18px;
                        left: 50%;
                        transform: translate(-50%,0);
                        content: "";
                        display: block;
                        border-top: 9px solid $color_key;
                        border-right: 9px solid transparent;
                        border-bottom: 9px solid transparent;
                        border-left: 9px solid transparent;
                        @include sp {
                            display: none;
                        }
                    }
                }
            }
            &--A {
                a {
                    @include sp {
                        border-right: 2px solid #b3b3b3;
                        &.is-active {
                            border-right: none;
                        }
                    }
                }
            }
            &--B {
                a {
                    @include sp {
                        border-left: 2px solid #b3b3b3;
                        &.is-active {
                            border-left: none;
                        }
                    }
                }
            }
        }
        &__newsListBlock {
            width: 525px;
            font-size: 16px;
            @include sp {
                width: 100%;
                margin-bottom: 0;
                padding: 15/750*100% 15/750*100% 25/690*100%;
                @include vw(20);
            }
        }
        &__newsList a{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ccc;
            padding: 15px 0;
            img{
                width: 100px;
            }
            @include pc{
                &:hover{
                    p span{
                        text-decoration: underline;
                    }
                    img{
                        opacity: 0.8;
                    }
                }
            }
            @include sp {
                padding: 20/690*100% 15/690*100% ;
                img{
                    width:132/750*100%;
                }
            }
            p{
                margin-left: 30px;
                font-size: 12px;
                @include sp{
                    @include vw(20);
                    margin-left: 4%;
                    color:#666;
                }
                span{
                    display: inline-block;
                    margin-bottom: 5px;
                    font-size: 16px;
                    width: 395px;
                    @include sp{
                        @include vw(24);
                        width: auto;
                        color: #222;
                    }
                }
                &.ti{//【 のスペース埋め
                    text-indent: -0.5em;
                    position: relative;
                    @include pc{
                        &::after{
                            content: '';
                            width: 1em;
                            height: 4px;
                            top: 15px;
                            left: -17px;
                            position: absolute;
                            z-index: 2;
                            background: #fff;
                        }
                    }
                    @include sp{
                        width: 100%;
                        span{
                            margin-left: 2%;
                        }
                    }
                }
            }
        }//newsArea END
        
        //exchangeArea / recommendArea
        &__itemList {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 400px;
            @include sp{
                width:100%;
                padding: 50/750*100% 30/750*100% 30/750*100%;
                margin: 0 auto;
                background: #fff;
            }
            &-recommend{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                @include sp{
                    background: #fff;
                    padding: 50/750*100% 30/750*100% 0;
                }
            }
        }
        &__item{
            width: 199px;
            @include sp {
                width: 100%;
            }
        }
        &__itemFrame {
            margin-bottom: 2px;
            position: relative;
            width: 199px;
            background: #fff;
            @include sp {
                margin-bottom: 2%;
                width: 200/690*100%;
            }
            &.new {
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: url(#{$img_path}top/new.png);
                    z-index: 2;
                    @include sp{
                        content: url(#{$img_path}top/new--sp.png);
                    }
                }
            }
            a {
                display: block;
                height: 100%;
                img {
                    transition: all .2s ease;
                }
                @include pc{
                    &:hover img {
                        transform: scale(1.07);
                    }
                }
            }
        }
        &__itemImg {
            text-align: center;
            overflow: hidden;
            @include sp{
                width: 100%;
                border: 1px solid #000;
            }
            img{
                width: 100%;
            }
        }
        &__summery {
            padding: 13px;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 110px;
            @include sp {
                @include vw(20);
                padding: 15/200*100% 0;
                height: 8em;
            }
        }
        &__itemPrice{
            margin-top: 10px;
            @include sp{
                @include vw(23);
                margin-top: 5%;
            }
        }//exchangeArea / recommendArea END
        
        //linkArea
        &__linkArea{
            margin: 0 auto;
            width: 415px;
            @include sp {
                width: 625/750*100%;
            }
            .m-btn02{
                margin-bottom: 22px;
                @include sp{
                    margin: 55/690*100% 0 35/690*100%;
                }
            }
            .m-btn03{
                margin-bottom: 55px;
                @include sp{
                    margin-bottom: 55/750*100%;
                }
            }
            .online__btn{
                display: block;
                @include sp{
                    width: 100%;
                }
                &-hover{
                    display: none;
                }
            }
            @include pc{
                a:hover{
                    .online__btn{
                        display: none;
                        &-hover{
                            display: block;
                        }
                    }
                }
            }
        }//linkArea END
        
        //tiketsBuyArea 
        &__tiketsBuy{
            background: url(#{$img_path}top/tikets_buy-bg.png) no-repeat top center;
            background-size: cover;
            padding: 50px 0 60px;
            margin-bottom: 60px;
            width: 100%;
            @include sp {
                padding:0 30/750*100% 90/750*100%;
                margin-bottom: 0;
            }
            &-ttl{
                font-size: 28px;
                color: #fff;
                text-align: center;
                @include sp{
                    @include vw(28);
                }
                span{
                    font-size: 14px;
                    display: block;
                    @include sp{
                        @include vw(28);
                    }
                }
            }
            &-txt{
                width: 520px;
                color: #fff;
                margin: 30px auto 0;
                @include sp {
                    width: 100%;
                    padding-top: 100/690*100%;
                    margin-top: 0;
                }
                span{
                    display: block;
                    margin-bottom: 10px;
                    @include sp{
                        margin-bottom: 2%;
                    }
                }
            }
        }
        //tiketsBuyArea END
        
        //infoArea
        &__infoArea {
            margin-bottom: 70px;
            width: 1000px;
            @include sp {
                margin-bottom: 0;
                width: 100%;
                background: #fff;
                padding-top: 45/750*100%;
                margin: 55/750*100% auto 0;
            }
            .info__line{
                position: relative;
            }
            .info__line span {//menu select underLine
                background:$color_key;
                height:4px;
                display:block;
                position:absolute;
                left:0;
                bottom: 0;
                overflow: visible !important;
                &::after {
                    position: absolute;
                    bottom: -15px;
                    left: 50%;
                    transform: translate(-50%,0);
                    content: "";
                    display: block;
                    border-top: 9px solid $color_key;
                    border-right: 9px solid transparent;
                    border-bottom: 9px solid transparent;
                    border-left: 9px solid transparent;
                }
                @include sp{
                   display: none;
                }
            }
        }
        &__infoContent {
            width: 1000px;
            overflow: hidden;
            background-color: #fff;
            @include sp {
                width: 100%;
                margin-bottom: 0;
            }
        }
        &__infoWrap {//2ページ分
            width: 2000px;
            display: flex;
            justify-content: space-around;
            transition: .3s;
            padding: 35px 0;
            @include sp {
                width: 200%;
                margin-bottom: 0;
                padding: 0;
            }
            &.is-slide {
                transform: translate(-1000px, 0);
                @include sp {
                    transform: translate(-50%, 0);
                }
            }
        }
        &__infoTabBlock {
            display: flex;
            margin-bottom: 25px;
            @include sp {
                margin-bottom: 0;
            }
        }
        &__infoTab {
            text-align: center;
            width: 500px;
            @include sp {
                width: 100%;
            }
            a {
                position: relative;
                display: block;
                font-size: 18px;
                font-weight: bold;
                padding: 10px 0;
                color: #000;
                border-bottom: 4px solid #c8c8c8;
                @include sp {
                    @include vw(24);
                    border-bottom: none;
                    background-color: #e6e6e6;
                }
                @include pc{
                    &:hover {
                        color: $color_key;
                    }
                }
                &.is-active {
                    border-bottom: 4px solid $color_key;
                    color: #000;
                    @include sp {
                        position: relative;
                        border-bottom: none;
//                        border-top: 4px solid $color_key;
                        background-color: #fff;
                        &:before {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 4px;
                            background-color: $color_key;
                            position: absolute;
                            top: -4px;
                            left: 0;
                        }
                    }
                    &:after {
                        position: absolute;
                        bottom: -20px;
                        left: 50%;
                        transform: translate(-50%,0);
                        content: "";
                        display: block;
                        border-top: 9px solid $color_key;
                        border-right: 9px solid transparent;
                        border-bottom: 9px solid transparent;
                        border-left: 9px solid transparent;
                        @include sp {
                            display: none;
                        }
                    }
                }
            }
            &--A {
                a {
                    @include sp {
                        border-right: 2px solid #b3b3b3;
                        &.is-active {
                            border-right: none;
                        }
                    }
                }
            }
            &--B {
                a {
                    @include sp {
                        border-left: 2px solid #b3b3b3;
                        &.is-active {
                            border-left: none;
                        }
                    }
                }
            }
        }
        &__infoListBlock {
            width: 930px;
            font-size: 16px;
            @include sp {
                width: 100%;
                margin-bottom: 0;
                padding: 15/750*100% 17/750*100%;
                @include vw(20);
            }
        }
        &__infoList {
            display: flex;
            padding: 15px 0;
            position: relative;
            margin-bottom: 30px;
            @include sp {
                padding: 20/690*100% 0 70/690*100%;
                display: block;
                border-bottom: 1px solid #999;
                margin-bottom: 40/690*100%;
            }
            &-sp{
                display: flex;
                @include sp{
                    display: flex;
                    margin-bottom: 2%;
                }
            }
            &-img{
                width: 260px;
                height: 185px;
                @include sp {
                    width: 345/690*100%;
                    height: auto;
                }
            }
            &-right{
                width: 645px;
                margin-left: 25px;
                height: 185px;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                @include sp {
                    display: block;
                    width: 345/690*100%;
                    margin-left: 3%;
                    height: auto;
                }
                &-sp{
                    display: none;
                    @include sp{
                        display: block;
                        width: 100%;
                    }
                }
            }
            &-ttl{
                font-size: 22px;
                font-weight: bold;
                padding-bottom: 12px;
                border-bottom: 1px solid #ccc;
                @include sp{
                    width: 100%;
                    @include vw(32);
                    letter-spacing: 0.1em;
                    line-height: 1.5;
                    padding-bottom: 0;
                    border-bottom: 0;
                    margin-bottom: 3.5%;
                }
            }
            &-day{
                @include sp {
                    @include vw(26);
                    margin-left: -3%;
                }
            }
            &-about{
                display: flex;
                @include sp {
                    @include vw(24);
                    margin-top: 3%;
                }
                dt{
                    width: 90px;
                    background: #efefef;
                    height: 23px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 12px;
                    font-size: 14px;
                    @include sp {
                        width: 140/690*100%;
                        margin-right: 2%;
                        letter-spacing: 0.1em;
                        @include vw(22);
                    }
                }
                dd{
                    width: 315px;
                    font-size: 14px;
                    @include sp {
                        width: 550/690*100%;
                        margin-top: 1%;
                        @include vw(22);
                    }
                }
            }
            &-limit{
                @extend .p-top__infoList-about;
            }
        }//infoArea END

        &__bottom-banner{
            width: 1000px;
            margin: 0 auto;
            @include sp{
                width: 100%;
            }
            &Wrap{
                width: 878px;
                display: flex;
                flex-wrap: wrap;
                margin: 0 auto 60px;
                @include sp {
                    width: 690/750*100%;
                    justify-content: space-between;
                }
            }
            &Img{
                margin-left: 2px;
                margin-bottom: 2px;
                @include sp{
                    width: 342/690*100%;
                    margin-left: 0;
                    margin-bottom: 1%;
                }
                @include pc{
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
        }
        
        &__btnArea {//もっと見る
            margin-top: 20px;
            text-align: right;
            @include sp {
                text-align: center;
                background: #fff;
                margin-top: 0;
                margin-bottom: 50/750*100%;
                padding-bottom: 7%;
                &.more{
                    padding-top: 5%;
                }
            }
        }
    }
}

